<div class="col-lg-12  marginLeft15">
    <div class="col-lg-12 tableHeading">
        <label>Arrived at Port</label>
        <small>({{vm.arrivedAtPortReport.length}} Transactions)</small>
        <label class="pull-right cursor-pointer" ng-click="vm.showArrivedAtPort = !vm.showArrivedAtPort">
            <!--<span ng-bind="vm.bpProducts.length + ' Product'"></span>-->
            <i  class="fa" ng-class="{'fa-chevron-circle-down':vm.showArrivedAtPort,'fa-chevron-circle-right':!vm.showArrivedAtPort}"></i>
        </label>
    </div>
</div>
<div class="col-lg-12"  ng-show="vm.showArrivedAtPort">
    <filter-bar
            date-picker-needed="true"
            date-picker="vm.arrivedAtPortDateRange"
            on-date-change="vm.getArrivedAtPortByDateRange(dateRange)">
    </filter-bar>
    <div class="dg-tablePanelBody">
        <table ng-if="(vm.arrivedAtPortReport.length ===  0)" class="table table-bordered dg-table">
            <thead>
            <tr>
                <th>
                    No report on the given date range.
                </th>
            </tr>
            </thead>
        </table>
        <table class="table table-bordered dg-table" ng-if="(vm.arrivedAtPortReport.length !==  0)">
            <thead>
            <tr>
                <th class="dateColumn">Arrived On</th>
                <th class="estimate">Days Since Arrival</th>
                <th class="fileId">File ID</th>
                <th class="dropDownCol">Buyer</th>
                <th class="dropDownCol">Product</th>
                <th class="fileId">Quantity</th>
                <th class="fileId">Rate</th>
                <th class="dropDownCol">Supplier</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="report in vm.arrivedAtPortReport">
                <td ng-bind="report.tr_dateArrived | date:vm.appFormats.Date"></td>
                <td ng-if="report.days === 0">Arrived Today</td>
                <td ng-if="report.days < 0">Will arive after {{report.days}} day(s)</td>
                <td ng-if="report.days > 0">{{report.days}} day(s) ago</td>
                <td><a ui-sref="shell.tradebook.Transaction({tran:report.tr_transactionID})">{{report.tr_fileID}}</a></td>
                <td class="cursor-pointer">
                    <a ui-sref="shell.businessPartner.view({id:report.tr_bpBuyerID})">
                        <selectize ng-disabled="true"
                                   config="vm.bpConfig"
                                   options='vm.buyersList'
                                   ng-model="report.tr_bpBuyerID">
                        </selectize>
                    </a>
                </td>
                <td class="cursor-pointer" >
                    <a ui-sref="shell.products.viewProduct({id:report.tr_productID})">
                        <selectize ng-disabled="true"
                                   config="vm.productConfig"
                                   options='vm.allProducts'
                                   ng-model="report.tr_productID">
                        </selectize>
                    </a>
                </td>
                <td ng-bind="report.tr_quantity + ' MT'"></td>
                <td ng-bind="'$'+report.tr_price"></td>
                <td class="cursor-pointer">
                    <a ui-sref="shell.businessPartner.view({id:report.tr_bpSellerID})">
                        <selectize ng-disabled="true"
                                   config="vm.bpConfig"
                                   options='vm.sellersList'
                                   ng-model="report.tr_bpSellerID">
                        </selectize>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>