<div style="padding-right: 5px;" class="dashboardContent">
    <page-header heading="Dashboard" sub-heading="Trading"></page-header>
    </br>
    <div class="row">
        <div class="col-lg-12">
            <label ng-click="vm.goToProductPrices()" class="cursor-pointer pull-right btn btn-success">
                <i class="fa fa-line-chart"></i>
                &nbsp;&nbsp;Product Prices
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-xs-12" style="padding-right: 10px;">
            <page-blue-container>
                <div class="row">
                    <div class="col-xs-12" ng-include="'src/dashboard/productPricesDashboard.template.html'">
                    </div>
                    <div class="col-xs-12 col-lg-12" ng-include="'src/dashboard/productPricesGraph.template.html'">
                    </div>
                    <div class="col-xs-12 col-lg-12" ng-include="'src/dashboard/productLocalPricesGraph.template.html'">
                    </div>
                    <div class="col-xs-12" ng-include="'src/dashboard/arrivedAtPort.template.html'"></div>
                    <div class="col-xs-12" ng-include="'src/dashboard/expectedArrivalAtPort.template.html'"></div>
                    <div class="col-xs-12" ng-include="'src/dashboard/shipmentExpirationAtPort.template.html'"></div>
                </div>
            </page-blue-container>

            <!--<page-blue-container class="tabs-panel" graph-container="false">-->
                <!--<dashboard-card heading="Product Prices ({{vm.dateSelected}}) ">-->

                    <!--<div class="row pPriceList" ng-repeat="pPrice in vm.productPricesForToday">-->
                        <!--<div class="col-xs-6 col-md-9">-->
                            <!--<selectize ng-disabled="true"-->
                                       <!--config="vm.productConfig"-->
                                       <!--options='vm.allProducts'-->
                                       <!--ng-model="pPrice.productId">-->
                            <!--</selectize>-->
                        <!--</div>-->
                        <!--<div class="col-xs-6 col-md-3">-->
                            <!--<div>-->
                                <!--<span ng-if="pPrice.price" class="price">$ {{pPrice.price}}</span>-->
                                <!--<span ng-if="!pPrice.price"class="price">Not Entered</span>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div></div>-->
                <!--</dashboard-card>-->
            <!--</page-blue-container>-->
        </div>


    </div>

</div>









