<div class="col-lg-12  marginLeft15">
    <div class="col-lg-12 tableHeading">
        <label>Shipment Expiration at Port</label>
        <label class="pull-right cursor-pointer" ng-click="vm.showExpiration = !vm.showExpiration">
            <!--<span ng-bind="vm.bpProducts.length + ' Product'"></span>-->
            <i  class="fa" ng-class="{'fa-chevron-circle-down':vm.showExpiration,'fa-chevron-circle-right':!vm.showExpiration}"></i>
        </label>
    </div>
</div>
<div class="col-lg-12"  ng-show="vm.showExpiration">
    <filter-bar
            date-picker-needed="true"
            date-picker="vm.expirationDateRange"
            on-date-change="vm.getExpirationByDateRange(dateRange)">
    </filter-bar>
    <hr/>
    <div class="dg-tablePanelBody">
        <table class="table table-bordered dg-table">
            <thead>
            <tr>
                <th>Expiration Date</th>
                <th>Days To Expiration</th>
                <th>File ID</th>
                <th>Buyer</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Rate</th>
                <th>Supplier</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="report in vm.expirationReport">
                <td ng-bind="report.tr_shipment_end | date:vm.appFormats.Date"></td>
                <td ng-if="report.days === 0">Expired Today</td>
                <td ng-if="report.days < 0">Will expire after {{report.days*-1}} day(s)</td>
                <td ng-if="report.days > 0">Expired {{report.days}} day(s) ago</td>
                <td><a ui-sref="shell.tradebook.Transaction({tran:report.tr_transactionID})">{{report.tr_fileID}}</a></td>
                <td class="cursor-pointer">
                    <a ui-sref="shell.businessPartner.view({id:report.tr_bpBuyerID})">
                        <selectize ng-disabled="true"
                                   config="vm.bpConfig"
                                   options='vm.buyersList'
                                   ng-model="report.tr_bpBuyerID">
                        </selectize>
                    </a>
                </td>
                <td class="cursor-pointer" >
                    <a ui-sref="shell.products.viewProduct({id:report.tr_productID})">
                        <selectize ng-disabled="true"
                                   config="vm.productConfig"
                                   options='vm.allProducts'
                                   ng-model="report.tr_productID">
                        </selectize>
                    </a>
                </td>
                <td ng-bind="report.tr_quantity + ' MT'"></td>
                <td ng-bind="'$'+report.tr_price"></td>
                <td class="cursor-pointer">
                    <a ui-sref="shell.businessPartner.view({id:report.tr_bpSellerID})">
                        <selectize ng-disabled="true"
                                   config="vm.bpConfig"
                                   options='vm.sellersList'
                                   ng-model="report.tr_bpSellerID">
                        </selectize>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>