<div class="col-lg-12  marginLeft15">
    <div class="col-lg-12 tableHeading">
        <label>Shipment Expiration at Port</label>
        <label class="pull-right cursor-pointer" ng-click="vm.showExpiration = !vm.showExpiration">
            <!--<span ng-bind="vm.bpProducts.length + ' Product'"></span>-->
            <i  class="fa" ng-class="{'fa-chevron-circle-down':vm.showExpiration,'fa-chevron-circle-right':!vm.showExpiration}"></i>
        </label>
    </div>
</div>
<div class="col-lg-12"  ng-show="vm.showExpiration">
    <filter-bar
            date-picker-needed="true"
            date-picker="vm.expirationDateRange"
            on-date-change="vm.getExpirationByDateRange(dateRange)">
    </filter-bar>
    <hr/>
    <div class="dg-tablePanelBody">
        <table class="table table-bordered dg-table">
            <thead>
            <tr>
                <th>Expiration Date</th>
                <th>Days To Expiration</th>
                <th>File ID</th>
                <th>Buyer</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Rate</th>
                <th>Supplier</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="pPrice in vm.productPricesForToday">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <selectize ng-disabled="true"
                               config="vm.productConfig"
                               options='vm.allProducts'
                               ng-model="pPrice.productId">
                    </selectize>
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>