<page-header heading="Transaction" sub-heading="New" button-list="vm.headerAnchor"></page-header>
<page-blue-container>
    <form>
        <div class="forms">
            <div class="row">
                <div class="col-lg-12  marginLeft15">
                    <div class="col-lg-12 tableHeading">
                        <label>Transaction Information</label>
                        <label class="pull-right cursor-pointer" ng-click="vm.showTransactionInfo = !vm.showTransactionInfo">
                            <i  class="fa" ng-class="{'fa-chevron-circle-down':vm.showTransactionInfo,'fa-chevron-circle-right':!vm.showTransactionInfo}"></i>
                        </label>
                    </div>
                    <div class="clearfix">
                        <div ng-if="vm.showTransactionInfo" class="col-lg-12">
                            <label ng-if="vm.tran === 'new'" ng-click="vm.saveBasicTransaction()" class="cursor-pointer pull-right ">
                                <i class="fa fa-database blueFont"></i>
                                &nbsp;&nbsp;Save&nbsp;&nbsp;
                            </label>
                        </div>
                    </div>

                    <div ng-if="vm.showTransactionInfo" class="clearfix">
                        <div class="form-group col-lg-4 col-xs-12 height40px">
                            <label>Date of Transaction</label>
                            <date-picker date="vm.newTransaction.tr_date" max-date="" min-date=""></date-picker>
                        </div>
                        <div class="form-group col-lg-4 col-xs-12">
                            <label>Buyer</label>
                            <selectize ng-disabled="vm.viewMode" placeholder='Please enter buyer' config="vm.bpConfig" options='vm.buyersList' ng-model="vm.newTransaction.tr_bpBuyerID"></selectize>
                        </div>
                        <div class="form-group col-lg-4 col-xs-12">
                            <label>Seller</label>
                            <selectize ng-disabled="vm.viewMode" placeholder='Please enter seller'  config="vm.bpConfig" options='vm.sellersList' ng-model="vm.newTransaction.tr_bpSellerID"></selectize>
                        </div>
                    </div>

                    <div ng-if="vm.showTransactionInfo" class="clearfix">
                        <div class="form-group col-lg-4 col-xs-12">
                            <label>Product</label>
                            <selectize ng-disabled="vm.viewMode" placeholder='Please enter product' config="vm.productConfig" options='vm.productList' ng-model="vm.newTransaction.tr_productID"></selectize>
                        </div>
                        <div class="form-group col-lg-2 col-xs-12">
                            <label>Origin</label>
                            <selectize name="pOrigin"
                                       placeholder='Origin'
                                       config="vm.singleConfig"
                                       ng-model="vm.newTransaction.tr_origin">
                            </selectize>

                        </div>
                        <div class="form-group col-lg-2 col-xs-12">
                            <label>Quantity (Mt)</label>
                            <input class="form-control" type="number" placeholder='Please enter amount in unit selected' ng-model="vm.newTransaction.tr_quantity" >
                        </div>
                        <div class="form-group col-lg-2 col-xs-12">
                            <label>Price</label>
                            <input type="number"  ng-disabled="vm.viewMode" ng-model="vm.newTransaction.tr_price" class="form-control" placeholder="Enter price/rate">
                        </div>
                        <div class="form-group col-lg-2 col-xs-12">
                            <label>Packing</label>
                            <selectize name="pOrigin"
                                       placeholder='Packing'
                                       config="vm.packingConfig"
                                       ng-model="vm.newTransaction.tr_packing">
                            </selectize>
                        </div>

                    </div>

                    <div ng-if="vm.showTransactionInfo"  class="clearfix">
                        <div class="form-group col-lg-2 col-xs-12">
                            <label>Shipment Begin</label>
                            <date-picker date="vm.newTransaction.tr_shipment_start" max-date="" min-date=""></date-picker>
                        </div>
                        <div class="form-group col-lg-2 col-xs-12">
                            <label>Shipment End</label>&nbsp;&nbsp; <input type="checkbox" ng-disabled="vm.newTransaction.tr_shipment_start === null" ng-model="vm.newTransaction.tr_shipment30days">&nbsp;<label  class="font30days"> 30 days</label>
                            <date-picker disabled="vm.newTransaction.tr_shipment_start === null"  date="vm.newTransaction.tr_shipment_end" max-date="" min-date="vm.newTransaction.tr_shipment_start"></date-picker>
                        </div>
                        <div class="form-group col-lg-4 col-xs-12">
                            <label>File Id</label>
                            <input class="form-control" ng-disabled="vm.viewMode" placeholder='Please enter file id'ng-model="vm.newTransaction.tr_fileID">
                        </div>
                        <div class="form-group col-lg-4 col-xs-12">
                            <label>Contract Id</label>
                            <input class="form-control" type="text" ng-disabled="vm.viewMode" placeholder='Please enter contract id' ng-model="vm.newTransaction.tr_contractID">
                        </div>
                    </div>

                    <div ng-if="vm.showTransactionInfo" class="clearfix">
                        <div class="form-group col-lg-12 col-xs-12">
                            <label>Other Info</label>
                            <textarea ng-model="vm.newTransaction.tr_other_info" class="form-control" ></textarea>

                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12  marginLeft15">
                    <div class="col-lg-12 tableHeading">
                        <label>Contract Information</label>
                        <label class="pull-right cursor-pointer" ng-click="vm.showContractInfo = !vm.showContractInfo">
                            <i  class="fa" ng-class="{'fa-chevron-circle-down':vm.showContractInfo,'fa-chevron-circle-right':!vm.showContractInfo}"></i>
                        </label>
                    </div>
                    <div ng-if="vm.showContractInfo" class="form-group col-md-4 col-xs-12 row">
                        <div class="col-md-6">
                            <label>Doni Contact</label>
                            <input name="contractType"  type="checkbox" ng-model="vm.newTransaction.tr_doniContract"/>
                        </div>
                        <div class="col-md-6">
                            <label>Own Contract</label>
                            <input name="contractType"   type="checkbox" ng-model="vm.newTransaction.tr_ownContract"/>
                        </div>
                    </div>
                    <div ng-if="vm.showContractInfo" class="form-group col-md-8 col-xs-12 pull-right">
                        <label>Contractual Buyer</label>
                        <selectize ng-disabled="!vm.newTransaction.tr_doniContract && !vm.newTransaction.tr_ownContract" placeholder='Please enter contractual Buyer involved' config="vm.bpConfig" options='vm.buyersList' ng-model="vm.newTransaction.tr_contractualBuyer"></selectize>
                    </div>
                </div>
            </div>
            <div class="row" ng-include="'src/tradebook/addTransaction/addCommissionDetails.html'"></div>
            <div class="row" ui-view="shipmentDetails"></div>
            <div class="row">
                <div class="col-lg-12  marginLeft15">
                    <div class="col-lg-12 tableHeading">
                        <label>Transaction Status</label>
                        <label class="pull-right cursor-pointer" ng-click="vm.showStatus = !vm.showStatus">
                            <i  class="fa" ng-class="{'fa-chevron-circle-down':vm.showStatus,'fa-chevron-circle-right':!vm.showStatus}"></i>
                        </label>
                    </div>

                    <div ng-if="vm.showStatus" class="form-group col-lg-4">
                        <label>Status</label>
                        <selectize placeholder='Please enter transaction status' config="vm.transactionStatusConfig" ng-model="vm.newTransaction.tr_transactionStatus"></selectize>
                    </div>
                    <div ng-if="vm.showStatus" class="form-group col-lg-4">
                        <label>Washout at X Value</label>
                        <input placeholder="Enter washout value" type="number" class="form-control" ng-model="vm.newTransaction.tr_washOutValue"/>
                    </div>

                </div>
            </div>
            <div class="row" ui-view="secondaryTransaction"></div>
            <div class="row" ui-view="documents"></div>
            <div class="row" ui-view="notes"></div>

        </div>


        <div class="form-group  col-xs-12 border-top-black marginTop5">
            <button type="submit" class="btn btn-default submitBtn marginLeft15" ng-click="vm.saveTransaction()">Save Transaction</button>
            <button type="submit" class="btn btn-default" ui-sref="^">Cancel</button>
        </div>
        </br>

    </form>
</page-blue-container>

