
<div class="col-lg-12  marginLeft15">
    <div class="col-lg-12 tableHeading">
        <label>Contact Information</label>
        <label class="pull-right" ng-if="!vm.showBankDetailForm">
            <i ng-click="vm.addBankDetails()" class="fa fa-plus-circle orangeFont"></i>
        </label>
    </div>
    <div class="col-lg-12" >
        <form ng-if="vm.showBankDetailForm" name="vm.contactForm" novalidate>
            <div class="col-lg-12 innerHeading">
                <label>Add New Contact Number</label>
                <label class="pull-right">
                    <i class="fa fa-trash deleteTrash" ng-click="vm.subBankDetails()"></i>
                    <button type="submit"><i class="fa fa-save saveButton" ng-click="vm.saveBankDetails()"></i></button>

                </label>
            </div>

            <div class="row">
                <div class="form-group col-xs-6">
                    <label>Contact Number</label>
                    <input class="form-control" type="text" name="contactNumber"
                           ng-disabled="vm.viewMode" ng-required="true"
                           placeholder='021-123-1456'
                           ng-model="vm.businessPartner.newContactNumber.contactNumber"/>
                    <div ng-messages='vm.contactForm.accountTitle.$error'
                         ng-if='vm.contactForm.accountTitle.$dirty || vm.contactForm.$submitted'>
                        <div class="errorValidation" ng-message="required">Account title is required</div>
                        <div class="errorValidation" ng-message="pattern">Invalid account title</div>
                    </div>
                </div>
                <div class="form-group col-lg-6">
                    <label>Contact Type</label>
                    <selectize name="accountCountry" ng-required="true" placeholder='Please enter country of bank account' config="vm.singleConfig" ng-model="vm.businessPartner.newBankDetails.accountCountry"></selectize>
                    <ng-messages for="vm.contactForm.accountCountry.$error" ng-if='vm.contactForm.accountCountry.$dirty || vm.contactForm.$submitted'>
                        <div ng-message="required" class="errorValidation">Country of Bank Account is required</div>
                    </ng-messages>
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-12" ng-repeat="bank in vm.businessPartner.bank">
        <div class="col-lg-12 innerHeading">
            <label>Contact Number {{$index + 1}}</label>
            <label class="pull-right">
                <i class="fa fa-trash deleteTrash" ng-click="vm.deleteBankAccount(bank.bankDetails_ID,bp_ID)"></i>
            </label>
        </div>
        <div class="form-group col-xs-12 col-lg-4">
            <label>Contact Number</label>
            <p>{{bank.accountTitle}}</p>
        </div>
        <div class="form-group col-xs-12 col-lg-4">
            <label>Contact Type</label>
            <p>{{bank.accountTitle}}</p>
        </div>

    </div>
</div>
