<form name="vm.contactPersonForm" novalidate>
    <div class="col-lg-12  marginLeft15">
        <div class="col-lg-12 tableHeading">
            <label>Contact Person Information</label>
            <label class="pull-right">
                <i ng-click="vm.addContactPerson()" class="fa fa-plus-circle orangeFont"></i>
            </label>
        </div>
        <div class="col-lg-12" ng-repeat="contactPerson in vm.businessPartner.contactPerson">
            <div class="col-lg-12 innerHeading">
                <label>Add New Contact Person</label>
                <label class="pull-right">
                    <i class="fa fa-trash deleteTrash" ng-click="vm.subContactPerson('Contact Person Detail '+($index+1), $index)"></i>
                    <!--&nbsp;&nbsp;-->
                    <!--<i class="fa fa-pencil editPen"></i>-->
                </label>
            </div>
            <div class="form-group col-xs-offset-8 col-xs-4">
                <input type="checkbox" class="bpChecks"
                       ng-model="vm.businessPartner.contactPerson[$index].isPrimary">
                <p class="form-control-static"><b>Is Primary Contact</b></p>
            </div>
            <div class="form-group col-xs-12">
                <label>Contact Person Full Name</label>
                <input class="form-control" type="text" name="cpName_{{$index}}"
                       ng-disabled="vm.viewMode" ng-required="true"
                       placeholder='Please enter contact person full name'
                       ng-model="vm.businessPartner.contactPerson[$index].fullName"/>
                <div ng-messages='vm.contactPersonForm["cpName_" + $index].$error'
                     ng-if='vm.contactPersonForm["cpName_" + $index].$dirty || vm.contactPersonForm.$submitted'>
                    <div class="errorValidation" ng-message="required">Contact person full name required</div>
                </div>
            </div>
            <div class="form-group col-xs-12">
                <label>Contact Person Designation</label>
                <input class="form-control" type="text" name="cpRole_{{$index}}"
                       ng-disabled="vm.viewMode" ng-required="true"
                       placeholder='Please enter contact person deignation'
                       ng-model="vm.businessPartner.contactPerson[$index].role"/>
                <div ng-messages='vm.contactPersonForm["cpRole_" + $index].$error'
                     ng-if='vm.contactPersonForm["cpRole_" + $index].$dirty || vm.contactPersonForm.$submitted'>
                    <div class="errorValidation" ng-message="required">Contact person deignation required</div>
                </div>
            </div>
            <div class="form-group col-xs-12">
                <label>Contact Person Email</label>
                <input class="form-control" type="text" name="cpEmail_{{$index}}"
                       ng-pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
                       ng-disabled="vm.viewMode" ng-required="true"
                       placeholder='Please enter contact person full name'
                       ng-model="vm.businessPartner.contactPerson[$index].email"/>
                <div ng-messages='vm.contactPersonForm["cpEmail_" + $index].$error'
                     ng-if='vm.contactPersonForm["cpEmail_" + $index].$dirty || vm.contactPersonForm.$submitted'>
                    <div class="errorValidation" ng-message="required">Contact person full name required</div>
                    <div class="errorValidation" ng-message="pattern">Invalid contact Person Email</div>
                </div>
            </div>
            <div class="form-group col-lg-6 col-sm-12">
                <label>Primary Contact Number</label>
                <input class="form-control" type="text" name="cpPc1_{{$index}}"
                       ng-disabled="vm.viewMode" ng-required="true"
                       ng-pattern="^\+?[0-9\-]+\*?$"
                       placeholder='Please enter contact person full name'
                       ng-model="vm.businessPartner.contactPerson[$index].phoneNumber1"/>
                <div ng-messages='vm.contactPersonForm["cpPc1_" + $index].$error'
                     ng-if='vm.contactPersonForm["cpPc1_" + $index].$dirty || vm.contactPersonForm.$submitted'>
                    <div class="errorValidation" ng-message="required">Contact person primary contact number required</div>
                    <div class="errorValidation" ng-message="pattern">Invalid contact number</div>
                </div>
            </div>
            <div class="form-group col-lg-6 col-sm-12">
                <label>Secondary Contact Number</label>
                <input class="form-control" type="text"  name="cpPc2_{{$index}}"
                       ng-pattern="^\+?[0-9\-]+\*?$"
                       ng-disabled="vm.viewMode" ng-required="false"
                       placeholder='Please enter contact person full name'
                       ng-model="vm.businessPartner.contactPerson[$index].phoneNumber2"/>
                <div ng-messages='vm.contactPersonForm["cpPc2_" + $index].$error'
                     ng-if='vm.contactPersonForm["cpPc2_" + $index].$dirty || vm.contactPersonForm.$submitted'>
                    <div class="errorValidation" ng-message="pattern">Invalid contact number</div>
                </div>
            </div>
        </div>
    </div>
</form>