<div class="col-lg-12  marginLeft15">
    <div class="col-lg-12 tableHeading">
        <label>Transaction Status</label>
        <label class="pull-right cursor-pointer" ng-click="vm.showStatus = !vm.showStatus">
            <i  class="fa" ng-class="{'fa-chevron-circle-down':vm.showStatus,'fa-chevron-circle-right':!vm.showStatus}"></i>
        </label>
    </div>

    <div class="clearfix">
        <div ng-if="vm.showStatus" class="col-lg-12">
            <label ng-click="vm.cancel()" class="cursor-pointer pull-right" ng-if="vm.tran !== 'new' && vm.editMode">
                &nbsp;&nbsp;
                <i class="fa fa-times-circle redFont"></i>
                &nbsp;&nbsp;Cancel
            </label>
            <label ng-if="!vm.editMode" ng-click="vm.editTransactionStatus()" class="cursor-pointer pull-right ">
                <i class="fa fa-edit orangeFont"></i>
                &nbsp;&nbsp;Edit&nbsp;&nbsp;
            </label>
            <label ng-if=vm.editMode ng-click="vm.saveTransactionStatus()" class="cursor-pointer pull-right ">
                <i class="fa fa-database blueFont"></i>
                &nbsp;&nbsp;Save&nbsp;&nbsp;
            </label>
        </div>
    </div>

    <div ng-if="vm.showStatus" class="form-group col-lg-4">
        <label>Status</label>
        <selectize placeholder='Please enter transaction status' config="vm.transactionStatusConfig" ng-model="vm.transactionStatus.tr_transactionStatus"></selectize>
    </div>
    <div ng-if="vm.showStatus && vm.transactionStatus.tr_transactionStatus === 'Washout at X'" class="form-group col-lg-4">
        <label>Washout at X Value</label>
        <input placeholder="Enter washout value" type="number" class="form-control" ng-model="vm.transactionStatus.tr_washOutValue"/>
    </div>
</div>