<div class="login-page">
    <div class="form">
        <form class="login-form" name="vm.signIn" novalidate>
            <input type="text"
                   name="email"
                   ng-pattern="/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i"
                   ng-model="vm.email"
                   required
                   placeholder="email"/>
            <ng-messages for="vm.signIn.email.$error" ng-if='vm.signIn.$submitted'>
                <div ng-message="required" class="errorValidation2">Please enter your email.</div>
                <div ng-message="pattern" class="errorValidation2">Please enter a valid email.</div>
            </ng-messages>
            <input type="password" placeholder="password" name="password" required ng-model="vm.pass"/>
            <ng-messages for="vm.signIn.password.$error" ng-if='vm.signIn.$submitted'>
                <div ng-message="required" class="errorValidation2">Please enter your password.</div>
            </ng-messages>
            <button ng-click="vm.login()">login</button>
        </form>
    </div>
</div>

<!--<form id="signIn" name="form">-->
<!--<div id="block">-->
<!--<label id="user" for="name"><i class="fa fa-user"></i></label>-->
<!--<input type="text" name="name" id="name" placeholder="Username" ng-model="vm.email" required/>-->
<!--<label id="pass" for="password"><i class="fa fa-key"></i></label>-->
<!--<input type="password" name="password" id="password" placeholder="Password" required ng-model="vm.pass"/>-->
<!--<a id="submit" ng-click="vm.login()">-->
<!--<i class="fa fa-arrow-right"></i>-->
<!--</a>-->
<!--</div>-->
<!--</form>-->
<!--<div id="option"> -->
<!--<p ng-if="!vm.hideLogin">Login</p>-->
<!--<p ng-if="vm.invalidUserNamePass" class="errorMsg">{{vm.message}}</p>-->
<!--</div>-->
