@import url('http://fonts.googleapis.com/css?family=Open+Sans');

#loading-bar .bar {
  background: #333;
  height: 4px;
}
#loading-bar-spinner .spinner-icon {
  border-top-color:  #333;
  border-left-color: #333;
}


#signIn label{
	font-family:icon;
	text-shadow:0 -1px 0 #666;
	-webkit-font-smoothing: antialiased; 
}
#block,#option{
	width:230px;
	height:113px;
	margin:auto;
}
#block{
	background:$baseColor;
	margin-top:100px;
}
#block:before{
	content:'';
	display:block;
	width:230px;
	height:3px;

}
#block:after{
	content:'';
	display:block;
	width:15px;
	height:15px;
	background:$baseColor;
	transform:rotate(-45deg);
	margin:10px 18px;
	position:absolute;
}
#block label, #submit{
	position:absolute;
	width:33px;
	height:32px;
	background:#dedede;
	margin:15px;
	text-align:center;
	line-height:2.6;
	border-top-left-radius:2px;
	border-bottom-left-radius:2px;
}
.errorMsg{
	font-size:12px !important;
	color:$baseColor;
	text-transform: none !important; 	
}
#block label#pass{
	position:absolute;
	width:33px;
	background:#dedede;
	margin:-5px 15px;
}
#submit{
	color:#eee;
	border:0;
	margin:-27px 182px;
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
	border-top-right-radius:2px;
	border-bottom-right-radius:2px;
	font-family:icon;
	background:#333;
	font-size:12px;
	line-height:2.8;
	padding:0;
}
#submit:hover{
	color:#eee;
	cursor: pointer;
	background:#3d3d3d;
}
#user, #pass{
	box-shadow:0.1px 0 2px #6c5B6d;
}
#block input[type=text],#block  input[type=password], #option p {
	font-family:'Open Sans';
	font-weight:300;
	-webkit-font-smoothing: antialiased;
}
#block input[type=text],#block  input[type=password]{
	width:200px;
	height:32px;
	margin:15px 15px;
	border:0;
	border-radius:2px;
	outline:0;
	display:block;
	font-size:18px;
}
#block input[type=password]{
	width:200px;
	height:32px;	
	margin:-5px 15px;
}
#submit{
	font-size:12px;
	font-weight:bold;
}
#option{
	width:230px;
	height:80px;
	overflow:hidden;
	margin:auto;
}
#option p{
	font-size:24px;
	text-transform:uppercase;
	padding:0px 18px;
	margin-top:15px;
	display:block;
	float:left;
	-webkit-font-smoothing: antialiased;
/*text-shadow:0 -1px 0 #000;*/	
}
#option a{
	-webkit-font-smoothing: antialiased;
	/*text-shadow:0 -1px 0 #000;*/
	font-size:12px;
	display:block;
	float:right;
	margin:26px 15px;
}

#signIn input{padding-left:40px;}
#block:active > #block:before{
	background-position:100px 100px;
}
.orangeBg{
    background: #F47414 !important;
}
.submitBtn {
  background: $baseColor !important;
  color: #ddd;
  border:none;
}
.submitBtn:hover{
  opacity: 0.9;
  color: #ddd !important;
}
.blueBorder{
	border: 1px solid $baseColor;
}
.filterHeading{
  color:$baseColor;
  font-weight: bold;
  font-size: 11px;
}
.singleFilterHeading{
  padding-top: 4px;
  font-weight: bold;
  font-size: 12px
}
button,a:focus {outline:0;}
input, textarea, select, a, button { outline: none; }

.panel-default > .panel-heading {
  color: #ddd;
  background-color: #333333;
  border-color: #ddd;
}
.myDatePicker{
  cursor: pointer;
  padding: 5px 10px;

//  background: #FFFFFF;
  font-weight: bold;
  font-size: 12px;
  .dg-filterDropdown{
    background: linear-gradient(to bottom, #f7f7f7 0%, #eaeaea 100%);
    //border: 1px solid #ccc;
    border: 1px solid #1691AC;
    box-shadow: 0px 0.5px 0px 1px #ccc ;
    padding-left: 60px;
    padding: 5px 25px 5px 35px;
    position: relative;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;

  }
  &:after{
    font-family: 'FontAwesome';
    position: absolute;
    content: "\f0d7";
    top: 14px;
    z-index: 10;
    right: 45px;
  }
  &:before{
    font-family: 'FontAwesome';
    position: absolute;
    left: 38px;
    content: "\f073";
    top: 14px;
    z-index: 10;
  }

}
.bpChecks{
  float: left;
  margin-right: 10px !important;
  margin-top: 6px !important;
}

.marginLeft15{
  margin-left: -15px !important;
}

.addSubtract{
  margin-left:10px;
  cursor: pointer;
}
.addSubtract:hover{
  color: #F47414 !important;
}

.largerFont{
  font-size: larger;
}
//
//.tags .tag-list .tag-item{
//  background:#333 !important;
//  color:#eee !important;
//  font-size:10px;
//}
.tags{
  box-shadow: none !important;
  width:99% !important;
  border: 1px solid #ccc !important;
  border-radius: 3px;
}
.tags .tag-item.selected {
  background: #F47414 !important
}
//
//.tags .input{
//  width:100% !important;
//  font:inherit !important;
//  font-style: italic !important;
//  color:#333 !important;
//}


.paddingRow{
  padding-left: 5px;
}

tbody tr td{
  font-weight: bold;
}

tbody tr td a{
  text-decoration: underline;
}
.marginTop1{
  margin-top: 20px;
}

.tableHeading{
  border-bottom:1px solid #1691AC;
  margin-left: 15px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #333333;
  margin-top:20px;

  font-weight: bolder;
    label{
      margin-left:-15px;
    }
}

.innerHeading{
  border-bottom:1px solid #cccccc;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: bolder;
  &:first-child{
    color:$baseColor;
  }
  label{
    margin-left:-15px;
  }
  button{
    color:#333333;
  }
}

.width96{
  width:96%;
}

textarea{
  border-radius: 2px;
  border: 1px solid #D0D0D0;
  padding-top: 10px;
  font-size: 12px;
}

.formCheckBox{
  input{
    height:20px;
    margin-left: 20px;
  }
  label{
    height:20px;
  }
}

.marginTop5{
  margin-top: 5px;
}

.subTableHeading{
  margin-left: 1px;
  margin-top: 0px;

}
.width106{
  width:104% !important;
}

.datePickerAddTran{
  top: -34px;
  right: 0;
  button{
    margin-left: calc(100% - 39px) !important;
  }
}

.marginTop50{
  margin-top: -50px !important;
}

.btn-info {
  color: #fff !important;
  background-color: #1691AC !important;
  border-color: #333333 !important;
}

.btn-danger {
  color: #fff;
  background-color: #44A6BC !important;
  border-color: #333333 !important;
}

.btn-success {
  color: #fff;
  background-color: #333333 !important;
  border-color: #AFAFAF !important;
}

.btn-success:hover{
  background-color: #333356 !important;
}

.width33{
  width: 24%;
  float: left;
  margin-left: 16px;
}

*:before, *:after {
  -webkit-box-sizing: none !important;
  -moz-box-sizing: none !important;
  box-sizing: none !important;
}