$baseColor: #1691ac;
$fontPrimary: "Open Sans", Arial;
$fontSecondary: "Questrial", Arial;
$transitionValue: all 0.3s ease-in-out;
$orangeColor: #F47414;
$redColor: #E30C2C;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

@mixin transition($transitionValue) {
  -webkit-transition: $transitionValue;
  -moz-transition: $transitionValue;
  -ms-transition: $transitionValue;
  -o-transition: $transitionValue;
  transition: $transitionValue;
}

@mixin placeholderColor($placeholderColorValue) {
  input::-webkit-input-placeholder {
    color: $placeholderColorValue;
  }
  input:-moz-placeholder {
    /* Firefox 18- */
    color: $placeholderColorValue;
  }
  input::-moz-placeholder {
    /* Firefox 19+ */
    color: $placeholderColorValue;
  }
  input:-ms-input-placeholder {
    color: $placeholderColorValue;
  }
}

@mixin boxShadow($boxShadowValue) {
  -webkit-box-shadow: $boxShadowValue;
  -moz-box-shadow: $boxShadowValue;
  box-shadow: $boxShadowValue;
}

@mixin sameWidthHeight($sameWidthHeightValue) {
  width: $sameWidthHeightValue;
  height: $sameWidthHeightValue;
}

.cm-offset-0, .cm-offset-single-0 {
  padding: 0 !important;
}

.cm-offset-left-0 {
  padding-left: 0 !important;
}

.cm-offset-right-0 {
  padding-right: 0 !important;
}

body, html {
  font-size: 12px;
  height: 100%;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  color: #333;
  font-family: 'Open Sans', Arial;
  font-weight: normal;
  -webkit-text-size-adjust: 100%;
  background:#f5f5f5;
}

object, embed, a, a:focus, a:active,
button::-moz-focus-inner,
input:focus,
input[type="reset"]::-moz-focus-inner,
button:focus,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  outline: 0 !important;
}

a {
  cursor: pointer;
  color: inherit;
  @include transition($transitionValue);
  &:hover{
    text-decoration: none;
  }
  &:focus{
    text-decoration: none;
  }
}
.cursor-pointer{
  cursor:pointer;
}
input::-moz-focus-inner {
  border: 0;
}

img {
  border: none;
}

.dg-btn{
  @include transition(all 0.1s ease-in-out);
  &:hover{
    text-decoration: none;
  }
  &:active{
    outline: 0;
    @include boxShadow(inset 0 3px 5px rgba(0,0,0,.125));
    text-decoration: none;
  }
  &:focus{
    text-decoration:none;
  }
}

/* Header */

.dg-header{
  background:none;
  @include boxShadow(0px 2px 3px 0px rgba(0, 0, 0, 0.4));
  position: fixed;
  top:0;
  left:0;
  width:100%;
  z-index: 1000;
  .dg-topBar{
    background:$baseColor;
    .dg-logo{
      background:url(/images/logo/logo.png) no-repeat center;
      width:168px;
      height:38px;
      display:block;
      float:left;
      margin:5px 0;
    }
    .dg-headerExtraLinks{
      margin: 12px 0 0 0;
      padding: 0;
      list-style: none;
      float: right;
      li{
        float:left;
        margin:0 0 0 10px;
        padding: 0;
        a{
          display: block;
          padding: 3px 15px;
          font-size: 10px;
          color: #fff;
          border-radius: 20px;
          background: rgba(255, 255, 255, 0.2);
          text-transform: uppercase;
          font-weight: bold;
          &:hover{
            background: rgba(0, 0, 0, 0.2);
          }
        }
      }
    }
  }
  .dg-mainNavBar{
    margin:0;
    background:#333;
    border:none;
    border-radius:0;
    .navbar-collapse{
      padding:0;
      .navbar-nav{
        li{
          a{
            color: #eee;
            font-weight: 600;
            padding: 13px 20px 0;
            height: 50px;
            border-right:1px solid rgba(0,0,0,0.1);
            &:hover{
              background:#333 + 10;
            }
          }
          &.active{
            a{
              background:#000;
            }
          }
        }
      }
    }
  }
}

/* Header */

/* Content */

.dg-mainContentWrapper{
  display: table;
  width: 100%;
  table-layout: fixed;
  overflow: auto;
  height: 100%;
  padding-top: 98px;
  position: relative;
  .dg-sideBarContentLayout{
    display: table-row;
    height: 100%;
    .dg-sideBarWrapper{
      background-color: #ffffff;
      vertical-align: top;
      width: 256px;
      display: table-cell;
      border-right:1px solid #ddd;
      padding:20px 10px;
      position: relative;
      overflow: hidden;
      &.dg-close{
        width:0;
      }
      input{
        z-index:0;
      }
    }
    .dg-innerContentWrapper{
      vertical-align: top;
      width: 100%;
      display: table-cell;
      padding: 30px 15px 30px 30px;
      position: relative;
      .dg-sideBarExpandBtn{
        position: absolute;
        left: -1px;
        top: 30px;
        font-size: 14px;
        padding: 3px 6px 4px 4px;
        background: $baseColor;
        color:#fff;
        border-radius: 0 6px 6px 0;
      }
    }
  }
}

.dg-sBWidget{
  margin-bottom:20px;
  .dg-sBWidgetHeader{
    background:$baseColor;
    color:#fff;
    border-radius:5px 5px 0 0;
    overflow:hidden;
    padding:5px 15px;
    .dg-sBWidgetTitle{
      font-size:11px;
      text-transform:uppercase;
      font-weight: bold;
      letter-spacing: 1px;
      float:left;
    }
    .dg-sBWidgetHeaderLink{
      float:right;
      font-size:10px;
      color:#fff;
      display:block;
    }
  }
  .dg-sbWidgetBody{
    padding:10px 0;
  }
}

.dg-form{
  .form-group{
    .form-control{
      border-radius:1px;
      @include boxShadow(none);
    }
  }
}

.dg-miniForm{
  label{
    font-size:12px;
  }
  .checkbox{
    margin:5px 0;
  }
  .form-group{
    margin-bottom:5px;
    .form-control{
      height: 27px;
      padding: 4px 12px;
      font-size: 12px;
    }
    .input-group-addon {
      padding: 4px 12px;
    }
  }
}

.dg-sideBarListNav{
  margin:0;
  padding: 0;
  list-style: none;
  li{
    margin:0 0 1px 0;
    padding: 0;
    background:#f5f5f5;
    position: relative;
    &:before{
      content:" ";
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 4px 0 4px 3px;
      border-color: transparent transparent transparent $baseColor;
      left: 10px;
      top: 8px;
    }
    a, a:focus{
      font-size:12px;
      padding:3px 12px 3px 24px;
      display: block;
      &:hover{
        background:#f5f5f5 - 10;
      }
    }
  }
}

.dg-pageHeader{
  .dg-pageHeaderTop{
    .dg-pageTitle{
      margin:0;
      padding: 0;
      font-size:25px;
      font-weight: bold;
      text-transform:capitalize;
      float:left;
      .dg-pageMiniTitle{
        font-size:16px;
        display:block;
      }
    }
    .dg-pageExtraLinks{
      list-style: none;
      margin:12px 0 0 0;
      padding: 0;
      float:right;
      li{
        border-right:1px dashed #ccc;
        float:left;
        &:last-child{
          border:none;
        }
        a, a:focus{
          display: block;
          padding:2px 10px;
          font-size:11px;
          color:#999;
          font-weight: 600;
          &:hover{
            text-decoration:underline;
          }
        }
      }
    }
  }
  .dg-backToLink{
    font-size:11px;
    display: inline-block;
    text-transform: uppercase;
    color:$baseColor;
    font-weight: 600;
    margin-top:10px;
    .fa{
      font-size: 14px;
      margin-right: 5px;

    }
  }
}

.dg-pageActionsLinks{
  text-align: center;
  margin:20px 0 0 0;
  padding: 0;
  list-style: none;
  > li{
    display:inline-block;
    margin:0 3px;
    > a, > a:focus{
      display: block;
      background: #fff;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 2px 16px;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f7f7+0,eaeaea+100 */
      background: rgb(247,247,247); /* Old browsers */
      background: -moz-linear-gradient(top,  rgba(247,247,247,1) 0%, rgba(234,234,234,1) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,1)), color-stop(100%,rgba(234,234,234,1))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(234,234,234,1) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(234,234,234,1) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(234,234,234,1) 100%); /* IE10+ */
      background: linear-gradient(to bottom,  rgba(247,247,247,1) 0%,rgba(234,234,234,1) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
      .caret{
        margin-left: 5px;
        position: relative;
        top: -1px;
      }
      &:hover{
        background:$baseColor;
        border-color:$baseColor - 10;
        color:#fff;
      }
    }
  }
}

.dropdown-menu{
  font-size:12px;
}

.search-control {
  font-size: 12px;
  height: 27px;
  padding: 4px 20px 4px 12px;
  border-radius: 2px;
  display: inline-block;
  background:url(/images/icons/search-mini-icon.png) no-repeat right center;
}

.dg-table{
  background:#fff;
  font-size:12px;

  .dg-tableActionBtn, .dg-tableActionBtn:focus, .dg-tableActionBtn:hover{
    display: inline-block;
    margin:0;
    padding: 0 2px 0 5px;
    color:$baseColor - 20;
    font-weight: 600;
    font-size: 15px;
  }
  input[type="checkbox"]{
    position: relative;
    top:2px;
  }
  .dg-checkBoxTxt{
    margin-right:5px;
  }
  tbody>tr>td, tbody>tr>th, tfoot>tr>td, tfoot>tr>th, thead>tr>td, thead>tr>th{
    padding:4px 8px;
    line-height: 25px;
  }
  thead{
    tr{
      color:#fff;
      background:#1691AC;
      th{
        border-bottom:none;
      }
    }
  }
}

.dg-tablePanelWrap{
  background:#fff;
  padding:10px;
  border-radius: 5px;
  margin:20px 0;
  border:1px solid #ddd;
  .dg-tablePanelHead{
    margin:0 0 15px 0;
    .dg-tablePanelTitle{
      float:left;
      font-size:16px;
      font-weight: 600;
      small{
        font-size:11px;
        display: block;
      }
    }
    .dg-pageActionsLinks{
      float: right;
      margin:0;
    }
  }
}

.dg-collapsePanelWrap{
  background:#fff;
  padding:10px;
  border-radius: 5px;
  margin:20px 0;
  border:1px solid #ddd;
  .dg-collapsePanelHead{
    font-size:16px;
    font-weight: 600;
    display: block;
    color:#333;
    .dg-arrowClose{
      display:none;
    }
    &.collapsed{
      .dg-arrowClose{
        display:inline-block;
      }
      .dg-arrowOpen{
        display:none;
      }
    }
  }
}

.dg-infoDivTable{
  margin:20px 0;
  .form-group{
    margin:0;
    padding:3px 0;
    border-bottom:1px solid #ddd;
  }
  .form-control, .form-control:focus{
    height: 27px;
    padding: 4px 0;
    border:none;
    color:#333;
    @include boxShadow(none);
  }
  .form-control::-webkit-input-placeholder {
    font-style: italic;
  }
  .form-control:-moz-placeholder {
    /* Firefox 18- */
    font-style: italic;
  }
  .form-control::-moz-placeholder {
    /* Firefox 19+ */
    font-style: italic;
  }
  .form-control:-ms-input-placeholder {
    font-style: italic;
  }
  .control-label {
    padding-top: 5px;
    margin-bottom: 0;
    text-align: left;
  }
  .form-control-static {
    min-height: 27px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.form-control{
  font-size:12px;
  border-radius:3px;
  @include boxShadow(none);
}

.dg-tabPanelWrap{
  .nav-tabs>li>a {
    font-size: 13px;
    font-weight: bold;
  }
  .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    color:$baseColor
  }
  .tab-content{
    background:#fff;
    border:1px solid #ddd;
    border-top:none;
    padding:10px;
  }
}

.dg-filterPanel{
  background: #FFF;
  border: 1px solid #1691AC;
  padding: 10px;
  margin: 20px 0;
}

.dg-filterDropdown{
  cursor: pointer;
  position: relative;
  .dg-filterDropdownField{
    border:1px solid #ccc;
    padding:5px 25px 5px 12px;
    position: relative;
    border-radius:5px;
    font-weight: 600;
    background: rgb(247,247,247); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(247,247,247,1) 0%, rgba(234,234,234,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,1)), color-stop(100%,rgba(234,234,234,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(234,234,234,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(234,234,234,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(234,234,234,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(247,247,247,1) 0%,rgba(234,234,234,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
    .caret{
      display: block;
      position: absolute;
      right: 9px;
      top: 11px;
    }
  }
  .dg-filterDropdownMenu{
    background:#fff;
    border:1px solid #ccc;
    border-radius:5px;
    position: absolute;
    top: 100%;
    left: 0;
    width:100%;
    min-width:160px;
    padding:10px;
    margin-top:5px;
    z-index: 1;
    @include boxShadow(0 6px 12px rgba(0,0,0,.175));
    ul{
      margin:0;
      padding:0;
      list-style: none;
      height: 150px;
      li{
        margin:0;
        padding:5px;
        overflow: hidden;
        border-bottom:1px solid #eee;

        input[type="checkbox"]{
          display:block;
          float:left;
        }
        span{
          margin-left:30px;
          display:block;
          line-height: 15px;
          font-size:10px;
        }
      }
      &.dg-head{
        height:auto;
        margin-bottom: 10px;
        li{
          background: #eee;
          .form-control, .form-control:focus{
            height: 20px;
            background:url(/images/icons/search-mini-icon.png) no-repeat right center #fff;
            padding:4px 22px 4px 12px;
            @include boxShadow(none);
          }
        }
      }
    }
  }
}

.textDecoNone{
  text-decoration: none;
}

.isAdminChkBox{
  height: 20px !important;
  width: 20px !important;
  margin-right: 10px !important;
}

.marginBottom20px{
  margin-bottom: 20px;
}

.subheading1{
  text-transform: capitalize;
  font-size: 12px !important;
}

.marginLeftPlus15{
  margin-left: 15px;
}

.errorValidation{
  color:darkred;
  font-size: 10px;
  font-weight: bold;
  margin-top: 2px;
}

.marginTopMinus20{
  margin-top: -20px !important;
}

.marginTopPlus150px{
  margin-top: 150px !important;
}
.deleteTrash{
  cursor: pointer;
}
.deleteTrash:hover{
  color:darkred;
  font-weight: bold;
}

.editPen{
  cursor: pointer;
}
.editPen:hover{
  color:$baseColor;
  font-weight: bold;
}

#pdf{
  border: 0px solid #333 !important;
  @include boxShadow(0px 2px 3px 0px rgba(0, 0, 0, 0.4));
}

.rz-pointer{
  background-color: $baseColor !important;
}

.rz-pointer.rz-active:after{
  background-color: #333 !important;
}

.orangeFont{
  color:$orangeColor;
  cursor: pointer;
}

.redFont{
  color:$redColor !important;
  cursor:pointer;
}

.greenFont{
  color: #1da075 !important;
  cursor:ponter;
}

.excelExport{
  margin-right: 5px;
  margin-top: 15px;
}

.blueFont{
  color:$baseColor;
  cursor:pointer;
}
.border-right-gray{
  border-right: 1px solid #ccc;
}


.orangeFont:hover{
  color:($orangeColor - 10);
}
.tags{
  font-family: $fontSecondary;
}
.tags .input{
  width:104% !important;
}

.greenCheck{
  color:#00FF00;
}
.redCross{
  color:red;
}

.starBlack{
  color:#333;
}

.starOrange{
  color:$orangeColor;
}

.paddingBottom5px{
  padding-bottom: 5px !important;
}

.borderBottomDashed{
  border-bottom: 1px #333 dashed;
}

.businessPartnerSteps{

  height:50px;
  color:#333;
  @include boxShadow(0px 2px 3px 0px rgba(0, 0, 0, 0.4));
}

.businessPartnerSteps .active{
  background: #333;
  color:white;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  opacity: 0.8;
}

.businessPartnerSteps .step {
  padding-top: 20px;
  font-size: 12px;
  height:100%;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

.no-border .blueBorder{
  border: 0px !important;
}

.ptags{

}
.saveButton:hover{
  color:$orangeColor;
}
.saveButton{
  cursor:pointer;
}
.dropdownLabel{
  font-weight: bold;
  font-size:10px;
  color:$baseColor;
}
.dropdownCaption{
  font-weight: bold;
  font-size:9px;
  color:#000;
}

.transparentButton{
  border: none !important;
  background: none;
    cursor:pointer;
  font-weight: bold;
}

.height40px{
  height: 40px;
}
.height100px{
  height: 70px;
}

.forms{
  overflow-y: auto;
  overflow-x:hidden;
}
.border-top-black{
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.border-bottom-black{
  border-bottom: 1px solid #333;
  padding-bottom: -2px;
}

.border-bottom-gray{
  border-bottom: 1px solid #ccc;
  padding-bottom: -2px;
}

.resizeNone{
  resize:none;
}

.font30days{
  font-size: 10px;
}
.toastOpacity{
  opacity:0.9;
}
.form-control[disabled]{
  margin-left:-10px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: transparent;
  opacity: 1;
  border: none;
}
.selectize-control.single .selectize-input.disabled:after{
  border: none;
}
.selectize-control .selectize-input.disabled {
  //opacity: 0.5;
  background-color: transparent;
  opacity: 1;
  color:#333;
  border: none;
  margin-left:-7px;
  box-shadow: none;


  /* background-color: #fafafa; */
}

.selectize-control .selectize-input.disabled ::-webkit-input-placeholder{
  color:#ffffff

}

.font20px{
  font-size: 20px;
}


form .progress {
  line-height: 15px;
}

.progress {
  display: inline-block;
  width: 100%;
  border: 3px groove #CCC;
  margin-top: 10px;
}

.progress div {
  font-size: smaller;
  background: $baseColor;
  width: 0;
}

.notesContainer{
  max-height:300px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.note{
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px #333 solid;
  background: #cccccc;
  //background: rgba(253, 240, 1, 1);
}

.textAlignRight{
  text-align: right;
}

.marginTop10px{
 margin-top: 10px;
}

.doc-Container{
  font-size:15px; padding-top:15px
}
 .marginTopmin18px{
   margin-top: -18px;
 }

 .addNote{
   margin-right: 15px;
   border-radius: 0;
 }

textarea { resize:vertical ; }


