<page-header heading="Product Prices" sub-heading="International & Local"  go-back="true"></page-header>
</br>
<div class="col-xs-12 col-md-4 pull-right">
    <date-picker disabled="false"
                 date="vm.dateSelected"
                 max-date="" min-date="">
    </date-picker>
</div>
</br></br></br>
<div class="col-lg-12 col-xs-12">


    <div class="dg-tablePanelBody">
        <table class="table table-bordered dg-table">
            <thead>
            <tr>
                <th>Product</th>
                <th  style="width:200px">International Price</th>
                <th  style="width:200px">Local Price</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="product in vm.productPrices " ng-init="product.editMode = false;">
                <td>
                    <selectize ng-disabled="true"
                               config="vm.productConfig"
                               options='vm.allProducts'
                               ng-model="product.productId">
                    </selectize>
                </td>
                <td>
                    <div  ng-if="product.editMode">
                        <span class="price">$</span>
                        <number-only-input
                                input-value="product.price"
                                input-name="product.price"
                                currency="true">
                        </number-only-input>
                    </div>
                    <span ng-if="!product.editMode" ng-bind="(product.price === null || product.price === 0) ? 'Not Entered' : '$ '+product.price "></span>
                </td>
                <td>
                    <div  ng-if="product.editMode">
                        <span class="pricePKR">PKR</span>
                        <number-only-input
                                input-value="product.localPrice"
                                input-name="product.localPrice"
                                currency="true">
                        </number-only-input>
                    </div>
                    <span ng-if="!product.editMode" ng-bind="(product.localPrice === null || product.localPrice === 0) ? 'Not Entered' : 'PKR '+product.localPrice "></span>

                </td>
                <td>
                    <label ng-click="vm.editProductPrice($index, product)" ng-if="!product.editMode" class="cursor-pointer">
                        <i class="fa fa-edit orangeFont"></i>
                        Edit
                    </label>
                    <label ng-click="vm.saveProductPrice($index, product)" ng-if="product.editMode" class="cursor-pointer border-right-gray">
                        <i class="fa fa-database blueFont"></i>
                        &nbsp;Save&nbsp;&nbsp;
                    </label>
                    <label ng-click="vm.cancelEdit($index, product)" ng-if="product.editMode" class="cursor-pointer">
                        &nbsp;&nbsp;
                        <i class="fa fa-times-circle redFont"></i>
                        &nbsp;Cancel
                    </label>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>