<div class="col-lg-12  marginLeft15 ">
    <div class="col-lg-12 tableHeading cursor-pointer" ng-click="vm.showShipment = !vm.showShipment">
        <label class="cursor-pointer">Shipment Details</label>
        <label class="pull-right cursor-pointer " >
            <i  class="fa" ng-class="{'fa-chevron-circle-down':vm.showShipment,'fa-chevron-circle-right':!vm.showShipment}"></i>
        </label>
    </div>
    <div class="clearfix" ng-show="vm.showShipment">
        <div  class="col-lg-12">
            <label ng-click="vm.cancelShipmentDetails()" class="cursor-pointer pull-right"
                   ng-show="!vm.newShip && vm.editMode">
                &nbsp;&nbsp;
                <i class="fa fa-times-circle redFont"></i>
                &nbsp;&nbsp;Cancel
            </label>
            <label ng-show="vm.tran === 'new' || vm.editMode"
                   ng-click="vm.saveShipmentDetails()" class="cursor-pointer pull-right ">
                <i class="fa fa-database blueFont"></i>
                &nbsp;&nbsp;Save&nbsp;&nbsp;
            </label>
            <label ng-show="!vm.editMode" ng-click="vm.editShipmentDetails()" class="cursor-pointer pull-right ">
                &nbsp;&nbsp;Edit&nbsp;&nbsp;<i class="fa fa-edit orangeFont"></i>
            </label>
        </div>
    </div>
    <div ng-show="vm.showShipment">
        <div class="form-group col-lg-12 col-xs-12">

            <div class="row marginTop5  height100px">
                <div class="col-lg-4 col-xs-12">
                    <input
                           ng-change="vm.resetBoolean(vm.shipment.tr_ship_notShipped, ['tr_ship_chk_reason','tr_ship_chk_shpExt'],['tr_ship_notShipped_reason','tr_ship_extension'])"
                           name="tr_notShipped" ng-disabled="!vm.editMode" type="checkbox"
                           ng-model="vm.shipment.tr_ship_notShipped"/>
                    <label>Not Shipped</label>
                </div>
                <div ng-show="vm.shipment.tr_ship_notShipped" class="col-lg-4 col-xs-12">
                    <input name="tr_ship_chk_reason" ng-disabled="!vm.editMode"
                           ng-change="vm.resetFields(vm.shipment.tr_ship_chk_reason,['tr_ship_notShipped_reason'])"
                           type="checkbox" ng-model="vm.shipment.tr_ship_chk_reason"/>
                    <label>Reason</label>
                    <textarea  rows="2" ng-model="vm.shipment.tr_ship_notShipped_reason"
                               ng-show="vm.shipment.tr_ship_chk_reason"
                               ng-disabled="!vm.editMode" class="form-control resizeNone"
                               placeholder=""></textarea>
                </div>
                <div ng-show="vm.shipment.tr_ship_notShipped" class="col-lg-4 col-xs-12">

                    <input name="tr_ship_chk_shpExt"
                           ng-change="vm.resetFields(vm.shipment.tr_ship_chk_shpExt,['tr_ship_extension'])"
                           ng-disabled="!vm.editMode"  type="checkbox" ng-model="vm.shipment.tr_ship_chk_shpExt"/>
                    <label>Shipment Extension</label>
                    <input class="form-control" name="shipmentExtension"
                           placeholder=""
                           ng-disabled="!vm.editMode"
                           ng-show="vm.shipment.tr_ship_chk_shpExt"
                           type="text" ng-model="vm.shipment.tr_ship_extension"/>

                </div>
            </div>
            <div class="row marginTop5 height100px">
                <div class="col-lg-4 col-xs-12">
                    <input name="tr_ship_appReceived" ng-disabled="!vm.editMode"
                           ng-change="vm.resetBoolean(vm.shipment.tr_ship_appReceived, ['tr_ship_chk_expShp','tr_ship_chk_inTransit'],['tr_expectedShipment','tr_inTransit'])"
                           type="checkbox" ng-model="vm.shipment.tr_ship_appReceived"/>
                    <label>Appropration Recieved</label>
                </div>
                <div ng-show="vm.shipment.tr_ship_appReceived"
                     class="col-lg-4 col-xs-12">

                    <input name="tr_ship_chk_expShp" ng-disabled="!vm.editMode"
                           ng-change="vm.resetFields(vm.shipment.tr_ship_chk_expShp,['tr_expectedShipment'])"
                           type="checkbox" ng-model="vm.shipment.tr_ship_chk_expShp"/>
                    <label>Expected Shipment</label>
                    <date-picker ng-show="vm.shipment.tr_ship_chk_expShp"
                                 disabled="!vm.editMode"
                                 date="vm.shipment.tr_expectedShipment" max-date="" min-date=""></date-picker>
                </div>
                <div ng-show="vm.shipment.tr_ship_appReceived" class="col-lg-4 col-xs-12">

                    <input name="tr_ship_chk_inTransit"  ng-disabled="!vm.editMode"
                           ng-change="vm.resetFields(vm.shipment.tr_ship_chk_inTransit,['tr_inTransit'])"
                           type="checkbox" ng-model="vm.shipment.tr_ship_chk_inTransit"/>
                    <label>In Transit</label>
                    <date-picker ng-show="vm.shipment.tr_ship_chk_inTransit"
                                 disabled="!vm.editMode"
                                 date="vm.shipment.tr_inTransit" max-date="" min-date=""></date-picker>
                </div>
            </div>

            <div class="row marginTop5 height100px">
                <div class="col-lg-4 col-xs-12">
                    <input name="shipped" type="checkbox"
                           ng-change="vm.resetBoolean(vm.shipment.tr_shipped, ['tr_ship_chk_dateShipped','tr_ship_chk_expArrival','tr_ship_chk_transitPort'],['tr_dateShipped','tr_expectedArrival','tr_transitPort'])"
                           ng-model="vm.shipment.tr_shipped" ng-disabled="!vm.editMode"/>
                    <label>Shipped</label>
                </div>
                <div ng-show="vm.shipment.tr_shipped" class="col-lg-2 col-xs-12">

                    <input name="tr_ship_chk_dateShipped"
                           ng-disabled="!vm.editMode"
                           type="checkbox"
                           ng-change="vm.resetFields(vm.shipment.tr_ship_chk_dateShipped,['tr_dateShipped'])"
                           ng-model="vm.shipment.tr_ship_chk_dateShipped"/>
                    <label>Date Shipped</label>
                    <date-picker disabled="!vm.editMode"
                                 ng-show="vm.shipment.tr_ship_chk_dateShipped"
                                 date="vm.shipment.tr_dateShipped"
                                 max-date="" min-date=""></date-picker>
                </div>
                <div ng-show="vm.shipment.tr_shipped" class="col-lg-2 col-xs-12">

                    <input name="tr_ship_chk_expArrival"
                           ng-disabled="!vm.editMode"
                           type="checkbox"
                           ng-change="vm.resetFields(vm.shipment.tr_ship_chk_expArrival,['tr_expectedArrival'])"
                           ng-model="vm.shipment.tr_ship_chk_expArrival"/>
                    <label>Expected Arrival</label>
                    <date-picker disabled="!vm.editMode"
                                 ng-show="vm.shipment.tr_ship_chk_expArrival"
                                 date="vm.shipment.tr_expectedArrival"
                                 max-date="" min-date=""></date-picker>
                </div>
                <div class="col-lg-4 col-xs-12" ng-show="vm.shipment.tr_shipped">

                    <input name="tr_ship_chk_transitPort"
                           ng-disabled="!vm.editMode"
                           type="checkbox"
                           ng-change="vm.resetFields(vm.shipment.tr_ship_chk_transitPort,['tr_transitPort'])"
                           ng-model="vm.shipment.tr_ship_chk_transitPort"/>
                    <label>Transit Port</label>
                    <input type="text" ng-show="vm.shipment.tr_ship_chk_transitPort"
                           ng-model="vm.shipment.tr_transitPort"
                           class="form-control"
                           ng-disabled="!vm.editMode"
                           placeholder="">

                </div>
            </div>

            <div class="row marginTop5 height100px">
                <div class="col-lg-4 col-xs-12">

                    <input name="atPort" type="checkbox" ng-disabled="!vm.editMode"
                           ng-change="vm.resetBoolean(vm.shipment.tr_ship_arrivedAtPort, ['tr_ship_chk_dateArrived','tr_ship_chk_actualArrived'],['tr_dateArrived','tr_actualArrived'])"
                           ng-model="vm.shipment.tr_ship_arrivedAtPort"/>
                    <label>Arrived at Port</label>
                </div>

                <div class="col-lg-4 col-xs-12" ng-show="vm.shipment.tr_ship_arrivedAtPort">

                    <input ng-disabled="!vm.editMode" name="tr_ship_chk_dateArrived"
                           type="checkbox"
                           ng-change="vm.resetFields(vm.shipment.tr_ship_chk_dateArrived,['tr_dateArrived'])"
                           ng-model="vm.shipment.tr_ship_chk_dateArrived"/>
                    <label>Date Arrived</label>
                    <date-picker ng-show="vm.shipment.tr_ship_chk_dateArrived"
                                 disabled="!vm.editMode"
                                 date="vm.shipment.tr_dateArrived" max-date="" min-date=""></date-picker>
                </div>
                <div class="col-lg-4 col-xs-12" ng-show="vm.shipment.tr_ship_arrivedAtPort">

                    <input ng-disabled="!vm.editMode" name="tr_ship_chk_expArrival"
                           type="checkbox"
                           ng-change="vm.resetFields(vm.shipment.tr_ship_chk_actualArrived,['tr_actualArrived'])"
                           ng-model="vm.shipment.tr_ship_chk_actualArrived"/>
                    <label>Actual Arrived</label>
                    <date-picker ng-show="vm.shipment.tr_ship_chk_actualArrived"
                                 disabled="!vm.editMode"
                                 date="vm.shipment.tr_actualArrived" max-date="" min-date=""></date-picker>
                </div>
            </div>
        </div>

        <div class="clearfix">
            <div class="form-group col-lg-4 col-xs-12">
                <label>B/L No.</label>
                <input type="text" ng-disabled="!vm.editMode"  ng-model="vm.shipment.tr_ship_BlNo" class="form-control" placeholder="">
            </div>
            <div class="form-group col-lg-4 col-xs-12">
                <label>Invoice No.</label>
                <input type="text" ng-disabled="!vm.editMode"  ng-model="vm.shipment.tr_ship_invoiceNo" class="form-control" placeholder="">
            </div>
            <div class="form-group col-lg-4 col-xs-12">
                <label>Invoice Amount (USD)</label>
                <input type="text" ng-disabled="!vm.editMode"  ng-model="vm.shipment.tr_ship_invoiceAmt" class="form-control" placeholder="">
            </div>
            <div class="form-group col-lg-4 col-xs-12">
                <label>Quantity Shipped (Mt)</label>
                <input type="text" ng-disabled="!vm.editMode"  ng-model="vm.shipment.tr_ship_quantity" class="form-control" placeholder="">
            </div>
            <div class="form-group col-lg-4 col-xs-12">
                <label>Vessel/Voyage Number</label>
                <input type="text" ng-disabled="!vm.editMode" ng-model="vm.shipment.tr_ship_vesselNo" class="form-control" placeholder="">
            </div>
            <div class="form-group col-lg-4 col-xs-12">
                <label>Primary Shipper</label>
                <selectize ng-disabled="!vm.editMode" placeholder='Please select shipper' config="vm.bpConfig" options='vm.shippersList' ng-model="vm.shipment.tr_ship_primaryShipperId"></selectize>
            </div>
        </div>
        <div class="clearfix">
            <div class="col-lg-4 col-xs-12">
                <label>Port of Loading</label>
                <textarea  rows="2" ng-show="vm.shipment.tr_ship_portLoad || vm.editMode" ng-model="vm.shipment.tr_ship_portLoad"  ng-disabled="!vm.editMode" class="form-control resizeNone" placeholder=""></textarea>
            </div>
            <div class="col-lg-4 col-xs-12">
                <label>Port of Destination</label>
                <textarea  rows="2" ng-show="vm.shipment.tr_ship_portDest || vm.editMode" ng-model="vm.shipment.tr_ship_portDest"  ng-disabled="!vm.editMode" class="form-control resizeNone" placeholder=""></textarea>
            </div>
            <div class="col-lg-4 col-xs-12">
                <label>Shipping Line Contact Details</label>
                <textarea rows="2" ng-show="vm.shipment.tr_ship_shipLineCont || vm.editMode" ng-disabled="!vm.editMode" ng-model="vm.shipment.tr_ship_shipLineCont" class="form-control resizeNone" placeholder="" ></textarea>
            </div>
        </div>
        <br>
    </div>
</div>
