<div class="col-lg-12  marginLeft15">
    <div class="col-lg-12 tableHeading">
        <label>Contract Information</label>
        <label class="pull-right cursor-pointer" ng-click="vm.showContractInfo = !vm.showContractInfo">
            <i  class="fa" ng-class="{'fa-chevron-circle-down':vm.showContractInfo,'fa-chevron-circle-right':!vm.showContractInfo}"></i>
        </label>
    </div>
    <div class="clearfix" ng-if="vm.showContractInfo" ng-init="vm.getStateParams()">
        <div  class="col-lg-12">
            <label ng-click="vm.cancelTransactionContract()" class="cursor-pointer pull-right"
                   ng-show="!vm.newContract && vm.editMode">
                &nbsp;&nbsp;
                <i class="fa fa-times-circle redFont"></i>
                &nbsp;&nbsp;Cancel
            </label>
            <label ng-show="vm.tran === 'new' || vm.editMode"
                   ng-click="vm.saveTransactionContract()" class="cursor-pointer pull-right ">
                <i class="fa fa-database blueFont"></i>
                &nbsp;&nbsp;Save&nbsp;&nbsp;
            </label>
            <label ng-show="!vm.editMode" ng-click="vm.editTransactionContract()" class="cursor-pointer pull-right ">
                &nbsp;&nbsp;Edit&nbsp;&nbsp;<i class="fa fa-edit orangeFont"></i>
            </label>
        </div>
    </div>
    <div ng-show="vm.showContractInfo" class="form-group col-md-4 col-xs-12 row">
        <div class="col-md-6">

            <input name="contractType" ng-change="vm.contractChanged(vm.transactionContract.tr_doniContract,'tr_ownContract')" ng-disabled="!vm.editMode"
                   type="checkbox" ng-model="vm.transactionContract.tr_doniContract"/>
            <label>Doni Contact</label>
        </div>
        <div class="col-md-6">
            <input name="contractType" ng-change="vm.contractChanged(vm.transactionContract.tr_ownContract,'tr_doniContract')" ng-disabled="!vm.editMode"
                   type="checkbox" ng-model="vm.transactionContract.tr_ownContract"/>
            <label>Own Contract</label>
        </div>
    </div>
    <div ng-if="vm.showContractInfo" class="form-group col-md-8 col-xs-12 pull-right">
        <label ng-show="vm.transactionContract.tr_doniContract || vm.transactionContract.tr_ownContract">Contractual Buyer</label>
        <selectize ng-show="vm.transactionContract.tr_doniContract || vm.transactionContract.tr_ownContract"

                    ng-disabled="!vm.editMode "
                    placeholder='Please enter contractual Buyer involved' config="vm.bpConfig" options='vm.buyersList' ng-model="vm.transactionContract.tr_contractualBuyer"></selectize>
    </div>
</div>