<div class="col-md-12  marginLeft15">
    <div class="col-md-12 tableHeading cursor-pointer" ng-click="vm.showCommission = !vm.showCommission">
        <label class="cursor-pointer">Commission Details</label>
        <label class="pull-right cursor-pointer">
            <i  class="fa" ng-class="{'fa-chevron-circle-down':vm.showCommission,'fa-chevron-circle-right':!vm.showCommission}"></i>
        </label>
    </div>
    <div class="clearfix">
        <div ng-if="vm.showCommission" class="col-lg-12">
            <label ng-click="vm.editMode=false;vm.commissionDetails = vm.commTemp" class="cursor-pointer pull-right" ng-if="vm.tran !== 'new' && vm.editMode">
                &nbsp;&nbsp;
                <i class="fa fa-times-circle redFont"></i>
                &nbsp;&nbsp;Cancel
            </label>
            <label ng-if="!vm.editMode" ng-click="vm.editCommission()" class="cursor-pointer pull-right ">
                <i class="fa fa-edit orangeFont"></i>
                &nbsp;&nbsp;Edit&nbsp;&nbsp;
            </label>
            <label ng-if=vm.editMode ng-click="vm.saveCommission()" class="cursor-pointer pull-right ">
                <i class="fa fa-database blueFont"></i>
                &nbsp;&nbsp;Save&nbsp;&nbsp;
            </label>
        </div>
    </div>
    <div ng-if="vm.showCommission" class="col-md-4">
        <div class="form-group">
            <input ng-disabled="!vm.editMode"
                   ng-change="vm.brokerInvolvedChanged(vm.commissionDetails.tr_brokerInvolved)"
                   name="contractType" type="checkbox"
                   ng-model="vm.commissionDetails.tr_brokerInvolved"/>
            <label>Broker Involved</label>
        </div>

        <div class="form-group">
            <label>Commission Type</label>
            <selectize  ng-disabled="!vm.editMode"
                        placeholder="Enter commission Type"
                        config="vm.commissionTypeConfig"
                        ng-model="vm.commissionDetails.tr_ownCommissionType">
            </selectize>
        </div>
        <div class="form-group">
            <label>Commission</label>
            <number-only-input
                    input-value="vm.commissionDetails.tr_own_Commission"
                    input-name="vm.commissionDetails.tr_own_Commission"

                    currency="true"
                    no-border="!vm.editMode"
                    input-place="USD$">
            </number-only-input>
        </div>
        <div class="form-group">
            <label>Difference</label>
            <number-only-input
                    input-value="vm.commissionDetails.tr_difference"
                    input-name="vm.commissionDetails.tr_difference"
                    currency="true"
                    no-border="!vm.editMode"
                    input-place="USD$">
            </number-only-input>
        </div>
        <div class="form-group">
            <label>Discount</label>
            <number-only-input
                    input-value="vm.commissionDetails.tr_discount"
                    input-name="vm.commissionDetails.tr_discount"
                    currency="true"
                    no-border="!vm.editMode"
                    input-place="USD$">
            </number-only-input>
        </div>
        <div class="form-group">
            <label>Net Commission </label>
            <label ng-class="{'redFont':(vm.commissionDetails.tr_netCommission < 0)}"
                   ng-bind="vm.commissionDetails.tr_netCommission | currency:'  $ ':2"
                   class=" dropdownLabel">
        </div>
    </div>
    <div ng-if="vm.showCommission && vm.commissionDetails.tr_brokerInvolved" class="col-md-4">
        <div class="form-group">
            <input ng-disabled="!vm.editMode" name="contractType" type="checkbox"
                   ng-change="vm.buyerBrokerChanged(vm.commissionDetails.tr_buyerBroker)"
                   ng-model="vm.commissionDetails.tr_buyerBroker"/>
            <label>Buyer Broker</label>

        </div>

        <div class="form-group" ng-if="vm.commissionDetails.tr_buyerBroker">
            <label>Broker</label>
            <selectize  ng-disabled="!vm.editMode "
                       placeholder='Please enter broker involved' config="vm.bpConfig"
                       options='vm.brokersList' ng-model="vm.commissionDetails.tr_buyerBrokerID"></selectize>
        </div>

        <div  ng-show="vm.commissionDetails.tr_buyerBroker && vm.showCommission" class="form-group">
            <label>Broker Commission Type</label>
            <selectize  ng-disabled="!vm.editMode"
                        config="vm.commissionTypeConfig"
                        ng-model="vm.commissionDetails.tr_buyerBroker_comm_type">
            </selectize>
        </div>

        <div  ng-show="vm.commissionDetails.tr_buyerBroker && vm.showCommission" class="form-group">
            <label>Broker Commission</label>
            <number-only-input
                    input-value="vm.commissionDetails.tr_buyerBroker_comm"
                    input-name="vm.commissionDetails.tr_buyerBroker_comm"
                    currency="true"
                    no-border="!vm.editMode"
                    input-place="Commission">
            </number-only-input>
        </div>
    </div>
    <div ng-if="vm.showCommission && vm.commissionDetails.tr_brokerInvolved" class="col-md-4">

        <div class="form-group">
            <input ng-disabled="!vm.editMode" ng-change="vm.sellerBrokerChanged(vm.commissionDetails.tr_sellerBroker)"
                   name="contractType" type="checkbox"
                   ng-model="vm.commissionDetails.tr_sellerBroker"/>
            <label>Seller Broker</label>
        </div>
        <div class="form-group" ng-if="vm.commissionDetails.tr_sellerBroker">
            <label>Broker</label>
            <selectize  ng-disabled="!vm.editMode"
                       placeholder='Please enter broker involved' config="vm.bpConfig"
                       options='vm.brokersList' ng-model="vm.commissionDetails.tr_sellerBrokerID"></selectize>
        </div>

    </div>

    <div ng-if="vm.showCommission" class="col-md-4 col-md-offset-8">



    </div>
</div>