<div class="col-md-12  marginLeft15">
    <div class="col-md-12 tableHeading">
        <label>Commission Details</label>
        <label class="pull-right cursor-pointer" ng-click="vm.showCommission = !vm.showCommission">
            <i  class="fa" ng-class="{'fa-chevron-circle-down':vm.showCommission,'fa-chevron-circle-right':!vm.showCommission}"></i>
        </label>
    </div>
    <div ng-if="vm.showCommission" class="form-group col-md-4 formCheckBox">
        <label>Broker Involved</label>
        <input class="pull-right" name="contractType" type="checkbox" ng-model="vm.newTransaction.tr_brokerInvolved"/>
    </div>
    <div ng-if="vm.showCommission" class="form-group col-md-8 marginTop5">
        <label>Broker</label>
        <selectize ng-disabled="!vm.newTransaction.tr_brokerInvolved" placeholder='Please enter broker involved' config="vm.bpConfig" options='vm.brokersList' ng-model="vm.newTransaction.tr_broker"></selectize>
    </div>
    <div ng-if="vm.showCommission" class="col-md-8 col-md-offset-4">

        <div class="form-group col-lg-12 marginLeft15 width106">
            <label>Commission Type</label>
            <selectize  ng-disabled="vm.viewMode" placeholder="Enter commission Type" config="vm.commissionTypeConfig" ng-model="vm.newTransaction.tr_commissionType"></selectize>
        </div>
        <div class="form-group col-lg-12 marginLeft15 width106">
            <label>Commission</label>
            <input type="number"  ng-disabled="vm.viewMode" ng-model="vm.newTransaction.tr_commission" class="form-control"  placeholder="Enter commission">
        </div>
        <div class="form-group col-lg-12 marginLeft15 width106">
            <label>Broker Comission</label>
            <input type="number"  ng-disabled="vm.viewMode || !vm.newTransaction.tr_broker" ng-model="vm.newTransaction.tr_brokerCommission" class="form-control"placeholder="Enter broker commision">
        </div>
        <div class="form-group col-lg-12 marginLeft15 width106">
            <label>Difference</label>
            <input type="number"  ng-disabled="vm.viewMode" ng-model="vm.newTransaction.tr_difference" class="form-control"placeholder="Enter difference">
        </div>
        <div class="form-group col-lg-12 marginLeft15 width106">
            <label>Discount</label>
            <input type="number"  ng-disabled="vm.viewMode" ng-model="vm.newTransaction.tr_discount" class="form-control"  placeholder="Enter discount">
        </div>
        <div class="form-group col-lg-12 marginLeft15 width106">
            <label>Net Commission</label>
            <input type="text" ng-bind="vm.newTransaction.tr_commission * vm.quantityValue" ng-disabled="true" ng-model="vm.newTransaction.tr_netCommision" class="form-control" placeholder="Enter Product Name">
        </div>
    </div>
</div>