<div class="col-lg-12  marginLeft15">
    <div class="col-lg-12 tableHeading cursor-pointer" ng-click="vm.showDocument = !vm.showDocument">
        <label class="cursor-pointer">Documents Attachments</label>
        <label class="pull-right cursor-pointer">
            Total <span ng-bind="vm.allFiles.length"></span> Documents Attached
            <i  class="fa" ng-class="{'fa-chevron-circle-down':vm.showDocument,'fa-chevron-circle-right':!vm.showDocument}"></i>
        </label>
    </div>

    <div ng-if="vm.showDocument" class="form-group col-lg-12">

        <div class="row">
            <div class="col-lg-12 border-bottom-gray">
                <label ng-if="vm.documentAdding">New Transaction Document</label>
                <label ng-click="vm.documentAdding=true;" class="cursor-pointer pull-right" ng-if="!vm.documentAdding">
                    <i class="fa fa-plus-circle orangeFont"></i>
                    &nbsp;&nbsp;Add New Document
                </label>
                <label ng-click="vm.cancelDocumentUpload()" class="cursor-pointer pull-right" ng-if="vm.documentAdding">
                    &nbsp;&nbsp;
                    <i class="fa fa-times-circle redFont"></i>
                    &nbsp;&nbsp;Cancel
                </label>
            </div>
        </div>

        <div class="row" ng-if="vm.documentAdding && vm.showDocument">
            <div class="col-lg-12">
                </br>
                <div class="form-group col-lg-4  col-xs-12">
                    <label>Document Name</label>
                    <input class="form-control" ng-model="vm.documentName" type="text"/>
                </div>
                <div ng-if="vm.documentName !== ''" class="form-group col-lg-4 col-xs-12 documentUpload">
                    <label>Document</label>
                    <button class="success" type="file" ngf-select="vm.uploadFiles($file, $invalidFiles)"
                            accept="*">
                        <i class="fa fa-upload"></i>
                    </button>
                <div style="font:smaller">{{vm.file.name}} {{vm.errFile.name}} {{vm.errFile.$error}} {{vm.errFile.$errorParam}}
                    <span class="progress" ng-show="vm.file.progress >= 0">
                        <div style="width:{{vm.file.progress}}%" ng-bind="vm.file.progress + '%'">
                        </div>
                    </span>
                </div>
                {{vm.errorMsg}}
                </div>
            </div>
        </div>


        <div class="row" ng-if="vm.showDocument">
            <div class="col-lg-4 doc-Container"
                 ng-repeat="file in vm.allFiles | orderBy: 'tf_createdOn'">
                <div>
                    <a ng-click="vm.downloadFile(file.tf_fileID,file.tf_fileName,file.tf_fileType)">
                        <div>
                            <i class="fa fa-file-pdf-o redFont" ng-if="file.tf_fileType === 'application/pdf'"></i>
                            <i class="fa fa-file-word-o blueFont" ng-if="file.tf_fileType === 'application/msword' || file.tf_fileType === 'application/vnd.openxmlformats-officedocument.word'"></i>
                            <i class="fa fa-file-text orangeFont" ng-if="file.tf_fileType !== 'application/msword' && file.tf_fileType !== 'application/pdf' && file.tf_fileType !== 'application/vnd.openxmlformats-officedocument.word'"></i>
                            &nbsp; &nbsp;<span ng-bind="file.tf_fileName"></span>
                            &nbsp; &nbsp;
                        </div>
                    </a>
                    <label  ng-click="vm.deleteTransactionDocuments(file.tf_fileID,$index)" class="pull-right cursor-pointer marginTopmin18px">Delete&nbsp;&nbsp;
                        <i class=" fa fa-trash-o redFont"></i>
                    </label>
                </div>
            </div>
        </div>


    </div>
</div>