<page-header heading="Transactions" sub-heading="Add New" button-list="vm.headerAnchor"></page-header>
<page-blue-container>
        	<form>
				  <div class="form-group col-xs-6">
				    	<label for="exampleInputEmail1">Buyer</label>
				    	<selectize placeholder='Select a Buyer...' config="singleConfig" ng-model="single"></selectize>					    
				  </div>
				  <div class="form-group col-xs-6">
				    <label for="exampleInputPassword1">Seller</label>
				    <selectize placeholder='Select a Seller...' config="singleConfig" ng-model="single"></selectize>	
				  </div>
				  <div class="form-group col-xs-6">
				    <label for="exampleInputPassword1">Buyer Contract Type</label>
				    <selectize placeholder='Select a Product...' config="singleConfig" ng-model="single"></selectize>
				  </div>				  
				  <div class="form-group col-xs-6">
				    <label for="exampleInputPassword1">Product</label>
				    <selectize placeholder='Select a Product...' config="singleConfig" ng-model="single"></selectize>	
				  </div>
				  <div class="form-group col-xs-6">
				    <label for="exampleInputPassword1">Transaction Date</label>
				    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Quality">
				  </div>
				  <div class="form-group col-xs-3">
				    <label for="exampleInputPassword1">Quatity</label>
				    <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Quality">
				  </div>
				  <div class="form-group col-xs-3">
				    <label for="exampleInputPassword1">Rate</label>
				    <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Quality">
				  </div>
				  <div class="form-group col-xs-2">
				    <label for="exampleInputPassword1">Commision Type</label>
				    <selectize placeholder='Select a Product...' config="singleConfig" ng-model="single"></selectize>
				  </div>
				  <div class="form-group col-xs-2">
				    <label for="exampleInputPassword1">Commision</label>
				    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Quality">
				  </div>
				  <div class="form-group col-xs-2">
				    <label for="exampleInputPassword1">Broker Commision</label>
				    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Quality">
				  </div>
				  <div class="form-group col-xs-2">
				    <label for="exampleInputPassword1">Diff</label>
				    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Quality">
				  </div>
				  <div class="form-group col-xs-2">
				    <label for="exampleInputPassword1">Discount</label>
				    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Quality">
				  </div>
				  <div class="form-group col-xs-2">
				    <label for="exampleInputPassword1">Net Commision</label>
				    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Quality">
				  </div>
				  <div class="form-group col-xs-2">
				    <label for="exampleInputPassword1">Shipper Same as Seller</label>
				    
				  </div> 
				  <div class="form-group col-xs-4">
				    <label for="exampleInputPassword1">Shipper</label>
				    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Quality">
				  </div>
				  <div class="form-group  col-xs-2">
				    <label for="exampleInputPassword1">FileId</label>
				    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Quality">
				  </div>
				  <div class="form-group  col-xs-12">
				  <button type="submit" class="btn btn-default submitBtn">Submit</button>
				  <button type="submit" class="btn btn-default" ui-sref="^">Cancel</button>
				  </div>
				  </br>
				  
			</form>
</page-blue-container>

