<page-header heading="Transactions" sub-heading="Manage" button-list="vm.headerAnchor"></page-header>
<filter-bar
        date-picker-needed="true"
        buyer="true"
        seller="true"
        product="true"
        tran-status="true"
        date-picker="vm.dateRange"
        on-date-change="vm.onDateRangeChanged(dateRange)"
        on-buyers-selected-changed="vm.onBuyersSelectedChanged(selectedList)"
        on-sellers-selected-changed="vm.onSellersSelectedChanged(selectedList)"
        on-products-selected-changed="vm.onProductsSelectedChanged(selectedList)"
        on-tran-status-selected-changed="vm.onTranStatusSelectedChanged(selectedList)">
</filter-bar>
<page-blue-container>
    <div class="dg-tablePanelHead clearfix">
        <div class="dg-tablePanelTitle">Transactions <br><small>Total {{vm.allTransactions.length - vm.tranToRemove.length}} Transactions</small></div>
        <ul class="dg-pageActionsLinks">
            <li>
                <label class="cursor-pointer excelExport" ng-click="vm.getTradeBookExcel(vm.transactionTableHeadings,vm.allTransactions)">
                    <i class="fa fa-file-excel-o greenFont"></i>&nbsp;&nbsp;Export to Excel
                </label>
            </li>
            <li>
                <input ng-model="vm.searchTransactionByFileID" type="text" class="search-control form-control" id="exampleInputAmount" placeholder="Find by File Id">
            </li>
        </ul>
    </div>

    <div class="dg-tablePanelBody">
        <table ng-if="(vm.allTransactions.length ===  vm.tranToRemove.length)" class="table table-bordered dg-table">
            <thead>
            <tr>
                <th>
                    No transactions found in the given date range and selected filters.
                </th>
            </tr>
            </thead>
        </table>

        <table ng-if="(vm.allTransactions.length >  vm.tranToRemove.length)" class="table table-bordered dg-table">
            <thead>
            <tr>
                <th ng-repeat="heading in vm.transactionTableHeadings" ng-bind="heading"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in vm.allTransactions | selectedRows:vm.tranToRemove:'tr_transactionID' | selectFilter: vm.searchTransactionByFileID:'fileNo' | orderBy: '-transactionDate'" ng-hide="row.hide">
                <td ng-bind="row.transactionDate | date:vm.appFormats.Date"></td>
                <td><a ui-sref="shell.tradebook.Transaction({tran:row.tr_transactionID})">{{row.fileNo}}</a></td>
                <td><a ui-sref="shell.businessPartner.view({id:row.tr_bpBuyerID})">{{row.buyer}}</a></td>
                <td><a ui-sref="shell.products.viewProduct({id:row.tr_productID})">{{row.product}}</a></td>
                <td ng-bind="row.quantity + ' MT'"></td>
                <td ng-bind="row.rate  | currency:'$':0"></td>
                <td><a ui-sref="shell.businessPartner.view({id:row.tr_bpSellerID})">{{row.seller}}</a></td>
                <td ng-bind="row.origin"></td>
                <td ng-if="row.shipment_start === null">Not Entered</td>
                <td ng-if="row.shipment_start !== null" ng-bind="row.shipment_start | date:vm.appFormats.Date"></td>
                <td ng-if="row.shipment_end === null">Not Entered</td>
                <td ng-if="row.shipment_end !== null" ng-bind="row.shipment_end | date:vm.appFormats.Date"></td>
                <td ng-bind="row.commission"></td>
            </tr>
            </tbody>
        </table>

    </div>
</page-blue-container>
