<page-header heading="Transactions" sub-heading="Manage" button-list="vm.headerAnchor"></page-header>
<filter-bar date-picker-needed="true"
       buyer="true" seller="true" product="true" tran-status="true">
</filter-bar>
<page-blue-container>
    <div class="dg-tablePanelHead clearfix">
        <div class="dg-tablePanelTitle">Transactions (Standard)<br><small>Total {{vm.allTransactions.data.length}} Transactions</small></div>

    </div>
    <div class="dg-tablePanelBody">
        <table ng-if="(vm.allTransactions.length >  0)" class="table table-bordered dg-table">
            <thead>
            <tr>
                <th ng-repeat="heading in vm.transactionTableHeadings" ng-bind="heading"></th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in vm.allTransactions | filter:vm.searchTransaction">
                    <td ng-bind="row.transactionDate| date:'dd/MM/yyyy'"></td>
                    <td ng-bind="row.fileNo"></td>
                    <td ng-bind="row.buyer"></td>
                    <td><a>{{row.product}}</a></td>
                    <td ng-bind="row.quantity"></td>
                    <td ng-bind="row.rate  | currency:'$':0"></td>
                    <td ng-bind="row.seller"></td>
                    <td ng-bind="row.origin"></td>
                    <td ng-bind=""></td>
                    <td ng-bind="row.port"></td>
                    <td ng-bind=""></td>
                </tr>
            </tbody>
        </table>

    </div>
</page-blue-container>
