<div class="col-lg-12  marginLeft15">
    <div class="col-lg-12 tableHeading">
        <label>Secondary Trade</label>
        <label class="pull-right cursor-pointer" >
            <span ng-bind="vm.secondaryTransactions.length + ' Secondary Trades'"></span>
            <i ng-click="vm.showSecondaryTrade = !vm.showSecondaryTrade" class="fa" ng-class="{'fa-chevron-circle-down':vm.showSecondaryTrade,'fa-chevron-circle-right':!vm.showSecondaryTrade}"></i>
        </label>
    </div>

    <div ng-show="(vm.showSecondaryTrade && !vm.currentlyAdding) " class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <label ng-click="vm.currentlyAdding=true;" class="cursor-pointer pull-right" ng-if="!vm.currentlyAdding">
                    <i class="fa fa-plus-circle orangeFont"></i>
                    &nbsp;&nbsp;Add New Secondary Trade
                </label>
            </div>
        </div>
    </div>

    <div class="col-lg-12" ng-show="vm.showSecondaryTrade && (vm.currentlyAdding)">
        <page-blue-container>
            <div class="row">
                <div class="col-lg-12 border-bottom-gray">
                    <label>New Secondary Transaction</label>

                    <label ng-click="vm.cancel()" class="cursor-pointer pull-right">
                        &nbsp;&nbsp;
                        <i class="fa fa-times-circle redFont"></i>
                        &nbsp;&nbsp;Cancel
                    </label>
                    <label ng-click="vm.addSecondary()" class="cursor-pointer pull-right border-right-gray">
                        <i class="fa fa-database blueFont"></i>
                        &nbsp;&nbsp;Save&nbsp;&nbsp;
                    </label>

                </div>
            </div>
            <div class="row">
                </br>
                <div class="col-lg-12">
                    <div class="form-group col-lg-4 col-xs-12 col-lg-offset-8">
                        <label>Date of Transaction</label>
                        <date-picker date="vm.newSecondaryTransaction.tr_sec_date" max-date="" min-date=""></date-picker>
                    </div>
                </div>


                <div class="col-lg-12">

                    <div class="form-group col-lg-4  col-xs-12 col-lg-offset-4">
                        <label>Buyer</label>
                        <selectize ng-disabled="vm.viewMode" placeholder='Please enter buyer' config="vm.bpConfig" options='vm.buyersList' ng-model="vm.newSecondaryTransaction.tr_sec_bpBuyerID"></selectize>
                    </div>
                    <div class="form-group col-lg-4 col-xs-12">
                        <label>Price</label>
                        <number-only-input input-value="vm.newSecondaryTransaction.tr_sec_buyerPrice" input-name="vm.newSecondaryTransaction.tr_sec_buyerPrice" input-place="USD$"></number-only-input>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group col-lg-4  col-xs-12 col-lg-offset-4">
                        <label>Seller</label>
                        <selectize ng-disabled="vm.viewMode" placeholder='Please enter seller'  config="vm.bpConfig" options='vm.sellersList' ng-model="vm.newSecondaryTransaction.tr_sec_bpSellerID"></selectize>
                    </div>
                    <div class="form-group col-lg-4 col-xs-12">
                        <label>Price</label>
                        <number-only-input
                                input-value="vm.newSecondaryTransaction.tr_sec_sellerPrice"
                                input-name="vm.newSecondaryTransaction.tr_sec_sellerPrice"
                                input-place="USD$">
                        </number-only-input>
                    </div>
                </div>
                <div class="col-lg-12">
                    <label>Other Information</label>
                    <textarea rows="2" ng-model="vm.newSecondaryTransaction.tr_sec_otherInfo" class="form-control resizeNone" placeholder="Enter other information here" ></textarea>

                </div>
            </div>
        </page-blue-container>
    </div>

    <div class="col-lg-12" ng-show="vm.showSecondaryTrade" >
        <div class="dg-tablePanelBody">
            <table class="table table-bordered dg-table">
                <thead>
                <tr ng-show="vm.secondaryTransactions.length > 0">
                    <th>Date</th>
                    <th>Buyer</th>
                    <th>Buyer Price</th>
                    <th>Seller</th>
                    <th>Seller Price</th>
                    <th>Other Information</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="tran in vm.secondaryTransactions | orderBy: 'tr_sec_date'">
                    <td ng-bind="tran.tr_sec_date | date: 'dd/MM/yyyy'"></td>
                    <td>
                        <selectize ng-disabled="true" placeholder='Please enter buyer' config="vm.bpConfig" options='vm.buyersList' ng-model="tran.tr_sec_bpBuyerID"></selectize>
                    </td>
                    <td ng-bind="tran.tr_sec_buyerPrice | currency:'$ ':0"></td>
                    <td>
                        <selectize ng-disabled="true" placeholder='Please enter seller'  config="vm.bpConfig" options='vm.sellersList' ng-model="tran.tr_sec_bpSellerID"></selectize>
                    </td>
                    <td ng-bind="tran.tr_sec_sellerPrice | currency:'$ ':0"></td>
                    <td ng-bind="tran.tr_sec_otherInfo ? tran.tr_sec_otherInfo: 'No Information Added'"></td>
                    <td>
                        <label ng-click="vm.deleteSecondaryTransaction($index)" class="cursor-pointer border-right-gray">
                            <i class="fa fa-trash-o redFont"></i>
                            Delete&nbsp;&nbsp;
                        </label>
                        <label  ng-click="vm.editSecondaryTransaction($index)" class="cursor-pointer ">&nbsp;&nbsp;Edit
                            <i class="fa fa-edit orangeFont"></i>&nbsp;&nbsp;
                        </label>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>