<page-blue-container>
    <div class="col-lg-12 col-xs-12">
        <form name="vm.changePassword"  novalidate>
            <div class="row">
                <div class="form-group col-md-4">
                    <label>Old Password</label>
                    <input name="oldPassword"
                           type="password"
                           ng-model-options="{ updateOn: 'default blur' }"
                           ng-model="vm.passwordDetails.oldPassword"
                           class="form-control"
                           onCopy="return false"
                           onDrag="return false"
                           onDrop="return false"
                           onPaste="return false"
                           placeholder="{{vm.inputFields.OldPassword.placeholder}}"
                           ng-required="true"/>
                    <ng-messages for='vm.changePassword.oldPassword.$error' ng-if='vm.changePassword.oldPassword.$dirty || vm.changePassword.$submitted'>
                        <div ng-message="required" class="errorValidation">{{::vm.inputFields.OldPassword.errorValidations.required}}</div>
                    </ng-messages>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label>New Password</label>
                    <input name="newPassword"
                           type="password"
                           ng-model-options="{ updateOn: 'default blur' }"
                           ng-model="vm.passwordDetails.newPassword"
                           ng-pattern="vm.inputFields.NewPassword.pattern"
                           ng-minlength="{{vm.inputFields.NewPassword.minLength}}"
                           ng-maxlength="{{vm.inputFields.NewPassword.maxLength}}"
                           class="form-control"
                           onCopy="return false"
                           onDrag="return false"
                           onDrop="return false"
                           onPaste="return false"
                           placeholder="{{vm.inputFields.NewPassword.placeholder}}"
                           ng-required="true"/>
                    <ng-messages for='vm.changePassword.newPassword.$error' ng-if='vm.changePassword.newPassword.$dirty || vm.changePassword.$submitted'>
                        <div ng-message="required" class="errorValidation">{{::vm.inputFields.NewPassword.errorValidations.required}}</div>
                        <div class="errorValidation" ng-message="pattern">{{::vm.inputFields.NewPassword.errorValidations.pattern}}</div>
                    </ng-messages>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label>Confirm Password</label>
                    <input name="confirmPassword"
                           type="password"
                           ng-model-options="{ updateOn: 'default blur' }"
                           ng-model="vm.passwordDetails.confirmPassword"
                           class="form-control"
                           onCopy="return false"
                           onDrag="return false"
                           onDrop="return false"
                           onPaste="return false"
                           ui-validate=" '$value===vm.changePassword.newPassword.$viewValue' "
                           ui-validate-watch=" 'vm.passwordDetails.newPassword' "
                           placeholder="{{vm.inputFields.ConfirmPassword.placeholder}}"
                           ng-required="true"/>
                    <ng-messages for='vm.changePassword.confirmPassword.$error' ng-if='vm.changePassword.confirmPassword.$dirty || vm.changePassword.$submitted'>
                        <div ng-message="required" class="errorValidation">{{::vm.inputFields.ConfirmPassword.errorValidations.required}}</div>
                        <div class="errorValidation" ng-message="validator">{{::vm.inputFields.ConfirmPassword.errorValidations.validator}}</div>
                    </ng-messages>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <button type="submit" ng-click="vm.submitChangePassword(vm.changePassword)" class="btn btn-default submitBtn">Change Password</button>
                </div>
            </div>

        </form>
    </div>
</page-blue-container>