<div class="clearfix tableHeading2 cursor-pointer">
    <label ng-show="vm.yourPassword" class="cursor-pointer">Change Your Password</label>
</div>
<div class="clearfix">
    <form name="vm.changePassword"  novalidate>
        <div class="row" ng-if="vm.yourPassword">
            <div class="form-group col-md-4 col-md-offset-1">
                <label>Old Password</label>
                <input name="oldPassword"
                       type="password"
                       ng-model-options="{ updateOn: 'default blur' }"
                       ng-model="vm.passwordDetails.oldPassword"
                       class="form-control"
                       onCopy="return false"
                       onDrag="return false"
                       onDrop="return false"
                       onPaste="return false"
                       placeholder="{{vm.inputFields.OldPassword.placeholder}}"
                       ng-required="true"/>
                <ng-messages for='vm.changePassword.oldPassword.$error' ng-if='vm.changePassword.oldPassword.$dirty || vm.changePassword.$submitted'>
                    <div ng-message="required" class="errorValidation">{{::vm.inputFields.OldPassword.errorValidations.required}}</div>
                </ng-messages>
            </div>
        </div>
        <div class="row">
            <div class="form-group  col-md-offset-1" ng-class="{'col-md-4': vm.yourPassword, 'col-md-8': !vm.yourPassword}">
                <label>New Password</label>
                <input name="newPassword"
                       type="password"
                       ng-model-options="{ updateOn: 'default blur' }"
                       ng-model="vm.passwordDetails.newPassword"
                       ng-pattern="/^(?=^.{8,32}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[!@#$%^&amp;*()_+}{&quot;:;'?/&gt;.&lt;,])(?!.*\s).*$/"
                       ng-minlength="{{vm.inputFields.NewPassword.minLength}}"
                       ng-maxlength="{{vm.inputFields.NewPassword.maxLength}}"
                       class="form-control"
                       onCopy="return false"
                       onDrag="return false"
                       onDrop="return false"
                       onPaste="return false"
                       placeholder="{{vm.inputFields.NewPassword.placeholder}}"
                       ng-required="true"/>
                <ng-messages for='vm.changePassword.newPassword.$error' ng-if='vm.changePassword.newPassword.$dirty || vm.changePassword.$submitted'>
                    <div ng-message="required" class="errorValidation">{{::vm.inputFields.NewPassword.errorValidations.required}}</div>
                    <div class="errorValidation" ng-message="pattern">{{::vm.inputFields.NewPassword.errorValidations.pattern}}</div>
                </ng-messages>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-offset-1"  ng-class="{'col-md-4': vm.yourPassword, 'col-md-8': !vm.yourPassword}">
                <label>Confirm Password</label>
                <input name="confirmPassword"
                       type="password"
                       ng-model-options="{ updateOn: 'default blur' }"
                       ng-model="vm.passwordDetails.confirmPassword"
                       class="form-control"
                       onCopy="return false"
                       onDrag="return false"
                       onDrop="return false"
                       onPaste="return false"
                       ui-validate=" '$value===vm.changePassword.newPassword.$viewValue' "
                       ui-validate-watch=" 'vm.passwordDetails.newPassword' "
                       placeholder="{{vm.inputFields.ConfirmPassword.placeholder}}"
                       ng-required="true"/>
                <ng-messages for='vm.changePassword.confirmPassword.$error' ng-if='vm.changePassword.confirmPassword.$dirty || vm.changePassword.$submitted'>
                    <div ng-message="required" class="errorValidation">{{::vm.inputFields.ConfirmPassword.errorValidations.required}}</div>
                    <div class="errorValidation" ng-message="validator">{{::vm.inputFields.ConfirmPassword.errorValidations.validator}}</div>
                </ng-messages>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12 col-md-offset-1">
                <button type="submit" ng-click="vm.submitChangePassword(vm.changePassword)" class="btn btn-default submitBtn">Change Password</button>
            </div>
        </div>

    </form>
</div>
