<div>
    <canvas id="bar" class="chart chart-bar"
            ng-if="showCh && (type==='bar')"
            chart-data="dataClone"
            chart-legend="false" chart-colours="colors"
            chart-labels="labels" chart-series="series">
    </canvas>
    <canvas
            ng-if="(type==='line')"
            id="line" class="chart chart-line" chart-data="dataClone"
            chart-labels="labels" chart-legend="false" chart-series="series"
            chart-click="onClick"
            chart-colours="colors">
    </canvas>
    <canvas  ng-if="(type==='pie')" id="pie" class="chart chart-pie" chart-legend="false" chart-colours="colors"
             chart-data="dataClone" chart-labels="labels">
    </canvas>

    <div class="chart-legend" ng-if="showCh && (type==='bar')">
        <ul class="line-legend">
            <li ng-repeat="item in series track by $index"
                ng-click="show[$index] = !show[$index];onHideSeries();"
                class="cursor-pointer chartLegends">
            <span   ng-style="{ 'background' : ((show[$index] === true) ? colors[$index] : 'silver')}"
                    title="Show/hide corresponding line on chart">
            </span>
                {{ series[$index] }}
            </li>
        </ul>
    </div>

    <div class="chart-legend" ng-if="type==='line'">
        <ul class="line-legend">
            <li ng-repeat="item in series track by $index"
                ng-click="show[$index] = !show[$index];onHideSeries();"
                class="cursor-pointer chartLegends">
            <span   ng-style="{ 'background' : ((show[$index] === true) ? colors[$index] : 'silver')}"
                    title="Show/hide corresponding line on chart">
            </span>
                {{ series[$index] }}
            </li>
        </ul>
    </div>

    <div class="chart-legend" ng-if="(type==='pie')">
        <table class="table table-bordered dg-table">
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Products</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr style="max-height: 50px;" ng-repeat="item in pieLabels | orderBy:'-value' track by $index" ng-if="item.value > 0">
                    <td ng-style="{ 'background' : item.color}">
                    </td>
                    <td>
                        <div ng-bind="item.name" class="ellipsis pieName"></div>
                    </td>
                    <td style="text-align: left">
                        <div ng-if="pieType === 'USD'">{{ item.value | currency:'$ ':0}}</div>
                        <div ng-if="pieType === 'MT'">{{ item.value | currency:'':0}} MT</div>
                    </td>
                </tr>
            </tbody>
        </table>

        <!--<ul class="line-legend">-->
            <!--<li ng-repeat="item in pieLabels | orderBy:'-value' track by $index" ng-if="item.value > 0"-->
                <!--ng-click="show[$index] = !show[$index];"-->
                <!--class="chartLegends">-->
            <!--<span   ng-style="{ 'background' : item.color}"-->
                    <!--title="Show/hide corresponding line on chart">-->
            <!--</span>-->
                <!--<div ng-if="pieType === 'USD'">{{item.name}} ({{ item.value | currency:'$ ':0}})</div>-->
                <!--<div ng-if="pieType === 'MT'">{{item.name}} ({{ item.value | currency:'':0}} MT)</div>-->
            <!--</li>-->
        <!--</ul>-->
    </div>
</div>

