<div class="col-sm-3" >
  <div  class="dg-filterDropdown"  ng-if="(filterType==='shipper')||(filterType==='broker')||(filterType==='buyer')||(filterType==='seller')">
    <div class="dg-filterDropdownField" ng-click="invertShowOptions()" ng><i class="fa fa-filter">&nbsp;&nbsp;</i>{{title}}<span class="caret"></span></div>
    <div click-outside="closeFilter()" class="dg-filterDropdownMenu" ng-show="showOptions">
      <ul class="dg-head">
        <li>
            <input type="checkbox">
            <span class="dg-value"><input type="text" class="form-control"></span>
        </li>
      </ul>
      <ul ng-scrollbars>
        <li ng-repeat="value in dropDownValues">
          <input type="checkbox">
          <span class="dg-value filterHeading">{{value.bp_Name}}</span>
          <span class="dg-value">{{value.bp_country}} | {{value.bp_Cont_fullName}}</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="dg-filterDropdown" ng-if="(filterType==='bpTypes')||(filterType==='tranStatus')">
        <div class="dg-filterDropdownField" ng-click="invertShowOptions()"><i class="fa fa-filter">&nbsp;&nbsp;</i>{{title}}<span class="caret"></span></div>
        <div class="dg-filterDropdownMenu"  click-outside="closeFilter()" ng-show="showOptions">
            <ul ng-scrollbars>
                <li ng-repeat="value in dropDownValues">
                    <input type="checkbox">
                    <span class="dg-value singleFilterHeading">{{value.name}}</span>
                </li>
            </ul>
        </div>
  </div>
  <div  class="dg-filterDropdown" ng-if="(filterType==='country')">
        <div class="dg-filterDropdownField" ng-click="invertShowOptions()"><i class="fa fa-filter">&nbsp;&nbsp;</i>{{title}}<span class="caret"></span></div>
        <div class="dg-filterDropdownMenu" click-outside="closeFilter()" ng-show="showOptions">
            <ul class="dg-head">
                <li>
                    <input type="checkbox">
                    <span class="dg-value"><input type="text" ng-model="textFilter" class="form-control"></span>
                </li>
            </ul>
            <ul ng-scrollbars>
                <li ng-repeat="value in dropDownValues|filter:textFilter">
                    <input type="checkbox">
                    <span class="dg-value filterHeading">{{value.text}}</span>
                </li>
            </ul>
        </div>
  </div>
  <div class="dg-filterDropdown" ng-if="filterType==='product'">
        <div class="dg-filterDropdownField" ng-click="invertShowOptions()"><i class="fa fa-filter">&nbsp;&nbsp;</i>{{title}}<span class="caret"></span></div>
        <div class="dg-filterDropdownMenu" id="main-menu{{title}}" click-outside="closeFilter()"  ng-show="showOptions">
            <ul class="dg-head">
                <li>
                    <input type="checkbox">
                    <span class="dg-value"><input ng-model="textFilter" type="text" class="form-control"></span>
                </li>
            </ul>
            <ul ng-scrollbars>
                <li ng-repeat="value in dropDownValues|filter:textFilter">
                    <input type="checkbox" value="value.details.id">
                    <span class="dg-value singleFilterHeading">{{value.details.name}}</span>
                </li>
            </ul>
        </div>
  </div>
</div>