<div class="height40px">
    <input type="text"
           class="form-control"
           datepicker-popup='dd/MM/yyyy'
           ng-model="date"
           ng-disabled="disabled"
           placeholder="Select"
           is-open="datePickerOpened"
           min-date="{{minDate}}"
           max-date="'{{maxDate}}'"
           close-text="Close" />
<span class="input-group-btn datePickerAddTran">
    <button type="button" class="btn btn-default" ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
</span>
</div>
