<div class="row" ng-show="datePickerNeeded">
    <div ng-if="datePickerNeeded" class="col-sm-4 col-sm-offset-8">
        <div class="myDatePicker">
            <input type="daterange"
                   opens="left"
                   ng-change="datePickerChanged(datePicker)"
                   format="{{appFormats.FullDate}}"
                   ranges="ranges"
                   max-date="maxDate"
                   readonly="true"
                   separator="{{seperator}}"
                   class="form-control date-picker  dg-filterDropdown"
                   ng-model="datePicker" />
        </div>
    </div>
    <!--<input date-range-picker class="form-control date-picker" type="text" ng-model="datePicker" />-->
</div>
<div class="dg-filterPanel">
    <div class="row">
        <custom-filter ng-if="buyer" filter-type="buyer"></custom-filter>
        <custom-filter ng-if="seller"  filter-type="seller"></custom-filter>
        <custom-filter ng-if="product" filter-type="product"></custom-filter>
        <custom-filter ng-if="bpTypes" filter-type="bpTypes"></custom-filter>
        <custom-filter ng-if="country" filter-type="country"></custom-filter>
        <custom-filter ng-if="tranStatus" filter-type="tranStatus"></custom-filter>
    </div>
</div>
