<div class="row" ng-show="datePickerNeeded">

    <div class="col-sm-4 col-sm-offset-8">
        <div class="myDatePicker">
            <input date-range-picker class="form-control date-picker  dg-filterDropdown"
                   min="'2014-02-23'" max="maxDate"
                   options="dateOptions"
                   type="text"
                   ng-readonly="true"
                   ng-model="datePicker.date" />

            <!--<span></span> <b class="caret"></b>-->
        </div>

        <!--<div id="reportrange" class="pull-right myDatePicker dg-filterDropdown">-->

        <!--<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>-->

        <!--</div>-->
    </div>
</div>
<div class="dg-filterPanel">
  <div class="row">
    <custom-filter ng-if="buyer" filter-type="buyer"></custom-filter>
    <custom-filter ng-if="seller"  filter-type="seller"></custom-filter>
    <custom-filter ng-if="product" filter-type="product"></custom-filter>
    <custom-filter ng-if="bpTypes" filter-type="bpTypes"></custom-filter>
    <custom-filter ng-if="country" filter-type="country"></custom-filter>

    <custom-filter ng-if="tranStatus" filter-type="tranStatus"></custom-filter>
  </div>
</div>


<!--<script type="text/javascript">-->
<!--$(function() {-->
 <!---->
    <!--$('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));-->
 <!---->
    <!--$('#reportrange').daterangepicker({-->
        <!--format: 'MM/DD/YYYY',-->
        <!--startDate: moment().subtract(29, 'days'),-->
        <!--endDate: moment(),-->
        <!--minDate: '01/01/2012',-->
        <!--maxDate: '12/31/2015',-->
        <!--dateLimit: { days: 60 },-->
        <!--showDropdowns: true,-->
        <!--showWeekNumbers: true,-->
        <!--timePicker: false,-->
        <!--timePickerIncrement: 1,-->
        <!--timePicker12Hour: true,-->
        <!--ranges: {-->
           <!--'Today': [moment(), moment()],-->
           <!--'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],-->
           <!--'Last 7 Days': [moment().subtract(6, 'days'), moment()],-->
           <!--'Last 30 Days': [moment().subtract(29, 'days'), moment()],-->
           <!--'This Month': [moment().startOf('month'), moment().endOf('month')],-->
           <!--'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]-->
        <!--},-->
        <!--opens: 'left',-->
        <!--drops: 'down',-->
        <!--buttonClasses: ['btn', 'btn-sm'],-->
        <!--applyClass: 'btn-primary',-->
        <!--cancelClass: 'btn-default',-->
        <!--separator: ' to ',-->
        <!--locale: {-->
            <!--applyLabel: 'Submit',-->
            <!--cancelLabel: 'Cancel',-->
            <!--fromLabel: 'From',-->
            <!--toLabel: 'To',-->
            <!--customRangeLabel: 'Custom',-->
            <!--daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr','Sa'],-->
            <!--monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],-->
            <!--firstDay: 1-->
        <!--}-->
    <!--}, function(start, end, label) {-->
        <!--console.log(start.toISOString(), end.toISOString(), label);-->
        <!--$('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));-->
    <!--});-->
 <!---->
<!--});-->
<!--</script>-->