<page-header ng-if="vm.viewMode" heading="{{vm.newProduct.name}}" sub-heading="View" button-list="vm.headerAnchor" go-back="true" ></page-header>
<page-header ng-if="vm.editMode" heading="{{vm.newProduct.name}}" sub-heading="Edit" button-list="" go-back="true" ></page-header>
<page-header ng-if="vm.addMode" heading="New Product" sub-heading="Add" go-back="true"></page-header>
	<page-blue-container>
        	<form name="vm.productForm" novalidate>
                  <div class="row">
                      <div class="col-lg-12  marginLeft15">
                          <div class="col-lg-12 tableHeading">
                              <label>General Info</label>
                          </div>
                          <div class="form-group col-lg-6">
                              <label for="pName">Name</label>
                              <input name="pname" ng-required="true" type="text"  ng-disabled="vm.viewMode" ng-model="vm.newProduct.name" class="form-control" id="pName" placeholder="Enter Product Name">
                              <ng-messages for="vm.productForm.pname.$error" ng-if='vm.productForm.pname.$dirty || vm.productForm.$submitted'>
                                  <div ng-message="required" class="errorValidation">Product name is required.</div>
                              </ng-messages>
                          </div>
                          <div class="form-group col-lg-6">
                              <label>Origin</label>
                              <selectize name="pOrigin" ng-required="true" ng-disabled="vm.viewMode" placeholder='Please enter Country' config="vm.singleConfig" ng-model="vm.newProduct.origin"></selectize>
                              <ng-messages for="vm.productForm.pOrigin.$error" ng-if='vm.productForm.pOrigin.$dirty || vm.productForm.$submitted'>
                                  <div ng-message="required" class="errorValidation">Product Origin is required.</div>
                              </ng-messages>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-12 tableHeading width96">
                          <label>Quality</label>
                      </div>
                      <div class="col-lg-12">
                          <tags-input ng-model="vm.quality"
                                      placeholder="Add product quality" ng-disabled="vm.viewMode">
                          </tags-input>
                      </div>
                      <div class="col-lg-12 tableHeading width96">
                          <label>Specification</label>
                      </div>
                      <div class="col-lg-12">
                          <div class="form-group col-lg-4 col-xs-12">
                              <label for="pMoisture">Moisture</label>
                              <input name="pMoisture" type="number" ng-disabled="vm.viewMode" ng-model="vm.newProduct.specs.moisture" class="form-control" id="pMoisture" placeholder="Moisture">
                          </div>
                          <div class="form-group col-lg-4 col-xs-12">
                              <label for="pPurity">Purity</label>
                              <input name="pPurity" type="number" ng-disabled="vm.viewMode" ng-model="vm.newProduct.specs.purity" class="form-control" id="pPurity" placeholder="Purity">
                          </div>
                          <div class="form-group col-lg-4 col-xs-12">
                              <label for="pSplits">Foreign Matter</label>
                              <input name="pSplits" type="number" ng-disabled="vm.viewMode" ng-model="vm.newProduct.specs.foreignMatter" class="form-control" id="pSplits" placeholder="Splits">
                          </div>

                          <div class="form-group col-lg-4 col-xs-12">
                              <label for="pSplits">Broken/Splits</label>
                              <input name="pSplits" type="number" ng-disabled="vm.viewMode" ng-model="vm.newProduct.specs.splits" class="form-control" id="pSplits" placeholder="Splits">
                          </div>
                          <div class="form-group col-lg-4 col-xs-12">
                              <label for="pBroken">Damaged</label>
                              <input name="pBroken" type="number" ng-disabled="vm.viewMode" ng-model="vm.newProduct.specs.damaged" class="form-control" id="pBroken" placeholder="Damaged">
                          </div>
                          <div class="form-group col-lg-4 col-xs-12">
                              <label for="pBroken">Green Damaged</label>
                              <input name="pBroken" type="number" ng-disabled="vm.viewMode" ng-model="vm.newProduct.specs.greenDamaged" class="form-control" id="pBroken" placeholder="Green Damaged">
                          </div>
                          <div class="form-group col-lg-4 col-xs-12">
                              <label for="pWeeviled">Weeviled</label>
                              <input name="pWeeviled" type="number" ng-disabled="vm.viewMode" ng-model="vm.newProduct.specs.weeviled" class="form-control" id="pWeeviled" placeholder="Weeviled">
                          </div>
                          <div class="form-group col-lg-4 col-xs-12">
                              <label for="pWeeviled">Other Color</label>
                              <input name="pWeeviled" type="number" ng-disabled="vm.viewMode" ng-model="vm.newProduct.specs.otherColor" class="form-control" id="pWeeviled" placeholder="Other Color">
                          </div>
                          <div class="form-group col-lg-4 col-xs-12">
                              <label for="pWeeviled">Wrinkled</label>
                              <input name="pWeeviled" type="number" ng-disabled="vm.viewMode" ng-model="vm.newProduct.specs.wrinkled" class="form-control" id="pWeeviled" placeholder="Wrinkled">
                          </div>
                      </div>
                  </div>
                <div class="border-top-black marginTop5">
                    <button type="submit" ng-show="vm.addMode" class="btn btn-default submitBtn" ng-click="vm.addProduct()">Add New Product</button>
                    <button type="submit" ng-show="vm.editMode" class="btn btn-default submitBtn" ng-click="vm.saveProduct()">Save Changes</button>
                    <button type="submit" ng-show="vm.viewMode" class="btn btn-default submitBtn" ng-click="vm.deleteProduct()">Delete Product</button>
                    <button type="submit"  class="btn btn-default" ui-sref="shell.products.all">Cancel</button>
                </div>

			</form>
	</page-blue-container>
