<page-header heading="New Business Partner" sub-heading="Add" xmlns="http://www.w3.org/1999/html"></page-header>
<page-blue-container>
      <div class="row">
        <div class="col-xs-12">
            <!--<accordion close-others="true">-->
                <!--<accordion-group is-open="vm.generalInfoOpen">-->
                    <!--<accordion-heading>-->
                        <!--Basic Information <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vm.generalInfoOpen, 'glyphicon-chevron-right': !vm.generalInfoOpen}"></i>-->
                    <!--</accordion-heading>-->
                    <!--<div class="form-horizontal dg-infoDivTable">-->
                        <!--<div class="clearfix">-->
                            <!--<div class="col-md-12">-->
                                <!--<div class="form-group">-->
                                    <!--<div class="col-sm-12 control-label">-->
                                        <!--<label class="col-sm-12 control-label marginLeft15">Business Partner Name</label>-->
                                        <!--<div class="col-sm-12 marginLeft15">-->
                                            <!--<input type="text" class="form-control" ng-model="vm.businessPartner.name" placeholder="Please enter business partner name here">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col-md-6">-->
                                <!--<div class="form-group">-->
                                    <!--<div class="col-sm-12 control-label">-->
                                        <!--<label class="col-sm-12 control-label marginLeft15">Country</label>-->
                                        <!--<div class="col-sm-12 marginLeft15">-->
                                            <!---->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<div class="col-sm-12 control-label">-->
                                        <!--<label class="col-sm-12 control-label marginLeft15">Website</label>-->
                                        <!--<div class="col-sm-12 marginLeft15">-->
                                            <!--<input type="text" class="form-control" ng-model="vm.businessPartner.website" placeholder="Please enter business partner website here">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label class="col-sm-12 control-label">Business Partner Type</label>-->
                                    <!--<div class="col-sm-3" ng-repeat="type in vm.possibleBPTypes">-->
                                        <!--<input type="checkbox" class="bpChecks" ng-model="type.isChecked">-->
                                        <!--<p class="form-control-static">{{type.name}}</p>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label class="col-sm-12 control-label">Credibility Rating</label>-->
                                    <!--<div class="col-sm-12">-->
                                        <!--<input type="number" min="0" max="5" class="form-control" ng-model="vm.businessPartner.creditRating" placeholder="Credibility Rating">-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col-md-6">-->
                                <!--<div class="form-group">-->
                                    <!--<div class="col-sm-12 control-label">-->
                                        <!--<label class="col-sm-12 control-label marginLeft15">Fax Number</label>-->
                                        <!--<div class="col-sm-12 marginLeft15">-->
                                            <!--<input type="text" class="form-control" ng-model="vm.businessPartner.faxNumber" placeholder="Please enter business partner FAX number here">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="form-group" ng-show="vm.possibleBPTypes[0].isChecked">-->
                                    <!--<label class="col-sm-12 control-label">Buyer Contract Type</label>-->
                                    <!--<div class="col-sm-6" ng-repeat="type in vm.buyerContractTypes">-->
                                        <!--<input type="checkbox" class="bpChecks" ng-model="type.isChecked">-->
                                        <!--<p class="form-control-static">{{type.name}}</p>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</accordion-group>-->
                <!--<accordion-group is-open="vm.contactPersonInfoOpen">-->
                    <!--<accordion-heading>-->
                        <!--Contact Person<span ng-if="vm.businessPartner.contactPerson.length>0">({{vm.businessPartner.contactPerson.length}})</span> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vm.contactPersonInfoOpen, 'glyphicon-chevron-right': !vm.contactPersonInfoOpen}"></i>-->
                    <!--</accordion-heading>-->
                    <!--<div class="form-horizontal dg-infoDivTable">-->
                        <!--<div class="clearfix">-->
                            <!--<div class="col-md-12">-->
                                <!--<i ng-click="vm.addContactPerson()"    class="addSubtract pull-right glyphicon glyphicon-plus"></i>-->
                                <!--<i ng-click="vm.subContactPerson" class="addSubtract pull-right glyphicon glyphicon-minus"></i>-->
                            <!--</div>-->
                            <!--<div ng-repeat="contactPerson in vm.businessPartner.contactPerson">-->
                                <!--<div class="col-md-12">-->
                                    <!--<div class="form-group">-->
                                        <!--<label class="col-sm-12 control-label marginLeft15 largerFont">Contact No. {{$index + 1}}</label>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="col-md-2">-->
                                    <!--<div class="form-group">-->
                                        <!--<label class="col-sm-12 control-label marginLeft15">Title</label>-->
                                        <!--<div class="col-sm-12 marginLeft15">-->
                                            <!--<input type="text" class="form-control" ng-model="contact.title" placeholder="Title">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="col-md-5">-->
                                    <!--<div class="form-group">-->
                                        <!--<label class="col-sm-12 control-label marginLeft15">First Name</label>-->
                                        <!--<div class="col-sm-12 marginLeft15">-->
                                            <!--<input type="text" class="form-control" ng-model="contact.firstName" placeholder="First Name">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="col-md-5">-->
                                    <!--<div class="form-group">-->
                                        <!--<label class="col-sm-12 control-label marginLeft15">Last Name</label>-->
                                        <!--<div class="col-sm-12 marginLeft15">-->
                                            <!--<input type="text" class="form-control" ng-model="contact.lastName" placeholder="Last Name">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="col-md-12">-->
                                    <!--<div class="form-group">-->
                                        <!--<label class="col-sm-12 control-label marginLeft15">Designation</label>-->
                                        <!--<div class="col-sm-12 marginLeft15">-->
                                            <!--<input type="text" class="form-control" ng-model="contact.designation" placeholder="Designation">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="col-md-12">-->
                                    <!--<div class="form-group marginLeft15">-->
                                        <!--<label class="col-sm-12 control-label">Email Address</label>-->
                                        <!--<div class="col-sm-12">-->
                                            <!--<tags-input ng-model="contact.emails"-->
                                                        <!--placeholder="Add business partner e-mail">-->
                                            <!--</tags-input>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="col-md-12">-->
                                    <!--<div class="form-group marginLeft15">-->
                                        <!--<label class="col-sm-12 control-label">Contact Numbers</label>-->
                                        <!--<div class="col-sm-12">-->
                                            <!--<tags-input ng-model="contact.contactNumbers"-->
                                                        <!--placeholder="Add business partner e-mail">-->
                                            <!--</tags-input>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->

                        <!--</div>-->
                    <!--</div>-->
                <!--</accordion-group>-->
            <!--</accordion>-->
            </br>
            <div class="col-xs-12 businessPartnerSteps">
                <div ng-class="{'active':step.isActive}" class="col-xs-2 step" ng-repeat="step in vm.steps">
                    <div ng-bind="step.caption"></div>
                </div>
            </div>

                <page-blue-container  ng-if="vm.currentStep===0" class="no-border">
                    <form name="vm.businessPartnerForm" novalidate>
                        <div class="col-lg-12  marginLeft15">
                            <div class="col-lg-12 tableHeading">
                                <label>Basic Information</label>
                            </div>
                            <div class="form-group col-xs-12">
                                <label>Business Partner Name</label>
                                <input name="bpName" class="form-control" type="text" ng-disabled="vm.viewMode" ng-required="true" placeholder='Please enter business partner name' ng-model="vm.businessPartner.general.name"/>
                                <div ng-messages='vm.businessPartnerForm.bpName.$error'
                                     ng-if='vm.businessPartnerForm.bpName.$dirty || vm.businessPartnerForm.$submitted'>
                                    <div class="errorValidation" ng-message="required">Business partner name is required.</div>
                                </div>
                            </div>
                            <div class="form-group col-xs-12">
                                <label>Website</label>
                                <input name="website" type="url" class="form-control" type="text" ng-disabled="vm.viewMode" placeholder='https://www.google.com (optional)' ng-model="vm.businessPartner.general.website"/>

                                <div ng-messages='vm.businessPartnerForm.website.$error'
                                     ng-if='vm.businessPartnerForm.website.$dirty || vm.businessPartnerForm.$submitted'>
                                    <div class="errorValidation" ng-message="url">Invalid web address provided.</div>
                                </div>
                            </div>

                            <div class="form-group col-xs-12">
                                <label class="col-sm-12 control-label">Business Partner Type</label>
                                <div class="col-xs-12 col-md-6" ng-repeat="type in vm.possibleBPTypes">
                                <input type="checkbox" class="bpChecks" ng-model="type.isChecked">
                                <p class="form-control-static">{{type.name}}</p>
                            </div>
                            </div>
                            <div class="form-group col-xs-12">
                                <label class="col-sm-12 control-label">Contract Type</label>
                                <div class="col-xs-12 col-md-6">
                                    <input type="checkbox" class="bpChecks" ng-model="vm.businessPartner.general.doniContract"><p class="form-control-static">Doni Contract</p>
                                </div>

                            </div>
                            <div class="form-group col-xs-12">
                                <label>Credibility Rating</label>
                                <rzslider
                                        rz-slider-model="vm.businessPartner.general.rating"
                                        rz-slider-floor="0"
                                        rz-slider-ceil="5">
                                </rzslider>
                            </div>

                            <div class="form-group col-xs-12">
                                <div>
                                    <button type="submit" class="btn btn-default pull-right" ng-click="vm.goToProducts()">Next</button>
                                    <button class="btn btn-default pull-left" ui-sref="^">Cancel</button>
                                </div>
                            </div>

                        </div>
                    </form>
                </page-blue-container>
                <page-blue-container ng-if="vm.currentStep===1"  class="no-border"  >
                    <form>
                        <div class="col-lg-12  marginLeft15">
                            <div class="col-lg-12 tableHeading">
                                <label>Products</label>
                            </div>
                            <div class="col-xs-12">
                                <tags-input ng-model="vm.businessPartner.products" add-on-paste="false"
                                            replace-spaces-with-dashes="false"
                                            add-from-autocomplete-only="true"
                                            placeholder="Add product tags for business partner "
                                            key-property="value"
                                            min-length="1" display-property="text"
                                            class="ptags">
                                    <auto-complete source="vm.loadProducts($query)" min-length="0"
                                                   load-on-focus="true"
                                                   template="productTagInput"
                                                   max-results-to-show="32">
                                    </auto-complete>
                                </tags-input>
                            </div>
                            <div class="form-group col-xs-12">
                                <div>
                                    <button type="submit" class="btn btn-default pull-right marginLeft15" ng-click="vm.goToContactDetails()">Next</button>
                                    <button class="btn btn-default pull-left" ui-sref="^">Cancel</button>
                                    <button class="btn btn-default pull-left marginLeftPlus15" ng-click="vm.prev()">Prev</button>

                                </div>
                            </div>

                        </div>
                    </form>
                </page-blue-container>

                <page-blue-container class="no-border" ng-if="vm.currentStep===2">
                    <form name="businessPartnerContact" novalidate>
                        <div class="col-lg-12  marginLeft15">
                            <div class="col-lg-12 tableHeading">
                                <label>Business Partner Contact Details </label>
                            </div>
                            <div class="form-group col-xs-12">
                                <label>Business Partner Country</label>
                                <selectize name="country" ng-disabled="vm.viewMode" ng-required="true" placeholder='Select origin for business Partner' config="vm.singleConfig" ng-model="vm.businessPartner.contactDetails.origin"></selectize>
                                <ng-messages for="businessPartnerContact.country.$error" ng-if='businessPartnerContact.country.$dirty || businessPartnerContact.$submitted'>
                                    <div ng-message="required" class="errorValidation">This is required.</div>
                                </ng-messages>
                            </div>
                            <div class="form-group col-xs-12">
                                <label>Business Partner Address</label>
                                <textarea ng-model="vm.businessPartner.contactDetails.address" rows="6" name="bpAddress" class="form-control" type="" ng-disabled="vm.viewMode" ng-required="true" placeholder='Enter address for business partner'/></textarea>
                            </div>
                            <div class="form-group col-xs-12">
                                <label>Contact Number</label>
                                <tags-input ng-model="vm.businessPartner.contactDetails.phoneNumbers"
                                            placeholder="Add contact numbers for business partner"
                                            allowed-tags-pattern="^\+?[0-9\-]+\*?$">
                                </tags-input>
                            </div>
                            <div class="form-group col-xs-12">
                                <label>Fax Number</label>
                                <tags-input ng-model="vm.businessPartner.contactDetails.faxNumbers"
                                            placeholder="Add fax numbers for business partners"
                                            allowed-tags-pattern="^\+?[0-9\-]+\*?$">
                                </tags-input>
                            </div>
                            <div class="form-group col-xs-12">
                                <label>Email</label>
                                <tags-input ng-model="vm.businessPartner.contactDetails.emails"
                                            placeholder="Add emails for business partner"
                                            allowed-tags-pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$">
                                </tags-input>
                            </div>
                            <div class="form-group col-xs-12">
                                <div>
                                    <button type="submit" class="btn btn-default pull-right marginLeft15" ng-click="vm.goToBankDetails()">Next</button>
                                    <button class="btn btn-default pull-left" ui-sref="^">Cancel</button>
                                    <button class="btn btn-default pull-left marginLeftPlus15" ng-click="vm.prev()">Prev</button>
                                </div>
                            </div>

                        </div>
                    </form>
                </page-blue-container>
                <page-blue-container class="no-border" ng-if="vm.currentStep===3" >
                    <form>
                        <div class="col-lg-12  marginLeft15">
                            <div class="col-lg-12 tableHeading">
                                <label>Bank Details</label>
                                <label class="pull-right">
                                    <i class="fa fa-plus-circle orangeFont" ng-click="vm.addBankDetails()"></i>
                                </label>
                            </div>
                            <div class="col-lg-12" ng-repeat="bankDetails in vm.businessPartner.bankDetails">
                                <div class="col-lg-12 innerHeading">
                                    <label>Bank Detail {{$index+1}}</label>
                                    <label class="pull-right">
                                        <i class="fa fa-trash deleteTrash" ng-click="vm.removeBankDetails('Bank Detail '+($index+1), $index)"></i>
                                        <!--&nbsp;&nbsp;-->
                                        <!--<i class="fa fa-pencil editPen"></i>-->
                                    </label>
                                </div>
                                </br>
                                <textarea ng-model="vm.businessPartner.bankDetails[$index].text" class="form-control" ></textarea>
                                </br>
                            </div>
                            <div class="form-group col-xs-12">
                                <div>
                                    <button type="submit" class="btn btn-default pull-right marginLeft15" ng-click="vm.goToContactPerson()">Next</button>
                                    <button class="btn btn-default pull-left" ui-sref="^">Cancel</button>
                                    <button class="btn btn-default pull-left marginLeftPlus15" ng-click="vm.prev()">Prev</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </page-blue-container>

                <page-blue-container class="no-border"  ng-if="vm.currentStep===4">
                    <form name="vm.contactPersonForm" novalidate>
                        <div class="col-lg-12  marginLeft15">
                            <div class="col-lg-12 tableHeading">
                                <label>Contact Person Information</label>
                                <label class="pull-right">
                                    <i ng-click="vm.addContactPerson()" class="fa fa-plus-circle orangeFont"></i>
                                </label>
                            </div>
                            <div class="col-lg-12" ng-repeat="contactPerson in vm.businessPartner.contactPerson">
                                <div class="col-lg-12 innerHeading">
                                    <label>Contact Person Detail {{$index+1}}</label>
                                    <label class="pull-right">
                                        <i class="fa fa-trash deleteTrash" ng-click="vm.subContactPerson('Contact Person Detail '+($index+1), $index)"></i>
                                        <!--&nbsp;&nbsp;-->
                                        <!--<i class="fa fa-pencil editPen"></i>-->
                                    </label>
                                </div>
                                <div class="form-group col-xs-offset-8 col-xs-4">
                                    <input type="checkbox" class="bpChecks"
                                           ng-model="vm.businessPartner.contactPerson[$index].isPrimary">
                                    <p class="form-control-static"><b>Is Primary Contact</b></p>
                                </div>
                                <div class="form-group col-xs-12">
                                    <label>Contact Person Full Name</label>
                                    <input class="form-control" type="text" name="cpName_{{$index}}"
                                           ng-disabled="vm.viewMode" ng-required="true"
                                           placeholder='Please enter contact person full name'
                                           ng-model="vm.businessPartner.contactPerson[$index].fullName"/>
                                    <div ng-messages='vm.contactPersonForm["cpName_" + $index].$error'
                                         ng-if='vm.contactPersonForm["cpName_" + $index].$dirty || vm.contactPersonForm.$submitted'>
                                        <div class="errorValidation" ng-message="required">Contact person full name required</div>
                                    </div>
                                </div>
                                <div class="form-group col-xs-12">
                                    <label>Contact Person Designation</label>
                                    <input class="form-control" type="text" name="cpRole_{{$index}}"
                                           ng-disabled="vm.viewMode" ng-required="true"
                                           placeholder='Please enter contact person deignation'
                                           ng-model="vm.businessPartner.contactPerson[$index].role"/>
                                    <div ng-messages='vm.contactPersonForm["cpRole_" + $index].$error'
                                         ng-if='vm.contactPersonForm["cpRole_" + $index].$dirty || vm.contactPersonForm.$submitted'>
                                        <div class="errorValidation" ng-message="required">Contact person deignation required</div>
                                    </div>
                                </div>
                                <div class="form-group col-xs-12">
                                    <label>Contact Person Email</label>
                                    <input class="form-control" type="text" name="cpEmail_{{$index}}"
                                           ng-pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
                                           ng-disabled="vm.viewMode" ng-required="true"
                                           placeholder='Please enter contact person full name'
                                           ng-model="vm.businessPartner.contactPerson[$index].email"/>
                                    <div ng-messages='vm.contactPersonForm["cpEmail_" + $index].$error'
                                         ng-if='vm.contactPersonForm["cpEmail_" + $index].$dirty || vm.contactPersonForm.$submitted'>
                                        <div class="errorValidation" ng-message="required">Contact person full name required</div>
                                        <div class="errorValidation" ng-message="pattern">Invalid contact Person Email</div>
                                    </div>
                                </div>
                                <div class="form-group col-lg-6 col-sm-12">
                                    <label>Primary Contact Number</label>
                                    <input class="form-control" type="text" name="cpPc1_{{$index}}"
                                           ng-disabled="vm.viewMode" ng-required="true"
                                           ng-pattern="^\+?[0-9\-]+\*?$"
                                           placeholder='Please enter contact person full name'
                                           ng-model="vm.businessPartner.contactPerson[$index].phoneNumber1"/>
                                    <div ng-messages='vm.contactPersonForm["cpPc1_" + $index].$error'
                                         ng-if='vm.contactPersonForm["cpPc1_" + $index].$dirty || vm.contactPersonForm.$submitted'>
                                        <div class="errorValidation" ng-message="required">Contact person primary contact number required</div>
                                        <div class="errorValidation" ng-message="pattern">Invalid contact number</div>
                                    </div>
                                </div>
                                <div class="form-group col-lg-6 col-sm-12">
                                    <label>Secondary Contact Number</label>
                                    <input class="form-control" type="text"  name="cpPc2_{{$index}}"
                                           ng-pattern="^\+?[0-9\-]+\*?$"
                                           ng-disabled="vm.viewMode" ng-required="false"
                                           placeholder='Please enter contact person full name'
                                           ng-model="vm.businessPartner.contactPerson[$index].phoneNumber2"/>
                                    <div ng-messages='vm.contactPersonForm["cpPc2_" + $index].$error'
                                         ng-if='vm.contactPersonForm["cpPc2_" + $index].$dirty || vm.contactPersonForm.$submitted'>
                                        <div class="errorValidation" ng-message="pattern">Invalid contact number</div>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group col-xs-12">
                                <div>
                                    <button type="submit" class="btn btn-default pull-right marginLeft15" ng-click="vm.goToPreview()">Next</button>
                                    <button class="btn btn-default pull-left" ui-sref="^">Cancel</button>
                                    <button class="btn btn-default pull-left marginLeftPlus15" ng-click="vm.prev()">Prev</button>
                                </div>
                            </div>

                        </div>
                    </form>
                </page-blue-container>

                <page-blue-container class="no-border"  ng-if="vm.currentStep===5">
                    <page-blue-container>
                        <div class="col-lg-12  marginLeft15">
                            <div class="col-lg-12 tableHeading">
                                <label>Basic Information</label>
                            </div>
                            <div class="row col-xs-offset-1">
                                <div class="col-xs-12 col-lg-3"><b>Business Partner Name </b></div>
                                <div class="col-xs-12 col-lg-9" ng-bind="vm.businessPartner.general.name"></div>
                            </div>

                            <div class="row col-xs-offset-1">
                                    <div class="col-xs-12 col-lg-3"><b>Business Partner Roles </b></div>
                                    <div class="col-xs-12 col-lg-9" >
                                        <span ng-if="vm.businessPartner.general.isBuyer"><i class="fa fa-star starGolden"></i>Buyer&nbsp;</span>
                                        <span ng-if="vm.businessPartner.general.isSupplier"><i class="fa fa-star starGolden"></i>Seller&nbsp;</span>
                                        <span ng-if="vm.businessPartner.general.isBroker"><i class="fa fa-star starGolden"></i>Broker&nbsp;</span>
                                        <span ng-if="vm.businessPartner.general.isShipper"><i class="fa fa-star starGolden"></i>Shipper</span>
                                    </div>
                            </div>

                            <div class="row col-xs-offset-1">
                                <div class="col-xs-12 col-lg-3"><b>Contract Type </b></div>
                                <div class="col-xs-12 col-lg-9" >
                                    <span ng-if="vm.businessPartner.general.doniContact"><i class="fa fa-check-circle greenCheck"></i> On Doni  Contract</span>
                                    <span ng-if="!vm.businessPartner.general.doniContact"><i class="fa fa-times-circle redCross"></i> Not on Doni Contract</span>
                                </div>
                            </div>

                            <div class="row col-xs-offset-1">
                                <div class="col-xs-12 col-lg-3"><b>Website</b></div>
                                <div class="col-xs-12 col-lg-9" >
                                    <span ng-if="vm.businessPartner.general.website!==''"><i class="fa fa-check-circle greenCheck"></i><a href="{{vm.businessPartner.general.website}}">{{vm.businessPartner.general.website}}</a></span>
                                    <span ng-if="vm.businessPartner.general.website===''"><i class="fa fa-times-circle redCross"></i> Not Provided</span>
                                </div>
                            </div>

                            <div class="row col-xs-offset-1">
                                <div class="col-xs-12 col-lg-3"><b>Rating</b></div>
                                <div class="col-xs-12 col-lg-9" >
                                    <span ng-repeat="n in [] | range:vm.businessPartner.general.rating"><i class="fa fa-star starOrange"></i></span>
                                    <span ng-repeat="n in [] | range:(5 - vm.businessPartner.general.rating)"><i class="fa fa-star starBlack"></i></span>
                                </div>
                            </div>




                        </div>
                        <div class="col-xs-12  marginLeft15">
                            <div class="col-xs-12 tableHeading">
                                <label>Products</label>
                            </div>
                            <div class="col-xs-offset-1" ng-if="vm.businessPartner.products.length===0">No products added.</div>
                            <div class="col-xs-offset-1" ng-if="vm.businessPartner.products.length > 0">
                                <div class="col-lg-12 marginLeft15" ng-repeat="prod in vm.businessPartner.products">
                                    <span class="col-lg-3"><b>Name</b> {{prod.text}}</span>
                                    <span class="col-lg-3"><b>Origin</b> {{prod.origin}}</span>
                                    <span class="col-lg-3"><b>Quality</b> {{prod.quality}}</span>
                                    </br>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12  marginLeft15">
                            <div class="col-xs-12 tableHeading">
                                <label>Contact Information</label>
                            </div>
                            <div class="row col-xs-offset-1">
                                <div class="col-xs-12 col-lg-3"><b>Origin</b></div>
                                <div class="col-xs-12 col-lg-9" ng-bind="vm.businessPartner.contactDetails.origin"></div>
                            </div>
                            <div class="row col-xs-offset-1">
                                <div class="col-xs-12 col-lg-3"><b>Address</b></div>
                                <div class="col-xs-12 col-lg-9" ng-if="vm.businessPartner.contactDetails.address!==''" ng-bind-html="vm.businessPartner.contactDetails.address"></div>
                                <div class="col-xs-12 col-lg-9" ng-if="vm.businessPartner.contactDetails.address===''">No Address Provided</div>
                            </div>
                            <div class="row col-xs-offset-1" ng-if="vm.businessPartner.contactDetails.emails.length>0">
                                <div class="col-xs-12 col-lg-3"><b>Emails</b></div>
                                <div class="col-xs-12 col-lg-9">
                                    <span ng-repeat="email in vm.businessPartner.contactDetails.emails">{{email.text}}</br></span>
                                </div>
                            </div>
                            <div class="row col-xs-offset-1" ng-if="vm.businessPartner.contactDetails.phoneNumbers.length>0">
                                <div class="col-xs-12 col-lg-3"><b>Phone Numbers</b></div>
                                <div class="col-xs-12 col-lg-9">
                                    <span ng-repeat="phNum in vm.businessPartner.contactDetails.phoneNumbers">{{phNum.text}}</br></span>
                                </div>
                            </div>
                            <div class="row col-xs-offset-1" ng-if="vm.businessPartner.contactDetails.faxNumbers.length>0">
                                <div class="col-xs-12 col-lg-3"><b>Fax Numbers</b></div>
                                <div class="col-xs-12 col-lg-9">
                                    <span ng-repeat="faxNumber in vm.businessPartner.contactDetails.faxNumbers">{{faxNumber.text}}</br></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12  marginLeft15">
                            <div class="col-xs-12 tableHeading">
                                <label>Bank Details</label>
                            </div>
                            <div  class="col-xs-offset-1" ng-if="vm.businessPartner.bankDetails.length===0">No bank details added.</div>
                            <div  class="col-xs-offset-1" ng-if="vm.businessPartner.bankDetails.length>0">
                                <div ng-repeat="bank in vm.businessPartner.bankDetails">
                                    <div class="col-lg-12 borderBottomDashed paddingBottom5px">
                                        </br>
                                            <span ng-bind-html="bank.text"></span>
                                        </br>
                                    </div>
                                    </br>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12  marginLeft15">
                            <div class="col-xs-12 tableHeading">
                                <label>Contact Person Information</label>
                            </div>
                            <div  class="col-xs-offset-1" ng-if="vm.businessPartner.contactPerson.length===0">No contact person added.</div>
                            <div  class="col-xs-offset-1" ng-if="vm.businessPartner.contactPerson.length>0">
                                <div class="col-lg-12 borderBottomDashed paddingBottom5px" ng-repeat="cp in vm.businessPartner.contactPerson">
                                    <div class="col-lg-6"><b>Full Name</b></div><div class="col-lg-6">{{cp.fullName}}</div>
                                    <div class="col-lg-6"><b>Designation</b></div><div class="col-lg-6">{{cp.role}}</div>
                                    <div class="col-lg-6"><b>Email</b></div><div class="col-lg-6">{{cp.email}}</div>
                                    <div class="col-lg-6"><b>Primary Contact</b></div><div class="col-lg-6" ng-if="cp.isPrimary">Yes</div><div class="col-lg-6" ng-if="!cp.isPrimary">No</div>
                                    <div class="col-lg-6"><b>Contact Number</b></div><div class="col-lg-6">{{cp.phoneNumber1}}</div>
                                    <div class="col-lg-6" ng-if="cp.phoneNumber2!==''"><b>Alternate Contact Number</b></div><div class="col-lg-6">{{cp.phoneNumber2}}</div>
                                </div>
                            </div>
                        </div>
                    </page-blue-container>
                    <div class="form-group col-xs-12">
                        <div>
                            <button type="submit" class="btn btn-default pull-right marginLeft15" ng-click="vm.saveBusinessPartner()">Add Business Partner</button>
                            <button class="btn btn-default pull-left" ui-sref="^">Cancel</button>
                            <button class="btn btn-default pull-left marginLeftPlus15" ng-click="vm.prev()">Prev</button>
                        </div>
                    </div>
                </page-blue-container>



        </div>

    </div>

</page-blue-container>

<script type="text/ng-template" id="productTagInput">
    <div>
        <span ng-bind-html="$highlight($getDisplayText())"></span>

        <span class="pull-right">
            <span><b>Origin: </b>{{data.origin}}</span>
            <span ng-if="data.quality!==null">, <b>Quality: </b>{{data.quality}}</span>
        </span>
    </div>
</script>

