<div class="dg-pageContent">
    <div class="dg-tablePanelWrap">
        <div class="dg-tablePanelHead clearfix">
            <div class="dg-tablePanelTitle">System Users<br><small>Total {{vm.allUsers.users.length}} Users</small></div>
            <ul class="dg-pageActionsLinks">
                <li><input ng-model="vm.searchUser" type="text" class="form-control search-control" id="exampleInputAmount" placeholder="Find User">
            </ul>
        </div>
        <div class="dg-tablePanelBody">
            <div class="col-lg-12 col-sm-12 form-group">
                <button type="submit"
                        class=" cursor-pointer pull-right btn btn-success"
                        ng-click="vm.goToAddNewUser()">Add New User</button>
            </div>
            <table class="table table-bordered dg-table">
                <thead>
                <tr>
                    <th class="textCenterAlign" ng-repeat="heading in vm.allUsers.heading" ng-bind="heading"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in vm.allUsers.users| filter:vm.searchUser">
                    <td class="textCenterAlign">
                        <a class="textDecoNone" ui-sref="shell.setup.allUsers.editUser({userId:user.userID})">{{user.initials}}. {{user.firstName}} {{user.lastName}}</a>
                        <i ng-if="user.isSuperUser" class="fa fa-user-secret"></i>
                    </td>
                    <td class="textCenterAlign" ng-bind="user.userDesignation"></td>
                    <td class="textCenterAlign" ng-bind="user.userEmail"></td>
                    <td class="textCenterAlign">
                        <i ng-if="user.isActivated" ng-click="vm.changeUserActivation(user.userID,user.initials+'. '+user.firstName+' '+user.lastName,user.isActivated,user)" class="fa fa-unlock cursor-pointer"></i>
                        <i ng-if="!user.isActivated" ng-click="vm.changeUserActivation(user.userID,user.initials+'. '+user.firstName+' '+user.lastName,user.isActivated,user)" class="fa fa-lock cursor-pointer"></i>
                    </td>
                    <td class="textCenterAlign" ng-bind="user.createdOn| date:'dd/MM/yyyy'"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>