<page-blue-container>
    <div class="col-lg-6 col-xs-12">
        <div class="dg-pageContent">
            <div class="dg-tablePanelWrap">
                <div class="dg-tablePanelHead clearfix">
                    <div class="dg-tablePanelTitle">Origin<br><small>Total {{vm.allProducts.products.length}} Origins</small></div>
                    <ul class="dg-pageActionsLinks">
                        <li><input ng-model="vm.searchOrigin" type="text" class="form-control search-control" id="exampleInputAmount" placeholder="Find Origin">
                    </ul>
                </div>
                <div class="dg-tablePanelBody">
                    <table class="table table-bordered dg-table">
                        <thead>
                        <tr>
                            <th>Origin</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--<tr ng-repeat="row in vm.allProducts.products| filter:vm.searchProduct">-->
                        <tr ng-repeat="origin in vm.allOrigins | selectFilter: vm.searchOrigin:'origin_name' | orderBy: 'origin_name' ">
                            <td ng-bind="origin.origin_name"></td>
                            <td>
                                <label ng-click="vm.deleteOrigin(origin.origin_id,origin.origin_name,$index)" class="cursor-pointer">
                                    <i class="fa fa-trash blueFont"></i>
                                    Delete
                                </label>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xs-12">
        <form name="vm.addNewOrigin"  novalidate>
            <div class="form-group col-md-12">
                <label>Origin</label>
                <input name="Origin"
                       type="text"
                       ng-model-options="{ updateOn: 'default blur' }"
                       ng-model="vm.newOrigin"
                       class="form-control"
                       placeholder="Enter Origin"
                       ng-required="true"/>
                <ng-messages for='vm.addNewOrigin.Origin.$error' ng-if='vm.addNewOrigin.Origin.$dirty || vm.addNewOrigin.$submitted'>
                    <div ng-message="required" class="errorValidation">Origin is requred is required.</div>
                </ng-messages>
            </div>
            <div class="form-group col-md-12">
                <button type="submit" ng-click="vm.addOrigin(vm.newOrigin)" ng-disabled="vm.addNewOrigin.$invalid" class="btn btn-default submitBtn">Add Origin</button>
            </div>
        </form>
    </div>
</page-blue-container>