@import url("http://fonts.googleapis.com/css?family=Open+Sans");
@media (min-width: 1024px) {
  /* line 3, ../partials/_media.scss */
  .container {
    width: 1024px;
  }
}
/* line 9, ../partials/_theme.scss */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

/* line 52, ../partials/_theme.scss */
.cm-offset-0, .cm-offset-single-0 {
  padding: 0 !important;
}

/* line 56, ../partials/_theme.scss */
.cm-offset-left-0 {
  padding-left: 0 !important;
}

/* line 60, ../partials/_theme.scss */
.cm-offset-right-0 {
  padding-right: 0 !important;
}

/* line 64, ../partials/_theme.scss */
body, html {
  font-size: 12px;
  height: 100%;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  color: #333;
  font-family: 'Open Sans', Arial;
  font-weight: normal;
  -webkit-text-size-adjust: 100%;
  background: #F5F5F5;
}

/* line 77, ../partials/_theme.scss */
object, embed, a, a:focus, a:active,
button::-moz-focus-inner,
input:focus,
input[type="reset"]::-moz-focus-inner,
button:focus,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  outline: 0 !important;
}

/* line 89, ../partials/_theme.scss */
a {
  cursor: pointer;
  color: inherit;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 93, ../partials/_theme.scss */
a:hover {
  text-decoration: none;
}
/* line 96, ../partials/_theme.scss */
a:focus {
  text-decoration: none;
}

/* line 100, ../partials/_theme.scss */
.cursor-pointer {
  cursor: pointer !important;
}
/* line 102, ../partials/_theme.scss */
.cursor-pointer .selectized {
  cursor: pointer !important;
  position: relative;
}

/* line 107, ../partials/_theme.scss */
input::-moz-focus-inner {
  border: 0;
}

/* line 111, ../partials/_theme.scss */
img {
  border: none;
}

/* line 115, ../partials/_theme.scss */
.dg-btn {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* line 117, ../partials/_theme.scss */
.dg-btn:hover {
  text-decoration: none;
}
/* line 120, ../partials/_theme.scss */
.dg-btn:active {
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  text-decoration: none;
}
/* line 125, ../partials/_theme.scss */
.dg-btn:focus {
  text-decoration: none;
}

/* Header */
/* line 132, ../partials/_theme.scss */
.dg-header {
  background: none;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
/* line 140, ../partials/_theme.scss */
.dg-header .dg-topBar {
  background: #1691ac;
}
/* line 142, ../partials/_theme.scss */
.dg-header .dg-topBar .dg-logo {
  background: url(/images/logo/logo.png) no-repeat center;
  width: 168px;
  height: 38px;
  display: block;
  float: left;
  margin: 5px 0;
}
/* line 150, ../partials/_theme.scss */
.dg-header .dg-topBar .dg-headerExtraLinks {
  margin: 12px 0 0 0;
  padding: 0;
  list-style: none;
  float: right;
}
/* line 155, ../partials/_theme.scss */
.dg-header .dg-topBar .dg-headerExtraLinks li {
  float: left;
  margin: 0 0 0 10px;
  padding: 0;
}
/* line 159, ../partials/_theme.scss */
.dg-header .dg-topBar .dg-headerExtraLinks li a {
  display: block;
  padding: 3px 15px;
  font-size: 10px;
  color: #fff;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
  font-weight: bold;
}
/* line 168, ../partials/_theme.scss */
.dg-header .dg-topBar .dg-headerExtraLinks li a:hover {
  background: rgba(0, 0, 0, 0.2);
}
/* line 175, ../partials/_theme.scss */
.dg-header .dg-mainNavBar {
  margin: 0;
  background: #333;
  border: none;
  border-radius: 0;
}
/* line 180, ../partials/_theme.scss */
.dg-header .dg-mainNavBar .navbar-collapse {
  padding: 0;
}
/* line 184, ../partials/_theme.scss */
.dg-header .dg-mainNavBar .navbar-collapse .navbar-nav li a {
  color: #eee;
  font-weight: 600;
  padding: 13px 20px 0;
  height: 50px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 190, ../partials/_theme.scss */
.dg-header .dg-mainNavBar .navbar-collapse .navbar-nav li a:hover {
  background: #3d3d3d;
}
/* line 195, ../partials/_theme.scss */
.dg-header .dg-mainNavBar .navbar-collapse .navbar-nav li.active a {
  background: #000;
}

/* Header */
/* Content */
/* line 209, ../partials/_theme.scss */
.dg-mainContentWrapper {
  display: table;
  width: 100%;
  table-layout: fixed;
  overflow: auto;
  height: 100%;
  padding-top: 98px;
  position: relative;
}
/* line 217, ../partials/_theme.scss */
.dg-mainContentWrapper .dg-sideBarContentLayout {
  display: table-row;
  height: 100%;
}
/* line 220, ../partials/_theme.scss */
.dg-mainContentWrapper .dg-sideBarContentLayout .dg-sideBarWrapper {
  background-color: #ffffff;
  vertical-align: top;
  width: 256px;
  display: table-cell;
  border-right: 1px solid #ddd;
  padding: 20px 10px;
  position: relative;
  overflow: hidden;
}
/* line 229, ../partials/_theme.scss */
.dg-mainContentWrapper .dg-sideBarContentLayout .dg-sideBarWrapper.dg-close {
  width: 0;
}
/* line 232, ../partials/_theme.scss */
.dg-mainContentWrapper .dg-sideBarContentLayout .dg-sideBarWrapper input {
  z-index: 0;
}
/* line 236, ../partials/_theme.scss */
.dg-mainContentWrapper .dg-sideBarContentLayout .dg-innerContentWrapper {
  vertical-align: top;
  width: 100%;
  display: table-cell;
  padding: 30px 15px 30px 30px;
  position: relative;
}
/* line 242, ../partials/_theme.scss */
.dg-mainContentWrapper .dg-sideBarContentLayout .dg-innerContentWrapper .dg-sideBarExpandBtn {
  position: absolute;
  left: -1px;
  top: 30px;
  font-size: 14px;
  padding: 3px 6px 4px 4px;
  background: #1691ac;
  color: #fff;
  border-radius: 0 6px 6px 0;
}

/* line 256, ../partials/_theme.scss */
.dg-sBWidget {
  margin-bottom: 20px;
}
/* line 258, ../partials/_theme.scss */
.dg-sBWidget .dg-sBWidgetHeader {
  background: #1691ac;
  color: #fff;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  padding: 5px 15px;
}
/* line 264, ../partials/_theme.scss */
.dg-sBWidget .dg-sBWidgetHeader .dg-sBWidgetTitle {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  float: left;
}
/* line 270, ../partials/_theme.scss */
.dg-sBWidget .dg-sBWidgetHeader .dg-sBWidgetTitle .clear {
  color: #ccc;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  top: 0px;
  left: 56px;
}
/* line 279, ../partials/_theme.scss */
.dg-sBWidget .dg-sBWidgetHeader .dg-sBWidgetHeaderLink {
  float: right;
  font-size: 10px;
  color: #fff;
  display: block;
}
/* line 286, ../partials/_theme.scss */
.dg-sBWidget .dg-sbWidgetBody {
  padding: 10px 0;
}

/* line 293, ../partials/_theme.scss */
.dg-form .form-group .form-control {
  border-radius: 1px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 301, ../partials/_theme.scss */
.dg-miniForm label {
  font-size: 12px;
}
/* line 304, ../partials/_theme.scss */
.dg-miniForm .checkbox {
  margin: 5px 0;
}
/* line 307, ../partials/_theme.scss */
.dg-miniForm .form-group {
  margin-bottom: 5px;
}
/* line 309, ../partials/_theme.scss */
.dg-miniForm .form-group .form-control {
  height: 27px;
  padding: 4px 12px;
  font-size: 12px;
}
/* line 314, ../partials/_theme.scss */
.dg-miniForm .form-group .input-group-addon {
  padding: 4px 12px;
}

/* line 320, ../partials/_theme.scss */
.dg-sideBarListNav {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 324, ../partials/_theme.scss */
.dg-sideBarListNav li {
  margin: 0 0 1px 0;
  padding: 0;
  background: #F5F5F5;
  position: relative;
}
/* line 329, ../partials/_theme.scss */
.dg-sideBarListNav li:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 0 4px 3px;
  border-color: transparent transparent transparent #1691ac;
  left: 10px;
  top: 8px;
}
/* line 340, ../partials/_theme.scss */
.dg-sideBarListNav li a, .dg-sideBarListNav li a:focus {
  font-size: 12px;
  padding: 3px 12px 3px 24px;
  display: block;
}
/* line 344, ../partials/_theme.scss */
.dg-sideBarListNav li a:hover, .dg-sideBarListNav li a:focus:hover {
  background: #ebebeb;
}

/* line 353, ../partials/_theme.scss */
.dg-pageHeader .dg-pageHeaderTop .dg-pageTitle {
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-weight: bold;
  text-transform: capitalize;
  float: left;
}
/* line 360, ../partials/_theme.scss */
.dg-pageHeader .dg-pageHeaderTop .dg-pageTitle .dg-pageMiniTitle {
  font-size: 16px;
  display: block;
}
/* line 365, ../partials/_theme.scss */
.dg-pageHeader .dg-pageHeaderTop .dg-pageExtraLinks {
  list-style: none;
  margin: 12px 0 0 0;
  padding: 0;
  float: right;
}
/* line 370, ../partials/_theme.scss */
.dg-pageHeader .dg-pageHeaderTop .dg-pageExtraLinks li {
  border-right: 1px dashed #ccc;
  float: left;
}
/* line 373, ../partials/_theme.scss */
.dg-pageHeader .dg-pageHeaderTop .dg-pageExtraLinks li:last-child {
  border: none;
}
/* line 376, ../partials/_theme.scss */
.dg-pageHeader .dg-pageHeaderTop .dg-pageExtraLinks li a, .dg-pageHeader .dg-pageHeaderTop .dg-pageExtraLinks li a:focus {
  display: block;
  padding: 2px 10px;
  font-size: 11px;
  color: #999;
  font-weight: 600;
}
/* line 382, ../partials/_theme.scss */
.dg-pageHeader .dg-pageHeaderTop .dg-pageExtraLinks li a:hover, .dg-pageHeader .dg-pageHeaderTop .dg-pageExtraLinks li a:focus:hover {
  text-decoration: underline;
}
/* line 389, ../partials/_theme.scss */
.dg-pageHeader .dg-backToLink {
  font-size: 11px;
  display: inline-block;
  text-transform: uppercase;
  color: #1691ac;
  font-weight: 600;
  margin-top: 10px;
}
/* line 396, ../partials/_theme.scss */
.dg-pageHeader .dg-backToLink .fa {
  font-size: 14px;
  margin-right: 5px;
}

/* line 404, ../partials/_theme.scss */
.dg-pageActionsLinks {
  text-align: center;
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
}
/* line 409, ../partials/_theme.scss */
.dg-pageActionsLinks > li {
  display: inline-block;
  margin: 0 3px;
}
/* line 412, ../partials/_theme.scss */
.dg-pageActionsLinks > li > a, .dg-pageActionsLinks > li > a:focus {
  display: block;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2px 16px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f7f7+0,eaeaea+100 */
  background: #f7f7f7;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #eaeaea));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f7f7f7 0%, #eaeaea 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#eaeaea',GradientType=0 );
  /* IE6-9 */
}
/* line 427, ../partials/_theme.scss */
.dg-pageActionsLinks > li > a .caret, .dg-pageActionsLinks > li > a:focus .caret {
  margin-left: 5px;
  position: relative;
  top: -1px;
}
/* line 432, ../partials/_theme.scss */
.dg-pageActionsLinks > li > a:hover, .dg-pageActionsLinks > li > a:focus:hover {
  background: #1691ac;
  border-color: #0c87a2;
  color: #fff;
}

/* line 441, ../partials/_theme.scss */
.dropdown-menu {
  font-size: 12px;
}

/* line 445, ../partials/_theme.scss */
.search-control {
  font-size: 12px;
  height: 27px;
  padding: 4px 20px 4px 12px;
  border-radius: 2px;
  display: inline-block;
  background: url(/images/icons/search-mini-icon.png) no-repeat right center #F5F5F5;
}

/* line 454, ../partials/_theme.scss */
.dg-table {
  background: #fff;
  font-size: 12px;
}
/* line 458, ../partials/_theme.scss */
.dg-table .dg-tableActionBtn, .dg-table .dg-tableActionBtn:focus, .dg-table .dg-tableActionBtn:hover {
  display: inline-block;
  margin: 0;
  padding: 0 2px 0 5px;
  color: #027d98;
  font-weight: 600;
  font-size: 15px;
}
/* line 466, ../partials/_theme.scss */
.dg-table input[type="checkbox"] {
  position: relative;
  top: 2px;
}
/* line 470, ../partials/_theme.scss */
.dg-table .dg-checkBoxTxt {
  margin-right: 5px;
}
/* line 473, ../partials/_theme.scss */
.dg-table tbody > tr > td, .dg-table tbody > tr > th, .dg-table tfoot > tr > td, .dg-table tfoot > tr > th, .dg-table thead > tr > td, .dg-table thead > tr > th {
  padding: 4px 8px;
  line-height: 25px;
}
/* line 478, ../partials/_theme.scss */
.dg-table thead tr {
  color: #fff;
  background: #1691AC;
}
/* line 481, ../partials/_theme.scss */
.dg-table thead tr th {
  border-bottom: none;
}

/* line 488, ../partials/_theme.scss */
.dg-tablePanelWrap {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0;
  border: 1px solid #ddd;
}
/* line 494, ../partials/_theme.scss */
.dg-tablePanelWrap .dg-tablePanelHead {
  margin: 0 0 15px 0;
}
/* line 496, ../partials/_theme.scss */
.dg-tablePanelWrap .dg-tablePanelHead .dg-tablePanelTitle {
  float: left;
  font-size: 16px;
  font-weight: 600;
}
/* line 500, ../partials/_theme.scss */
.dg-tablePanelWrap .dg-tablePanelHead .dg-tablePanelTitle small {
  font-size: 11px;
  display: block;
}
/* line 505, ../partials/_theme.scss */
.dg-tablePanelWrap .dg-tablePanelHead .dg-pageActionsLinks {
  float: right;
  margin: 0;
}

/* line 512, ../partials/_theme.scss */
.dg-collapsePanelWrap {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0;
  border: 1px solid #ddd;
}
/* line 518, ../partials/_theme.scss */
.dg-collapsePanelWrap .dg-collapsePanelHead {
  font-size: 16px;
  font-weight: 600;
  display: block;
  color: #333;
}
/* line 523, ../partials/_theme.scss */
.dg-collapsePanelWrap .dg-collapsePanelHead .dg-arrowClose {
  display: none;
}
/* line 527, ../partials/_theme.scss */
.dg-collapsePanelWrap .dg-collapsePanelHead.collapsed .dg-arrowClose {
  display: inline-block;
}
/* line 530, ../partials/_theme.scss */
.dg-collapsePanelWrap .dg-collapsePanelHead.collapsed .dg-arrowOpen {
  display: none;
}

/* line 537, ../partials/_theme.scss */
.dg-infoDivTable {
  margin: 20px 0;
}
/* line 539, ../partials/_theme.scss */
.dg-infoDivTable .form-group {
  margin: 0;
  padding: 3px 0;
  border-bottom: 1px solid #ddd;
}
/* line 544, ../partials/_theme.scss */
.dg-infoDivTable .form-control, .dg-infoDivTable .form-control:focus {
  height: 27px;
  padding: 4px 0;
  border: none;
  color: #333;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 551, ../partials/_theme.scss */
.dg-infoDivTable .form-control::-webkit-input-placeholder {
  font-style: italic;
}
/* line 554, ../partials/_theme.scss */
.dg-infoDivTable .form-control:-moz-placeholder {
  /* Firefox 18- */
  font-style: italic;
}
/* line 558, ../partials/_theme.scss */
.dg-infoDivTable .form-control::-moz-placeholder {
  /* Firefox 19+ */
  font-style: italic;
}
/* line 562, ../partials/_theme.scss */
.dg-infoDivTable .form-control:-ms-input-placeholder {
  font-style: italic;
}
/* line 565, ../partials/_theme.scss */
.dg-infoDivTable .control-label {
  padding-top: 5px;
  margin-bottom: 0;
  text-align: left;
}
/* line 570, ../partials/_theme.scss */
.dg-infoDivTable .form-control-static {
  min-height: 27px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* line 577, ../partials/_theme.scss */
.form-control {
  font-size: 12px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 584, ../partials/_theme.scss */
.dg-tabPanelWrap .nav-tabs > li > a {
  font-size: 13px;
  font-weight: bold;
}
/* line 588, ../partials/_theme.scss */
.dg-tabPanelWrap .nav-tabs > li.active > a, .dg-tabPanelWrap .nav-tabs > li.active > a:focus, .dg-tabPanelWrap .nav-tabs > li.active > a:hover {
  color: #1691ac;
}
/* line 591, ../partials/_theme.scss */
.dg-tabPanelWrap .tab-content {
  background: #fff;
  border: 1px solid #ddd;
  border-top: none;
  padding: 10px;
}

/* line 599, ../partials/_theme.scss */
.dg-filterPanel {
  background: #FFF;
  border: 1px solid #1691AC;
  padding: 10px;
  margin: 20px 0;
}

/* line 606, ../partials/_theme.scss */
.dg-filterDropdown {
  cursor: pointer;
  position: relative;
  padding-bottom: 5px;
}
/* line 610, ../partials/_theme.scss */
.dg-filterDropdown .dg-filterDropdownField {
  border: 1px solid #ccc;
  padding: 5px 25px 5px 12px;
  position: relative;
  border-radius: 5px;
  font-weight: 600;
  background: #f7f7f7;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #eaeaea));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f7f7f7 0%, #eaeaea 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#eaeaea',GradientType=0 );
  /* IE6-9 */
}
/* line 624, ../partials/_theme.scss */
.dg-filterDropdown .dg-filterDropdownField .caret {
  display: block;
  position: absolute;
  right: 9px;
  top: 11px;
}
/* line 631, ../partials/_theme.scss */
.dg-filterDropdown .dg-filterDropdownMenu {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  min-width: 160px;
  padding: 10px;
  margin-top: 5px;
  z-index: 1;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
/* line 644, ../partials/_theme.scss */
.dg-filterDropdown .dg-filterDropdownMenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 150px;
}
/* line 649, ../partials/_theme.scss */
.dg-filterDropdown .dg-filterDropdownMenu ul li {
  margin: 0;
  padding: 5px;
  overflow: hidden;
  border-bottom: 1px solid #eee;
}
/* line 655, ../partials/_theme.scss */
.dg-filterDropdown .dg-filterDropdownMenu ul li input[type="checkbox"] {
  display: block;
  float: left;
}
/* line 659, ../partials/_theme.scss */
.dg-filterDropdown .dg-filterDropdownMenu ul li span {
  margin-left: 30px;
  display: block;
  line-height: 15px;
  font-size: 10px;
}
/* line 666, ../partials/_theme.scss */
.dg-filterDropdown .dg-filterDropdownMenu ul.dg-head {
  height: auto;
  margin-bottom: 10px;
}
/* line 669, ../partials/_theme.scss */
.dg-filterDropdown .dg-filterDropdownMenu ul.dg-head li {
  background: #eee;
}
/* line 671, ../partials/_theme.scss */
.dg-filterDropdown .dg-filterDropdownMenu ul.dg-head li .form-control, .dg-filterDropdown .dg-filterDropdownMenu ul.dg-head li .form-control:focus {
  height: 20px;
  background: url(/images/icons/search-mini-icon.png) no-repeat right center #fff;
  padding: 4px 22px 4px 12px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 683, ../partials/_theme.scss */
.textDecoNone {
  text-decoration: none;
}

/* line 687, ../partials/_theme.scss */
.isAdminChkBox {
  height: 20px !important;
  width: 20px !important;
  margin-right: 10px !important;
}

/* line 693, ../partials/_theme.scss */
.marginBottom20px {
  margin-bottom: 20px;
}

/* line 697, ../partials/_theme.scss */
.subheading1 {
  text-transform: capitalize;
  font-size: 12px !important;
}

/* line 702, ../partials/_theme.scss */
.marginLeftPlus15 {
  margin-left: 15px;
}

/* line 706, ../partials/_theme.scss */
.errorValidation {
  color: darkred;
  font-size: 10px;
  font-weight: bold;
  margin-top: 2px;
  position: absolute;
}

/* line 714, ../partials/_theme.scss */
.marginTopMinus20 {
  margin-top: -20px !important;
}

/* line 718, ../partials/_theme.scss */
.marginTopPlus150px {
  margin-top: 150px !important;
}

/* line 721, ../partials/_theme.scss */
.deleteTrash {
  cursor: pointer;
}

/* line 724, ../partials/_theme.scss */
.deleteTrash:hover {
  color: darkred;
  font-weight: bold;
}

/* line 729, ../partials/_theme.scss */
.editPen {
  cursor: pointer;
}

/* line 732, ../partials/_theme.scss */
.editPen:hover {
  color: #1691ac;
  font-weight: bold;
}

/* line 737, ../partials/_theme.scss */
#pdf {
  border: 0px solid #333 !important;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
}

/* line 742, ../partials/_theme.scss */
.rz-pointer {
  background-color: #1691ac !important;
}

/* line 746, ../partials/_theme.scss */
.rz-pointer.rz-active:after {
  background-color: #333 !important;
}

/* line 750, ../partials/_theme.scss */
.orangeFont {
  color: #F47414;
  cursor: pointer;
}

/* line 755, ../partials/_theme.scss */
.redFont {
  color: #E30C2C !important;
  cursor: pointer;
}

/* line 760, ../partials/_theme.scss */
.greenFont {
  color: #1da075 !important;
  cursor: ponter;
}

/* line 765, ../partials/_theme.scss */
.excelExport {
  margin-right: 5px;
  margin-top: 15px;
}

/* line 770, ../partials/_theme.scss */
.blueFont {
  color: #1691ac;
  cursor: pointer;
}

/* line 774, ../partials/_theme.scss */
.border-right-gray {
  border-right: 1px solid #ccc;
}

/* line 779, ../partials/_theme.scss */
.orangeFont:hover {
  color: #ea6a0a;
}

/* line 782, ../partials/_theme.scss */
.tags {
  font-family: "Questrial", Arial;
}

/* line 785, ../partials/_theme.scss */
.tags .input {
  width: 104% !important;
}

/* line 789, ../partials/_theme.scss */
.greenCheck {
  color: #00FF00;
}

/* line 792, ../partials/_theme.scss */
.redCross {
  color: red;
}

/* line 796, ../partials/_theme.scss */
.starBlack {
  color: #333;
}

/* line 800, ../partials/_theme.scss */
.starOrange {
  color: #F47414;
}

/* line 804, ../partials/_theme.scss */
.paddingBottom5px {
  padding-bottom: 5px !important;
}

/* line 808, ../partials/_theme.scss */
.borderBottomDashed {
  border-bottom: 1px #333 dashed;
}

/* line 812, ../partials/_theme.scss */
.businessPartnerSteps {
  height: 50px;
  color: #333;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
}

/* line 819, ../partials/_theme.scss */
.businessPartnerSteps .active {
  background: #333;
  color: white;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  opacity: 0.8;
}

/* line 827, ../partials/_theme.scss */
.businessPartnerSteps .step {
  padding-top: 20px;
  font-size: 12px;
  height: 100%;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

/* line 836, ../partials/_theme.scss */
.no-border .blueBorder {
  border: 0px !important;
}

/* line 843, ../partials/_theme.scss */
.saveButton:hover {
  color: #F47414;
}

/* line 846, ../partials/_theme.scss */
.saveButton {
  cursor: pointer;
}

/* line 849, ../partials/_theme.scss */
.dropdownLabel {
  font-weight: bold;
  font-size: 10px;
  color: #1691ac;
}

/* line 854, ../partials/_theme.scss */
.dropdownCaption {
  font-weight: bold;
  font-size: 9px;
  color: #000;
}

/* line 860, ../partials/_theme.scss */
.transparentButton {
  border: none !important;
  background: none;
  cursor: pointer;
  font-weight: bold;
}

/* line 867, ../partials/_theme.scss */
.height40px {
  height: 40px;
}

/* line 870, ../partials/_theme.scss */
.height100px {
  height: 70px;
}

/* line 874, ../partials/_theme.scss */
.forms {
  overflow-y: visible;
  overflow-x: hidden;
}

/* line 878, ../partials/_theme.scss */
.border-top-black {
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

/* line 883, ../partials/_theme.scss */
.border-bottom-black {
  border-bottom: 1px solid #333;
  padding-bottom: -2px;
}

/* line 888, ../partials/_theme.scss */
.border-bottom-gray {
  border-bottom: 1px solid #ccc;
  padding-bottom: -2px;
}

/* line 893, ../partials/_theme.scss */
.resizeNone {
  resize: none;
}

/* line 897, ../partials/_theme.scss */
.font30days {
  font-size: 10px;
}

/* line 900, ../partials/_theme.scss */
.toastOpacity {
  opacity: 0.9;
}

/* line 903, ../partials/_theme.scss */
.form-control[disabled] {
  margin-left: -10px;
}

/* line 907, ../partials/_theme.scss */
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: transparent;
  opacity: 1;
  border: none;
}

/* line 913, ../partials/_theme.scss */
.selectize-control.single .selectize-input.disabled:after {
  border: none;
}

/* line 916, ../partials/_theme.scss */
.selectize-control .selectize-input.disabled {
  background-color: transparent;
  opacity: 1;
  color: #333;
  border: none;
  margin-left: -7px;
  box-shadow: none;
  /* background-color: #fafafa; */
}

/* line 929, ../partials/_theme.scss */
.selectize-control .selectize-input.disabled ::-webkit-input-placeholder {
  color: #ffffff;
}

/* line 934, ../partials/_theme.scss */
.font20px {
  font-size: 20px;
}

/* line 939, ../partials/_theme.scss */
form .progress {
  line-height: 15px;
}

/* line 943, ../partials/_theme.scss */
.progress {
  display: inline-block;
  width: 100%;
  border: 3px groove #CCC;
  margin-top: 10px;
}

/* line 950, ../partials/_theme.scss */
.progress div {
  font-size: smaller;
  background: #1691ac;
  width: 0;
}

/* line 956, ../partials/_theme.scss */
.notesContainer {
  max-height: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 962, ../partials/_theme.scss */
.note {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px #333 solid;
  background: #cccccc;
}

/* line 970, ../partials/_theme.scss */
.textAlignRight {
  text-align: right;
}

/* line 974, ../partials/_theme.scss */
.marginTop10px {
  margin-top: 10px;
}

/* line 979, ../partials/_theme.scss */
.tabs-panel {
  background-color: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

/* line 986, ../partials/_theme.scss */
.dashboardContent .graphContainer {
  background: #ffffff !important;
}
/* line 989, ../partials/_theme.scss */
.dashboardContent .price {
  font-weight: 900;
  position: absolute;
  top: 7px;
  left: -20px;
  color: #000;
  text-align: center;
}

/* line 1000, ../partials/_theme.scss */
.analyticsContent {
  overflow-x: hidden;
}
/* line 1002, ../partials/_theme.scss */
.analyticsContent .graphContainer {
  background: #ffffff !important;
}
/* line 1005, ../partials/_theme.scss */
.analyticsContent .filterHeading2 {
  color: #1691ac;
  width: 100%;
  text-align: center;
  font-size: 16px;
  padding-bottom: 15px;
}
/* line 1012, ../partials/_theme.scss */
.analyticsContent .options {
  margin-top: 1px;
  position: absolute;
  margin-left: 10px;
}
/* line 1017, ../partials/_theme.scss */
.analyticsContent .summaryValue {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
  color: #333;
}
/* line 1023, ../partials/_theme.scss */
.analyticsContent .summaryValue span {
  color: #F47414;
  font-size: 14px;
}

/* line 1030, ../partials/_theme.scss */
.doc-Container {
  font-size: 15px;
  padding-top: 15px;
}

/* line 1033, ../partials/_theme.scss */
.marginTopmin18px {
  margin-top: -18px;
}

/* line 1037, ../partials/_theme.scss */
.addNote {
  margin-right: 15px;
  border-radius: 0;
}

/* line 1042, ../partials/_theme.scss */
textarea {
  resize: vertical;
}

/* line 1044, ../partials/_theme.scss */
.graphContainer {
  box-shadow: 1px 1px 1px 1px  #cccccc;
  background: #F5F5F5;
  border: 1px #cccccc solid !important;
  overflow-x: hidden;
}

/* line 1051, ../partials/_theme.scss */
.nav-tabs {
  border-bottom: none;
}

/* line 1055, ../partials/_theme.scss */
.nav-tabs.nav-justified > li > a {
  border-right: 1px solid #ddd;
}

/* line 1059, ../partials/_theme.scss */
.nav-tabs.nav-justified > li > a:last-child {
  border-right: none;
}

/* line 1063, ../partials/_theme.scss */
.price {
  position: absolute;
  margin-left: 15px;
  margin-top: 5px;
  color: #1691ac;
}
/* line 1069, ../partials/_theme.scss */
.price + number-only-input input {
  padding-left: 25px;
}

/* line 1075, ../partials/_theme.scss */
.pricePKR {
  position: absolute;
  margin-left: 15px;
  margin-top: 5px;
  color: #1691ac;
}
/* line 1081, ../partials/_theme.scss */
.pricePKR + number-only-input input {
  padding-left: 25px;
}

/* line 1087, ../partials/_theme.scss */
.chartLegends {
  left: 0px;
  width: 100%;
  text-align: left;
  font-weight: bolder;
}

/* line 1094, ../partials/_theme.scss */
.col-width-huge {
  width: 570px;
}

/* line 3, ../partials/_login.scss */
#loading-bar .bar {
  background: #333;
  height: 4px;
}

/* line 7, ../partials/_login.scss */
#loading-bar-spinner .spinner-icon {
  border-top-color: #333;
  border-left-color: #333;
}

/* line 13, ../partials/_login.scss */
#signIn label {
  font-family: icon;
  text-shadow: 0 -1px 0 #666;
  -webkit-font-smoothing: antialiased;
}

/* line 18, ../partials/_login.scss */
#block, #option {
  width: 230px;
  height: 113px;
  margin: auto;
}

/* line 23, ../partials/_login.scss */
#block {
  background: #1691ac;
  margin-top: 100px;
}

/* line 27, ../partials/_login.scss */
#block:before {
  content: '';
  display: block;
  width: 230px;
  height: 3px;
}

/* line 34, ../partials/_login.scss */
#block:after {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  background: #1691ac;
  transform: rotate(-45deg);
  margin: 10px 18px;
  position: absolute;
}

/* line 44, ../partials/_login.scss */
#block label, #submit {
  position: absolute;
  width: 33px;
  height: 32px;
  background: #dedede;
  margin: 15px;
  text-align: center;
  line-height: 2.6;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

/* line 55, ../partials/_login.scss */
.errorMsg {
  font-size: 12px !important;
  color: #1691ac;
  text-transform: none !important;
}

/* line 60, ../partials/_login.scss */
#block label#pass {
  position: absolute;
  width: 33px;
  background: #dedede;
  margin: -5px 15px;
}

/* line 66, ../partials/_login.scss */
#submit {
  color: #eee;
  border: 0;
  margin: -27px 182px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  font-family: icon;
  background: #333;
  font-size: 12px;
  line-height: 2.8;
  padding: 0;
}

/* line 80, ../partials/_login.scss */
#submit:hover {
  color: #eee;
  cursor: pointer;
  background: #3d3d3d;
}

/* line 85, ../partials/_login.scss */
#user, #pass {
  box-shadow: 0.1px 0 2px #6c5B6d;
}

/* line 88, ../partials/_login.scss */
#block input[type=text], #block input[type=password], #option p {
  font-family: 'Open Sans';
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

/* line 93, ../partials/_login.scss */
#block input[type=text], #block input[type=password] {
  width: 200px;
  height: 32px;
  margin: 15px 15px;
  border: 0;
  border-radius: 2px;
  outline: 0;
  display: block;
  font-size: 18px;
}

/* line 103, ../partials/_login.scss */
#block input[type=password] {
  width: 200px;
  height: 32px;
  margin: -5px 15px;
}

/* line 108, ../partials/_login.scss */
#submit {
  font-size: 12px;
  font-weight: bold;
}

/* line 112, ../partials/_login.scss */
#option {
  width: 230px;
  height: 80px;
  overflow: hidden;
  margin: auto;
}

/* line 118, ../partials/_login.scss */
#option p {
  font-size: 24px;
  text-transform: uppercase;
  padding: 0px 18px;
  margin-top: 15px;
  display: block;
  float: left;
  -webkit-font-smoothing: antialiased;
  /*text-shadow:0 -1px 0 #000;*/
}

/* line 128, ../partials/_login.scss */
#option a {
  -webkit-font-smoothing: antialiased;
  /*text-shadow:0 -1px 0 #000;*/
  font-size: 12px;
  display: block;
  float: right;
  margin: 26px 15px;
}

/* line 137, ../partials/_login.scss */
#signIn input {
  padding-left: 40px;
}

/* line 138, ../partials/_login.scss */
#block:active > #block:before {
  background-position: 100px 100px;
}

/* line 141, ../partials/_login.scss */
.orangeBg {
  background: #F47414 !important;
}

/* line 144, ../partials/_login.scss */
.submitBtn {
  background: #1691ac !important;
  color: #ddd;
  border: none;
}

/* line 149, ../partials/_login.scss */
.submitBtn:hover {
  opacity: 0.9;
  color: #ddd !important;
}

/* line 153, ../partials/_login.scss */
.blueBorder {
  border: 1px solid #1691ac;
}

/* line 156, ../partials/_login.scss */
.filterHeading {
  color: #1691ac;
  font-weight: bold;
  font-size: 11px;
}

/* line 161, ../partials/_login.scss */
.singleFilterHeading {
  padding-top: 4px;
  font-weight: bold;
  font-size: 12px;
}

/* line 166, ../partials/_login.scss */
button, a:focus {
  outline: 0;
}

/* line 167, ../partials/_login.scss */
input, textarea, select, a, button {
  outline: none;
}

/* line 169, ../partials/_login.scss */
.panel-default > .panel-heading {
  color: #ddd;
  background-color: #333333;
  border-color: #ddd;
}

/* line 174, ../partials/_login.scss */
.myDatePicker {
  cursor: pointer;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 12px;
}
/* line 181, ../partials/_login.scss */
.myDatePicker .dg-filterDropdown {
  background: linear-gradient(to bottom, #f7f7f7 0%, #eaeaea 100%);
  border: 1px solid #1691AC;
  box-shadow: 0px 0.5px 0px 1px #ccc;
  padding-left: 60px;
  padding: 5px 25px 5px 35px;
  position: relative;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}
/* line 194, ../partials/_login.scss */
.myDatePicker:after {
  font-family: 'FontAwesome';
  position: absolute;
  content: "\f0d7";
  top: 14px;
  z-index: 10;
  right: 45px;
}
/* line 202, ../partials/_login.scss */
.myDatePicker:before {
  font-family: 'FontAwesome';
  position: absolute;
  left: 38px;
  content: "\f073";
  top: 14px;
  z-index: 10;
}

/* line 212, ../partials/_login.scss */
.bpChecks {
  float: left;
  margin-right: 10px !important;
  margin-top: 6px !important;
}

/* line 218, ../partials/_login.scss */
.marginLeft15 {
  margin-left: -15px !important;
}

/* line 222, ../partials/_login.scss */
.addSubtract {
  margin-left: 10px;
  cursor: pointer;
}

/* line 226, ../partials/_login.scss */
.addSubtract:hover {
  color: #F47414 !important;
}

/* line 230, ../partials/_login.scss */
.largerFont {
  font-size: larger;
}

/* line 239, ../partials/_login.scss */
.tags {
  box-shadow: none !important;
  width: 99% !important;
  border: 1px solid #ccc !important;
  border-radius: 3px;
}

/* line 245, ../partials/_login.scss */
.tags .tag-item.selected {
  background: #F47414 !important;
}

/* line 257, ../partials/_login.scss */
.paddingRow {
  padding-left: 5px;
}

/* line 261, ../partials/_login.scss */
tbody tr td {
  font-weight: bold;
}

/* line 265, ../partials/_login.scss */
tbody tr td a {
  text-decoration: underline;
}

/* line 268, ../partials/_login.scss */
.marginTop1 {
  margin-top: 20px;
}

/* line 272, ../partials/_login.scss */
.tableHeading {
  border-bottom: 1px solid #1691AC;
  margin-left: 15px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #333333;
  margin-top: 20px;
  font-weight: bolder;
}
/* line 281, ../partials/_login.scss */
.tableHeading label {
  margin-left: -15px;
}

/* line 286, ../partials/_login.scss */
.innerHeading {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: bolder;
}
/* line 291, ../partials/_login.scss */
.innerHeading:first-child {
  color: #1691ac;
}
/* line 294, ../partials/_login.scss */
.innerHeading label {
  margin-left: -15px;
}
/* line 297, ../partials/_login.scss */
.innerHeading button {
  color: #333333;
}

/* line 302, ../partials/_login.scss */
.width96 {
  width: 96%;
}

/* line 306, ../partials/_login.scss */
textarea {
  border-radius: 2px;
  border: 1px solid #D0D0D0;
  padding-top: 10px;
  font-size: 12px;
}

/* line 314, ../partials/_login.scss */
.formCheckBox input {
  height: 20px;
  margin-left: 20px;
}
/* line 318, ../partials/_login.scss */
.formCheckBox label {
  height: 20px;
}

/* line 323, ../partials/_login.scss */
.marginTop5 {
  margin-top: 5px;
}

/* line 327, ../partials/_login.scss */
.subTableHeading {
  margin-left: 1px;
  margin-top: 0px;
}

/* line 332, ../partials/_login.scss */
.width106 {
  width: 104% !important;
}

/* line 336, ../partials/_login.scss */
.datePickerAddTran {
  top: -34px;
  right: 0;
}
/* line 339, ../partials/_login.scss */
.datePickerAddTran button {
  margin-left: calc(100% - 39px) !important;
}

/* line 344, ../partials/_login.scss */
.marginTop50 {
  margin-top: -50px !important;
}

/* line 348, ../partials/_login.scss */
.btn-info {
  color: #fff !important;
  background-color: #1691AC !important;
  border-color: #333333 !important;
}

/* line 354, ../partials/_login.scss */
.btn-danger {
  color: #fff;
  background-color: #44A6BC !important;
  border-color: #333333 !important;
}

/* line 360, ../partials/_login.scss */
.btn-success {
  color: #fff;
  background-color: #333333 !important;
  border-color: #AFAFAF !important;
}

/* line 366, ../partials/_login.scss */
.btn-success:hover {
  background-color: #333356 !important;
}

/* line 370, ../partials/_login.scss */
.width33 {
  width: 24%;
  float: left;
  margin-left: 16px;
}

/* line 376, ../partials/_login.scss */
*:before, *:after {
  -webkit-box-sizing: none !important;
  -moz-box-sizing: none !important;
  box-sizing: none !important;
}

/* line 2, ../partials/_dashboardCard.scss */
.dashboardCard .expBtn {
  font-size: 12px;
  margin-top: 6px;
}
