@import url("http://fonts.googleapis.com/css?family=Open+Sans");
@media (min-width: 1024px) {
  /* line 3, ../partials/_media.scss */
  .container {
    width: 1024px;
  }
}
/* line 42, ../partials/_theme.scss */
.cm-offset-0, .cm-offset-single-0 {
  padding: 0 !important;
}

/* line 46, ../partials/_theme.scss */
.cm-offset-left-0 {
  padding-left: 0 !important;
}

/* line 50, ../partials/_theme.scss */
.cm-offset-right-0 {
  padding-right: 0 !important;
}

/* line 54, ../partials/_theme.scss */
body, html {
  font-size: 12px;
  height: 100%;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  color: #333;
  font-family: 'Open Sans', Arial;
  font-weight: normal;
  -webkit-text-size-adjust: 100%;
  background: #f5f5f5;
}

/* line 67, ../partials/_theme.scss */
object, embed, a, a:focus, a:active,
button::-moz-focus-inner,
input:focus,
input[type="reset"]::-moz-focus-inner,
button:focus,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  outline: 0 !important;
}

/* line 79, ../partials/_theme.scss */
a {
  cursor: pointer;
  color: inherit;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 83, ../partials/_theme.scss */
a:hover {
  text-decoration: none;
}
/* line 86, ../partials/_theme.scss */
a:focus {
  text-decoration: none;
}

/* line 91, ../partials/_theme.scss */
input::-moz-focus-inner {
  border: 0;
}

/* line 95, ../partials/_theme.scss */
img {
  border: none;
}

/* line 99, ../partials/_theme.scss */
.dg-btn {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* line 101, ../partials/_theme.scss */
.dg-btn:hover {
  text-decoration: none;
}
/* line 104, ../partials/_theme.scss */
.dg-btn:active {
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  text-decoration: none;
}
/* line 109, ../partials/_theme.scss */
.dg-btn:focus {
  text-decoration: none;
}

/* Header */
/* line 116, ../partials/_theme.scss */
.dg-header {
  background: none;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
/* line 124, ../partials/_theme.scss */
.dg-header .dg-topBar {
  background: #1691ac;
}
/* line 126, ../partials/_theme.scss */
.dg-header .dg-topBar .dg-logo {
  background: url(/images/logo/logo.png) no-repeat center;
  width: 168px;
  height: 38px;
  display: block;
  float: left;
  margin: 5px 0;
}
/* line 134, ../partials/_theme.scss */
.dg-header .dg-topBar .dg-headerExtraLinks {
  margin: 12px 0 0 0;
  padding: 0;
  list-style: none;
  float: right;
}
/* line 139, ../partials/_theme.scss */
.dg-header .dg-topBar .dg-headerExtraLinks li {
  float: left;
  margin: 0 0 0 10px;
  padding: 0;
}
/* line 143, ../partials/_theme.scss */
.dg-header .dg-topBar .dg-headerExtraLinks li a {
  display: block;
  padding: 3px 15px;
  font-size: 10px;
  color: #fff;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
  font-weight: bold;
}
/* line 152, ../partials/_theme.scss */
.dg-header .dg-topBar .dg-headerExtraLinks li a:hover {
  background: rgba(0, 0, 0, 0.2);
}
/* line 159, ../partials/_theme.scss */
.dg-header .dg-mainNavBar {
  margin: 0;
  background: #333;
  border: none;
  border-radius: 0;
}
/* line 164, ../partials/_theme.scss */
.dg-header .dg-mainNavBar .navbar-collapse {
  padding: 0;
}
/* line 168, ../partials/_theme.scss */
.dg-header .dg-mainNavBar .navbar-collapse .navbar-nav li a {
  color: #eee;
  font-weight: 600;
  padding: 13px 20px 0;
  height: 50px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 174, ../partials/_theme.scss */
.dg-header .dg-mainNavBar .navbar-collapse .navbar-nav li a:hover {
  background: #3d3d3d;
}
/* line 179, ../partials/_theme.scss */
.dg-header .dg-mainNavBar .navbar-collapse .navbar-nav li.active a {
  background: #000;
}

/* Header */
/* Content */
/* line 193, ../partials/_theme.scss */
.dg-mainContentWrapper {
  display: table;
  width: 100%;
  table-layout: fixed;
  overflow: auto;
  height: 100%;
  padding-top: 98px;
  position: relative;
}
/* line 201, ../partials/_theme.scss */
.dg-mainContentWrapper .dg-sideBarContentLayout {
  display: table-row;
  height: 100%;
}
/* line 204, ../partials/_theme.scss */
.dg-mainContentWrapper .dg-sideBarContentLayout .dg-sideBarWrapper {
  background-color: #ffffff;
  vertical-align: top;
  width: 256px;
  display: table-cell;
  border-right: 1px solid #ddd;
  padding: 20px 10px;
  position: relative;
  overflow: hidden;
}
/* line 213, ../partials/_theme.scss */
.dg-mainContentWrapper .dg-sideBarContentLayout .dg-sideBarWrapper.dg-close {
  width: 0;
}
/* line 217, ../partials/_theme.scss */
.dg-mainContentWrapper .dg-sideBarContentLayout .dg-innerContentWrapper {
  vertical-align: top;
  width: 100%;
  display: table-cell;
  padding: 30px 15px 30px 30px;
  position: relative;
}
/* line 223, ../partials/_theme.scss */
.dg-mainContentWrapper .dg-sideBarContentLayout .dg-innerContentWrapper .dg-sideBarExpandBtn {
  position: absolute;
  left: -1px;
  top: 30px;
  font-size: 14px;
  padding: 3px 6px 4px 4px;
  background: #1691ac;
  color: #fff;
  border-radius: 0 6px 6px 0;
}

/* line 237, ../partials/_theme.scss */
.dg-sBWidget {
  margin-bottom: 20px;
}
/* line 239, ../partials/_theme.scss */
.dg-sBWidget .dg-sBWidgetHeader {
  background: #1691ac;
  color: #fff;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  padding: 5px 15px;
}
/* line 245, ../partials/_theme.scss */
.dg-sBWidget .dg-sBWidgetHeader .dg-sBWidgetTitle {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  float: left;
}
/* line 252, ../partials/_theme.scss */
.dg-sBWidget .dg-sBWidgetHeader .dg-sBWidgetHeaderLink {
  float: right;
  font-size: 10px;
  color: #fff;
  display: block;
}
/* line 259, ../partials/_theme.scss */
.dg-sBWidget .dg-sbWidgetBody {
  padding: 10px 0;
}

/* line 266, ../partials/_theme.scss */
.dg-form .form-group .form-control {
  border-radius: 1px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 274, ../partials/_theme.scss */
.dg-miniForm label {
  font-size: 12px;
}
/* line 277, ../partials/_theme.scss */
.dg-miniForm .checkbox {
  margin: 5px 0;
}
/* line 280, ../partials/_theme.scss */
.dg-miniForm .form-group {
  margin-bottom: 5px;
}
/* line 282, ../partials/_theme.scss */
.dg-miniForm .form-group .form-control {
  height: 27px;
  padding: 4px 12px;
  font-size: 12px;
}
/* line 287, ../partials/_theme.scss */
.dg-miniForm .form-group .input-group-addon {
  padding: 4px 12px;
}

/* line 293, ../partials/_theme.scss */
.dg-sideBarListNav {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 297, ../partials/_theme.scss */
.dg-sideBarListNav li {
  margin: 0 0 1px 0;
  padding: 0;
  background: #f5f5f5;
  position: relative;
}
/* line 302, ../partials/_theme.scss */
.dg-sideBarListNav li:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 0 4px 3px;
  border-color: transparent transparent transparent #1691ac;
  left: 10px;
  top: 8px;
}
/* line 313, ../partials/_theme.scss */
.dg-sideBarListNav li a, .dg-sideBarListNav li a:focus {
  font-size: 12px;
  padding: 3px 12px 3px 24px;
  display: block;
}
/* line 317, ../partials/_theme.scss */
.dg-sideBarListNav li a:hover, .dg-sideBarListNav li a:focus:hover {
  background: #ebebeb;
}

/* line 326, ../partials/_theme.scss */
.dg-pageHeader .dg-pageHeaderTop .dg-pageTitle {
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-weight: bold;
  text-transform: capitalize;
  float: left;
}
/* line 333, ../partials/_theme.scss */
.dg-pageHeader .dg-pageHeaderTop .dg-pageTitle .dg-pageMiniTitle {
  font-size: 16px;
  display: block;
}
/* line 338, ../partials/_theme.scss */
.dg-pageHeader .dg-pageHeaderTop .dg-pageExtraLinks {
  list-style: none;
  margin: 12px 0 0 0;
  padding: 0;
  float: right;
}
/* line 343, ../partials/_theme.scss */
.dg-pageHeader .dg-pageHeaderTop .dg-pageExtraLinks li {
  border-right: 1px dashed #ccc;
  float: left;
}
/* line 346, ../partials/_theme.scss */
.dg-pageHeader .dg-pageHeaderTop .dg-pageExtraLinks li:last-child {
  border: none;
}
/* line 349, ../partials/_theme.scss */
.dg-pageHeader .dg-pageHeaderTop .dg-pageExtraLinks li a, .dg-pageHeader .dg-pageHeaderTop .dg-pageExtraLinks li a:focus {
  display: block;
  padding: 2px 10px;
  font-size: 11px;
  color: #999;
  font-weight: 600;
}
/* line 355, ../partials/_theme.scss */
.dg-pageHeader .dg-pageHeaderTop .dg-pageExtraLinks li a:hover, .dg-pageHeader .dg-pageHeaderTop .dg-pageExtraLinks li a:focus:hover {
  text-decoration: underline;
}
/* line 362, ../partials/_theme.scss */
.dg-pageHeader .dg-backToLink {
  font-size: 11px;
  display: inline-block;
  text-transform: uppercase;
  color: #1691ac;
  font-weight: 600;
  margin-top: 10px;
}
/* line 369, ../partials/_theme.scss */
.dg-pageHeader .dg-backToLink .fa {
  font-size: 14px;
  margin-right: 5px;
}

/* line 377, ../partials/_theme.scss */
.dg-pageActionsLinks {
  text-align: center;
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
}
/* line 382, ../partials/_theme.scss */
.dg-pageActionsLinks > li {
  display: inline-block;
  margin: 0 3px;
}
/* line 385, ../partials/_theme.scss */
.dg-pageActionsLinks > li > a, .dg-pageActionsLinks > li > a:focus {
  display: block;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2px 16px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f7f7+0,eaeaea+100 */
  background: #f7f7f7;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #eaeaea));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f7f7f7 0%, #eaeaea 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#eaeaea',GradientType=0 );
  /* IE6-9 */
}
/* line 400, ../partials/_theme.scss */
.dg-pageActionsLinks > li > a .caret, .dg-pageActionsLinks > li > a:focus .caret {
  margin-left: 5px;
  position: relative;
  top: -1px;
}
/* line 405, ../partials/_theme.scss */
.dg-pageActionsLinks > li > a:hover, .dg-pageActionsLinks > li > a:focus:hover {
  background: #1691ac;
  border-color: #0c87a2;
  color: #fff;
}

/* line 414, ../partials/_theme.scss */
.dropdown-menu {
  font-size: 12px;
}

/* line 418, ../partials/_theme.scss */
.dg-table {
  background: #fff;
  font-size: 12px;
}
/* line 421, ../partials/_theme.scss */
.dg-table .form-control {
  font-size: 12px;
  height: 27px;
  padding: 4px 20px 4px 12px;
  border-radius: 2px;
  display: inline-block;
  background: url(/images/icons/search-mini-icon.png) no-repeat right center;
}
/* line 429, ../partials/_theme.scss */
.dg-table .dg-tableActionBtn, .dg-table .dg-tableActionBtn:focus, .dg-table .dg-tableActionBtn:hover {
  display: inline-block;
  margin: 0;
  padding: 0 2px 0 5px;
  color: #027d98;
  font-weight: 600;
  font-size: 15px;
}
/* line 437, ../partials/_theme.scss */
.dg-table input[type="checkbox"] {
  position: relative;
  top: 2px;
}
/* line 441, ../partials/_theme.scss */
.dg-table .dg-checkBoxTxt {
  margin-right: 5px;
}
/* line 444, ../partials/_theme.scss */
.dg-table tbody > tr > td, .dg-table tbody > tr > th, .dg-table tfoot > tr > td, .dg-table tfoot > tr > th, .dg-table thead > tr > td, .dg-table thead > tr > th {
  padding: 4px 8px;
  line-height: 25px;
}
/* line 449, ../partials/_theme.scss */
.dg-table thead tr {
  color: #fff;
  background: #1691AC;
}
/* line 452, ../partials/_theme.scss */
.dg-table thead tr th {
  border-bottom: none;
}

/* line 459, ../partials/_theme.scss */
.dg-tablePanelWrap {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0;
  border: 1px solid #ddd;
}
/* line 465, ../partials/_theme.scss */
.dg-tablePanelWrap .dg-tablePanelHead {
  margin: 0 0 15px 0;
}
/* line 467, ../partials/_theme.scss */
.dg-tablePanelWrap .dg-tablePanelHead .dg-tablePanelTitle {
  float: left;
  font-size: 16px;
  font-weight: 600;
}
/* line 471, ../partials/_theme.scss */
.dg-tablePanelWrap .dg-tablePanelHead .dg-tablePanelTitle small {
  font-size: 11px;
  display: block;
}
/* line 476, ../partials/_theme.scss */
.dg-tablePanelWrap .dg-tablePanelHead .dg-pageActionsLinks {
  float: right;
  margin: 0;
}

/* line 483, ../partials/_theme.scss */
.dg-collapsePanelWrap {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0;
  border: 1px solid #ddd;
}
/* line 489, ../partials/_theme.scss */
.dg-collapsePanelWrap .dg-collapsePanelHead {
  font-size: 16px;
  font-weight: 600;
  display: block;
  color: #333;
}
/* line 494, ../partials/_theme.scss */
.dg-collapsePanelWrap .dg-collapsePanelHead .dg-arrowClose {
  display: none;
}
/* line 498, ../partials/_theme.scss */
.dg-collapsePanelWrap .dg-collapsePanelHead.collapsed .dg-arrowClose {
  display: inline-block;
}
/* line 501, ../partials/_theme.scss */
.dg-collapsePanelWrap .dg-collapsePanelHead.collapsed .dg-arrowOpen {
  display: none;
}

/* line 508, ../partials/_theme.scss */
.dg-infoDivTable {
  margin: 20px 0;
}
/* line 510, ../partials/_theme.scss */
.dg-infoDivTable .form-group {
  margin: 0;
  padding: 3px 0;
  border-bottom: 1px solid #ddd;
}
/* line 515, ../partials/_theme.scss */
.dg-infoDivTable .form-control, .dg-infoDivTable .form-control:focus {
  height: 27px;
  padding: 4px 0;
  border: none;
  color: #333;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 522, ../partials/_theme.scss */
.dg-infoDivTable .form-control::-webkit-input-placeholder {
  font-style: italic;
}
/* line 525, ../partials/_theme.scss */
.dg-infoDivTable .form-control:-moz-placeholder {
  /* Firefox 18- */
  font-style: italic;
}
/* line 529, ../partials/_theme.scss */
.dg-infoDivTable .form-control::-moz-placeholder {
  /* Firefox 19+ */
  font-style: italic;
}
/* line 533, ../partials/_theme.scss */
.dg-infoDivTable .form-control:-ms-input-placeholder {
  font-style: italic;
}
/* line 536, ../partials/_theme.scss */
.dg-infoDivTable .control-label {
  padding-top: 5px;
  margin-bottom: 0;
  text-align: left;
}
/* line 541, ../partials/_theme.scss */
.dg-infoDivTable .form-control-static {
  min-height: 27px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* line 548, ../partials/_theme.scss */
.form-control {
  font-size: 12px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 555, ../partials/_theme.scss */
.dg-tabPanelWrap .nav-tabs > li > a {
  font-size: 13px;
  font-weight: bold;
}
/* line 559, ../partials/_theme.scss */
.dg-tabPanelWrap .nav-tabs > li.active > a, .dg-tabPanelWrap .nav-tabs > li.active > a:focus, .dg-tabPanelWrap .nav-tabs > li.active > a:hover {
  color: #1691ac;
}
/* line 562, ../partials/_theme.scss */
.dg-tabPanelWrap .tab-content {
  background: #fff;
  border: 1px solid #ddd;
  border-top: none;
  padding: 10px;
}

/* line 3, ../partials/_login.scss */
#signIn label {
  font-family: icon;
  text-shadow: 0 -1px 0 #666;
  -webkit-font-smoothing: antialiased;
}

/* line 8, ../partials/_login.scss */
#block, #option {
  width: 230px;
  height: 113px;
  margin: auto;
}

/* line 13, ../partials/_login.scss */
#block {
  background: #1691ac;
  margin-top: 100px;
}

/* line 17, ../partials/_login.scss */
#block:before {
  content: '';
  display: block;
  width: 230px;
  height: 3px;
}

/* line 24, ../partials/_login.scss */
#block:after {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  background: #1691ac;
  transform: rotate(-45deg);
  margin: 10px 18px;
  position: absolute;
}

/* line 34, ../partials/_login.scss */
#block label, #submit {
  position: absolute;
  width: 33px;
  height: 32px;
  background: #dedede;
  margin: 15px;
  text-align: center;
  line-height: 2.6;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

/* line 45, ../partials/_login.scss */
.errorMsg {
  font-size: 12px !important;
  color: #1691ac;
  text-transform: none !important;
}

/* line 50, ../partials/_login.scss */
#block label#pass {
  position: absolute;
  width: 33px;
  background: #dedede;
  margin: -5px 15px;
}

/* line 56, ../partials/_login.scss */
#submit {
  color: #eee;
  border: 0;
  margin: -27px 182px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  font-family: icon;
  background: #333;
  font-size: 12px;
  line-height: 2.8;
  padding: 0;
}

/* line 70, ../partials/_login.scss */
#submit:hover {
  color: #eee;
  cursor: pointer;
  background: #3d3d3d;
}

/* line 75, ../partials/_login.scss */
#user, #pass {
  box-shadow: 0.1px 0 2px #6c5B6d;
}

/* line 78, ../partials/_login.scss */
#block input[type=text], #block input[type=password], #option p {
  font-family: 'Open Sans';
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

/* line 83, ../partials/_login.scss */
#block input[type=text], #block input[type=password] {
  width: 200px;
  height: 32px;
  margin: 15px 15px;
  border: 0;
  border-radius: 2px;
  outline: 0;
  display: block;
  font-size: 18px;
}

/* line 93, ../partials/_login.scss */
#block input[type=password] {
  width: 200px;
  height: 32px;
  margin: -5px 15px;
}

/* line 98, ../partials/_login.scss */
#submit {
  font-size: 12px;
  font-weight: bold;
}

/* line 102, ../partials/_login.scss */
#option {
  width: 230px;
  height: 80px;
  overflow: hidden;
  margin: auto;
}

/* line 108, ../partials/_login.scss */
#option p {
  font-size: 24px;
  text-transform: uppercase;
  padding: 0px 18px;
  margin-top: 15px;
  display: block;
  float: left;
  -webkit-font-smoothing: antialiased;
  /*text-shadow:0 -1px 0 #000;*/
}

/* line 118, ../partials/_login.scss */
#option a {
  -webkit-font-smoothing: antialiased;
  /*text-shadow:0 -1px 0 #000;*/
  font-size: 12px;
  display: block;
  float: right;
  margin: 26px 15px;
}

/* line 127, ../partials/_login.scss */
#signIn input {
  padding-left: 40px;
}

/* line 128, ../partials/_login.scss */
#block:active > #block:before {
  background-position: 100px 100px;
}

/* line 131, ../partials/_login.scss */
.orangeBg {
  background: #F47414 !important;
}

/* line 134, ../partials/_login.scss */
.submitBtn {
  background: #EEEEEE !important;
}

/* line 137, ../partials/_login.scss */
.blueBorder {
  border: 1px solid #1691ac;
}
